<template>
    <div class="auth">
        <Header />
        <v-form @submit.prevent="loginUser">
            <v-layout column md6 max-w-md mx-auto py-4 class="wow fadeInUp delay-1s slow">
                <v-card md6 class="py-3" color="blue darken-3 white--text" :elevation="20">
                    <v-flex mb-3>
                        <h2 class="text-xs-center font-weight-regular">Sign In</h2>
                    </v-flex>
                    <div class="w-75 mx-auto" id="auth">
                        <label class="font-weight-regular">Email</label>
                        <v-text-field color="blue darken-3 white--text" prepend-inner-icon="account_circle" light solo label="Username/Email" v-model="user.name" class="my-text-style" placeholder="kiitec@gmail"></v-text-field>
                        <div>
                            <small class="text-danger" style="color: red;" v-if="loginErrors.has('email')">{{ loginErrors.first('email') }}</small>
                            <br/>
                        </div>
                        <label>Password</label>
                        <v-text-field solo type="password" label="Password" prepend-inner-icon="lock" v-model="user.password" class="" placeholder="***********"></v-text-field>
                        <small
                                class="text-danger"
                                v-if="loginErrors.has('password')"
                        >{{ loginErrors.first('password') }}</small>
                    </div>

                    <v-flex max-w-xs mx-auto w-75 mb-1 text-xs-center>
                        <a color="transparent" class="w-75" to="/forgot">Forgot Password? </a >
                    </v-flex>
                    <v-flex max-w-xs mx-auto w-75 text-xs-center mt-1>
                        <v-btn
                                type="submit"
                                :loading="loading"
                                :disabled="loading"
                                color="white black--text"
                                class="w-100"
                        >
                            Sign In
                            <template v-slot:loader>
                                <img src="@/assets/img/preloader.gif" alt="Loading" height="40px" />
                            </template>
                        </v-btn>
                    </v-flex>

                    <v-flex max-w-xs mx-auto w-100 mt-2 text-xs-center>
                        <p color="transparent" text-xs-center class="w-100"
                        >Don't have an account? </p>
                    </v-flex>
                    <v-flex max-w-xs mx-auto w-75 text-xs-center mt-1>
                        <v-btn  class="w-100 signup-btn" to="/register">Sign Up</v-btn>
                    </v-flex>
                </v-card>
            </v-layout>
        </v-form>

        <Snackbar :data="snackbar" />
    </div>
</template>

<script>
    import Header from '@/components/Header';
    import Snackbar from '@/components/Snackbar';
    import mixin from '@/assets/mixin';

    import * as action from '@/store/actionTypes';
    import {Errors} from 'form-backend-validation';
    import {mapActions, mapGetters, mapState} from 'vuex';
    import {LOGIN} from '../../store/actionTypes';

    export default {
        components: {
            Header,
            Snackbar
        },
        mixins: [mixin],
        data() {
            return {
                user: {
                    name: '',
                    password: ''
                },
                loading: false
            };
        },
        computed: {
            ...mapGetters(['loginErrorData']),
            ...mapState(['authUser']),
            loginErrors() {
                return this.loginErrorData
                    ? new Errors(this.loginErrorData)
                    : new Errors({});
            }
        },
        methods: {
            loginUser() {
                if (this.user.name && this.user.password) {
                    this.loading = true;

                    const details = {
                        email: this.user.name,
                        password: this.user.password
                    };

                    this.$store.dispatch(`${LOGIN}`, details).then(resp => {
                        if (!resp) {
                            this.loading = false;
                            // this.snackbar.show = true;
                            // this.snackbar.text = Object.values(resp.error)[0][0];
                            // this.snackbar.color = 'error';
                        } else {
                            this.$router.push({ name: 'dashboard' });
                            // this.$store.dispatch(action.GET_ONBOARD_STATUS, this.$store.state.authUser.id)
                            //     .then(resp => {
                            //         if (resp) this.$router.push({ name: 'dashboard' });
                            //         else this.$router.push({ name: 'gettingstarted' });
                            //     });
                        }
                    });
                } else {
                    this.snackbar.show = true;
                    this.snackbar.text = 'Fill in your email and password';
                    this.snackbar.color = 'error';
                }
            }
        }
    };
</script>
<style lang="scss" scoped>
    .auth{
        background-image: url(https://res.cloudinary.com/syfon/image/upload/v1566985800/auth.png);
        background-size: cover;
    }
    .blue.darken-3 {
        background-color: #156697!important;
        border-color: #1565c0 !important;
    }
    .signup-btn{
        background:#00D36E!important;
    }
    .my-text-style >>> .v-text-field__slot input {
        color: red!important;
    }
    small{
font-size: 120%!important;
    }
</style>
