<template>
    <div class="auth">
        <Header/>
        <v-layout column max-w-2xl w-75 mx-auto py-4 class="fadeInUp delay-3s slow">
            <v-card md6 p-4 class="p-4" color="blue darken-3 white--text" :elevation="20">
                <div class="signup">
                    <h2 class="my-3 text-xs-center font-weight-regular">Become a Vendor</h2>
                    <v-divider color="white"></v-divider>
                </div>

                <div class="w-85 mx-auto">
                    <ValidationObserver ref="registerForm">
                        <v-form @submit.prevent="register" v-model="valid" lazy-validation>
                        <v-container grid-list-xl pa-0>
                            <v-layout row wrap>
                                <v-flex xs12 mt-4>
                                    <h3 class="border-bottom pb-3">Store Details</h3>
                                </v-flex>
                                <v-flex xs12 sm6>
                                    <h4 class="mb-2 font-weight-regular">
                                        Store Name
                                        <span class="input-error" v-if="errors.first('storename')">&nbsp;**{{ errors.first("storename") }}</span>
                                    </h4>
                                    <ValidationProvider name="storename" rules="required">
                                        <v-text-field
                                                slot-scope="{errors,valid}"
                                                :error-messages="errors"
                                                :success="valid"
                                                solo
                                                class=""
                                                name="storename"
                                                label="Store Name"
                                                v-model="storeDetails.name"
                                        ></v-text-field>
                                    </ValidationProvider>
                                </v-flex>

                                <v-flex xs12 sm6>
                                    <h4 class="mb-2 font-weight-regular">
                                        Store URL
                                        <span
                                                class="input-error"
                                                v-if="errors.first('storeurl')"
                                        >&nbsp;**{{ errors.first("storeurl") }}</span>
                                    </h4>
                                    <ValidationProvider name="storeurl" rules="required|uniqueSlug">

                                        <v-text-field
                                                slot-scope="{errors,valid}"
                                                :error-messages="errors"
                                                :success="valid"
                                                prefix="www.kiitec.com/"
                                                hint="This is autofilled"
                                                solo
                                                name="storeurl"
                                                readonly
                                                label="Store URL"
                                                v-model="storeDetails.slug"
                                        >
                                        <v-select

                                            disabled
                                            label="Disabled"
                                        ></v-select> {{sluggedName}}</v-text-field>
                                    </ValidationProvider>
                                </v-flex>
                            </v-layout>

                            <v-layout row wrap>
                                <v-flex xs12 sm6>
                                    <h4 class="mb-2 font-weight-regular">
                                        Store Description
                                        <span
                                                class="input-error"
                                                v-if="errors.first('storedescription')"
                                        >&nbsp;**{{ errors.first("storedescription") }}</span>
                                    </h4>
                                    <ValidationProvider name="storedescription" rules="required">
                                        <v-text-field
                                                slot-scope="{errors,valid}"
                                                :error-messages="errors"
                                                :success="valid"
                                                solo
                                                name="storedescription"
                                                label="Brief description of your store"
                                                v-model="storeDetails.description"
                                        ></v-text-field>
                                    </ValidationProvider>
                                </v-flex>

                                <v-flex xs12 sm6 >
                                    <h4 class="mb-2 font-weight-regular">
                                        Store Address
                                        <span
                                                class="input-error"
                                                v-if="errors.first('storeaddress')"
                                        >&nbsp;**{{ errors.first("storeaddress") }}</span>
                                    </h4>
                                    <ValidationProvider name="storeaddress" rules="required">
                                    <v-text-field
                                            solo
                                            slot-scope="{errors,valid}"
                                            :error-messages="errors"
                                            :success="valid"
                                            name="storeaddress"
                                            label="Where is your store located"
                                            v-model="storeDetails.address"
                                    ></v-text-field>
                                    </ValidationProvider>
                                </v-flex>

                                <v-flex xs12 sm6>
                                    <h4 class="mb-2 font-weight-regular">Country</h4>
                                    <ValidationProvider name="storecountry" rules="required">
                                        <v-autocomplete
                                                slot-scope="{errors,valid}"
                                                :error-messages="errors"
                                                :success="valid"
                                                solo
                                                name="storecountry"
                                                label="Country"
                                                v-model="storeDetails.country"
                                                :items="countries"
                                                item-text="name"
                                                item-value="id"
                                                return-object
                                                @change="selectCountry"
                                        ></v-autocomplete>
                                    </ValidationProvider>
                                </v-flex>

                                <v-flex xs12 sm6>
                                    <h4 class="mb-2 font-weight-regular">State</h4>
                                    <ValidationProvider name="storestate" rules="required">
                                        <v-autocomplete
                                                slot-scope="{errors,valid}"
                                                :error-messages="errors"
                                                :success="valid"
                                                solo
                                                name="storestate"
                                                label="State"
                                                v-model="storeDetails.state"
                                                :items="states"
                                                item-text="name"
                                                item-value="id"
                                                return-object
                                                @change="selectState"
                                        ></v-autocomplete>
                                    </ValidationProvider>
                                </v-flex>
                            </v-layout>
                            <v-layout row wrap>
                                <!-- <v-flex xs12 sm6>
                                    <h4 class="mb-2 font-weight-regular">Local Government</h4>
                                    <ValidationProvider name="storeLocalGovernment" rules="required">
                                        <v-autocomplete
                                                slot-scope="{errors,valid}"
                                                :error-messages="errors"
                                                :success="valid"
                                                solo
                                                name="storeLocalGovernment"
                                                label="Local Government"
                                                v-model="storeDetails.local_government_id"
                                                :items="localGovernments"
                                                item-text="name"
                                                item-value="id"
                                                return-object
                                        ></v-autocomplete>
                                    </ValidationProvider>
                                </v-flex> -->

                                <v-flex xs12 sm6>
                                    <h4 class="mb-2 font-weight-regular">City</h4>
                                    <ValidationProvider name="storecity" rules="required">
                                        <v-select
                                                slot-scope="{errors,valid}"
                                                :error-messages="errors"
                                                :success="valid"
                                                solo
                                                name="storecity"
                                                label="Store City"
                                                v-model="storeDetails.city"
                                                :items="cities"
                                                item-text="name"
                                                item-value="id"
                                                return-object
                                        ></v-select>
                                    </ValidationProvider>
                                </v-flex>


                                <v-flex xs12 sm6>
                                    <h4 class="mb-2 font-weight-regular">
                                        Select Industry
                                        <span class="input-error" v-if="errors.first('industry')" >&nbsp;**{{ errors.first("industry") }}</span>
                                    </h4>
                                    <ValidationProvider name="industry" rules="required">
                                        <v-select
                                                solo
                                                name="industry"
                                                label="Industry"
                                                v-model="storeDetails.industry"
                                                :items="industries"
                                                item-text="name"
                                                item-value="id"
                                                return-object
                                                slot-scope="{errors,valid}"
                                                :error-messages="errors"
                                                :success="valid"
                                                @change="selectIndustry"
                                        ></v-select>
                                    </ValidationProvider>
                                </v-flex>

                            </v-layout>

                            <v-layout row wrap>
                                <v-flex xs12 sm6>
                                    <h4 class="mb-2 font-weight-regular">
                                        Email Address
                                        <span
                                                class="input-error"
                                                v-if="errors.first('email')"
                                        >&nbsp;**{{ errors.first("email") }}</span>
                                    </h4>
                                    <ValidationProvider name="email" rules="required|email|uniqueEmail">
                                        <v-text-field
                                                slot-scope="{errors,valid}"
                                                :error-messages="errors"
                                                :success="valid"
                                                solo
                                                name="email"
                                                v-model="storeDetails.email"
                                                label="Email"
                                        ></v-text-field>
                                    </ValidationProvider>
                                </v-flex>

                                <v-flex xs12 sm6>
                                    <h4 class="mb-2 font-weight-regular">
                                        Phone
                                        <span
                                                class="input-error"
                                                v-if="errors.first('phone')"
                                        >&nbsp;**{{ errors.first("phone") }}</span>
                                    </h4>
                                    <ValidationProvider name="phone" rules="required|phoneNumber">
                                        <v-text-field
                                                solo
                                                name="phone"
                                                label="+2348000000000"
                                                hint="use this format +234800000000"
                                                v-model="storeDetails.phone"
                                                slot-scope="{errors,valid}"
                                                :error-messages="errors"
                                                :success="valid"
                                        ></v-text-field>
                                    </ValidationProvider>
                                </v-flex>

                                <v-flex xs12 sm6>
                                    <h4 class="mb-2 font-weight-regular">
                                        Password
                                        <span
                                                class="input-error"
                                                v-if="errors.first('password')"
                                        >&nbsp;**{{ errors.first("password") }}</span>
                                    </h4>
                                    <ValidationProvider name="password" rules="required|confirmed:confirmation">
                                        <v-text-field
                                                slot-scope="{errors,valid}"
                                                :error-messages="errors"
                                                :success="valid"
                                                solo
                                                name="password"
                                                v-model="storeDetails.password"
                                                label="Password"
                                                
                                                v-validate="'required'"
                                                type="password"
                                        ></v-text-field>
                                    </ValidationProvider>
                                </v-flex>

                                <v-flex xs12 sm6>
                                    <h4 class="mb-2 font-weight-regular">
                                        Confirm Password
                                        <span
                                                class="input-error"
                                                v-if="errors.first('password_confirmation')"
                                        >&nbsp;**{{ errors.first("password_confirmation") }}</span>
                                    </h4>
                                    <ValidationProvider name="confirmation" rules="required" vid="confirmation">
                                        <v-text-field
                                                solo
                                                name="confirmation"
                                                label="Confirm Password"
                                                v-model="storeDetails.password_confirmation"
                                                v-validate="'required'"
                                                mode="lazy"
                                                slot-scope="{errors,valid}"
                                                :error-messages="errors"
                                                :success="valid"
                                                type="password"
                                        ></v-text-field>
                                    </ValidationProvider>
                                </v-flex>

                                <!-- <v-flex xs12 sm6>
                                    <h4 class="mb-2 font-weight-regular">
                                        Select Category
                                        <span
                                                class="input-error"
                                                v-if="errors.first('category')"
                                        >&nbsp;**{{ errors.first("category") }}</span>
                                    </h4>

                                    <ValidationProvider name="category" rules="required">
                                        <v-select
                                                solo
                                                name="category"
                                                label="Category"
                                                v-model="storeDetails.category"
                                                :items="categories"
                                                item-text="name"
                                                item-value="id"
                                                v-validate="'required'"
                                                slot-scope="{errors,valid}"
                                                :error-messages="errors"
                                                :success="valid"
                                        ></v-select>
                                    </ValidationProvider>
                                </v-flex> -->
                            </v-layout>

                            <v-layout>
                                <v-flex max-w-xs mx-auto mb-3 w-75 text-xs-center>
                                    <v-btn
                                            type="submit"
                                            :loading="loading"
                                            :disabled="loading"
                                            color=""
                                            class="w-100 signup-btn"
                                    >
                                        Continue
                                        <template v-slot:loader>
                                            <img src="@/assets/img/preloader.gif" alt="Loading" height="40px">
                                        </template>
                                    </v-btn>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-form>
                    </ValidationObserver>
                </div>
            </v-card>
        </v-layout>
        <v-dialog v-model="showRedirect" persistent max-width="500px" transition="dialog-transition">
            <v-card class="pb-4">
                <v-card-title class="error pa-2">
                    <h3 class="font-weight-regular white--text">Unauthorized User</h3>
                </v-card-title>
                <v-card-text class="text-xs-center">
                    Oops!!
                    <br>Looks like you are yet to register on our platform
                    <a
                            href="https://kiitec.com/register"
                            class="success--text"
                    >kiitec.com</a>
                    <br>Register on
                    <a href="https://kiitec.com/register" class="success--text">kiitec.com</a> to become a vendor
                    <br>
                    <br>You will be redirected shortly...
                </v-card-text>
                <v-card-actions>
                    <v-layout row wrap text-xs-center>
                        <v-flex xs12>
                            <a href="https://kiitec.com/register" class="h-100 mx-0 w-85 v-btn success">Proceed</a>
                        </v-flex>
                    </v-layout>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <Snackbar :data="snackbar"/>
    </div>
</template>

<script>
    import Header from '@/components/Header';
    import Snackbar from '@/components/Snackbar';

    import mixin from '@/assets/mixin';

    import * as action from '@/store/actionTypes';

    import { kebabCase } from 'lodash';

    import { ValidationProvider, ValidationObserver } from 'vee-validate';

    export default {
        components: {
            Header,
            Snackbar,
            ValidationProvider,
            ValidationObserver
        },
        mixins: [mixin],
        data() {
            return {
                storeDetails: {
                    name: '',
                    slug: '',
                    email: '',
                    phone: '',
                    password: '',
                    description: '',
                    address: '',
                    city: '',
                    state: '',
                    country: '',
                    industry: '',
                    password_confirmation: '',
                    // local_government_id: '',
                },
                categories: [],
                showRedirect: false,
                complete: true,
                loading: false,
                valid: false,
            };
        },
        computed: {
            countries() {
                return this.$store.getters.getCountries;
            },
            states() {
                return this.$store.getters.getStates;
            },
            cities() {
                return this.$store.getters.getCities;
            },
            localGovernments() {
                return this.$store.getters.getLocalGovernments;
            },
            industries() {
                return this.$store.getters.getIndustries;
            },
            sluggedName() {
                return kebabCase(this.storeDetails.name);
            }
        },
        methods: {
            async submit() {
                const result = await this.$refs.obs.validate();
            },
            selectCountry(value) {
                this.storeDetails.city = '';
                this.storeDetails.state = '';
                this.storeDetails.country = value.id;
                this.$store.dispatch(action.GET_STATES, value.id);
            },
            selectState(value) {
                this.storeDetails.city = '';
                this.storeDetails.state = value.id;
                this.$store.dispatch(action.GET_CITIES, value.id);
                this.$store.dispatch(action.GET_LOCAL_GOVERNMENTS, value.id);
            },
            selectIndustry(value) {
                this.storeDetails.industry = value.id;
                this.categories = value.subcategories;
            },
            checkComplete(obj) {
                Object.values(obj).forEach(el => {
                    if (!el) this.complete = false;
                });
            },
            async register() {
                if (!(await this.$refs.registerForm.validate())) {
                    return;
                }
                const details = {
                    name: this.storeDetails.name,
                    slug: this.storeDetails.slug || kebabCase(this.storeDetails.name),
                    description: this.storeDetails.description,
                    street_address: this.storeDetails.address,
                    city_id: this.storeDetails.city.id,
                    state_id: this.storeDetails.state,
                    country_id: this.storeDetails.country,
                    contact_phone: this.storeDetails.phone,
                    contact_email: this.storeDetails.email,
                    email: this.storeDetails.email,
                    password: this.storeDetails.password,
                    password_confirmation: this.storeDetails.password_confirmation,
                    product_category_id: this.storeDetails.industry,
                    // product_subcategory_id: this.storeDetails.category,
                    // local_government_id: this.storeDetails.local_government_id.id
                };

                window.console.log(this.storeDetails.city);
                this.checkComplete(details);
                if (this.complete) {
                    this.loading = true;
                    this.$store.dispatch(action.REGISTER, details).then(resp => {
                        this.loading = false;
                        if (typeof resp == 'object' && resp.type == 'error') {
                            if (resp.message == 'Unauthenticated.') {
                                this.snackbar.show = true;
                                this.snackbar.text = 'Unregistered User';
                                this.snackbar.color = 'error';
                                setTimeout(() => {
                                    this.showRedirect = true;
                                }, 1000);
                                setTimeout(() => {
                                    window.location.href = 'https://www.kiitec.com/register';
                                }, 4500);
                            } else {
                                this.snackbar.show = true;
                                this.snackbar.text = Object.values(resp.error)[0][0];
                                this.snackbar.color = 'error';
                            }
                        } else if (resp) {
                            this.snackbar.show = true;
                            this.snackbar.text = 'Vendor created successfully';
                            this.snackbar.color = 'primary';
                            setTimeout(() => {
                                this.$router.push({ path: '/welcome' });
                            }, 2000);
                        } else {
                            this.snackbar.show = true;
                            this.snackbar.text = 'There was an error creating vendor';
                            this.snackbar.color = 'error';
                        }
                    });
                } else {
                    this.snackbar.show = true;
                    this.snackbar.text = 'Fill in all fields';
                    this.snackbar.color = 'error';
                }
            }
        },
        mounted() {
            this.$store.dispatch(action.GET_INDUSTRIES);
            this.$store.dispatch(action.GET_COUNTRIES);
        },
        watch: {
            sluggedName: function (newVal, oldVal) {
                this.storeDetails.slug = newVal
            }
        }
    };
</script>
<style lang="scss" scoped>
    .auth{
        background-image: url(https://res.cloudinary.com/syfon/image/upload/v1566985800/auth.png);
        // background-size: cover;
    }
    .blue.darken-3 {
        background-color: #156697!important;
        border-color: #1565c0 !important;
    }
    .signup-btn{
        background:#00D36E!important;
    }
    .container.grid-list-xl .layout .flex{
        padding:0 8px;
    }
    
</style>
