<template>
  <v-app>
    <v-content>
      <v-container grid-list-xl>
        <v-layout row wrap>
          <v-flex xs3 sm3 md3 lg3>
            <v-navigation-drawer
                    class="px-3 py-4 blue-bg">
              <v-menu
                      color="white"
                      max-width="550px"
                      min-width="350px"
                      :close-on-content-click="false"
                      offset-x
                      v-for="(feature, index) in currentCustomization.features" :key="index">
                      <template #activator="{ on: menu }">
                        <v-tooltip bottom>
                          <template #activator="{ on: tooltip }">
                            <v-card class="card my-3 text-md-center">
                              <div class="row">
                                <b v-if="!feature.removing" @click="removeFeature(feature)" class="fas fa-window-close	" style="color: red; cursor: pointer;"></b>
                                <b v-else class="fas fa-spinner fa-pulse" style="color: red; cursor: pointer;"></b>
                              </div>
                              <img style="cursor:pointer;" @click="showFeature(feature)" :src="feature.image || 'https://res.cloudinary.com/syfon/image/upload/v1577369125/Cake.png'" v-on="{ ...tooltip, ...menu }" class="img-fluid custom-image pt-2"/>
                              <p class="text-md-center">{{ feature.name }}</p>
                            </v-card>
                          </template>
                          <span>Click to see {{ feature.name }}</span>
                        </v-tooltip>
                      </template>

                <h4 class="text-xs-center py-2">{{ feature.name }}</h4>
                <v-divider></v-divider>

                <template v-if="feature.properties.type === 'select'">
                  <v-list  v-for="(item, index) in feature.properties.options"
                          :key="index" class="z-100">
                    <v-list-tile
                            avatar
                            class="my-2">
                      <v-list-tile-action>
                          <v-icon color="red" style="cursor: pointer" @click="removeOption(feature, item)">delete</v-icon>
<!--                        <v-checkbox v-model="customize"></v-checkbox>-->
                      </v-list-tile-action>

                      <v-list-tile-avatar>
                        <img :src="item.image || 'https://res.cloudinary.com/syfon/image/upload/v1577369125/Cake.png'"
                             class="img-fluid subcustom-image"
                        />
                      </v-list-tile-avatar>

                      <v-list-tile-content>
                        <v-list-tile-title class="pb-3"><h4>{{item.name}}</h4></v-list-tile-title>
                      </v-list-tile-content>

                      <v-list-tile-content>
                        <v-list-tile-title class="pb-3"><h4>+{{ item.price }}</h4></v-list-tile-title>
                      </v-list-tile-content>

                    </v-list-tile>
                    <v-divider></v-divider>
                  </v-list>

                  <AddOptionForm :feature="feature"></AddOptionForm>
                </template>
              </v-menu>


              <v-card
                      color="white"
                      flat
                      height="120px"
                      width="100%"
                      max-width="220px"
                      class="card text-md-center z-100"
                      @click="openNewFeatureModal = true"
                      style="cursor: pointer;"
              >
                <img src="@/assets/img/add-new.svg" alt="Add Product"  class="img-fluid custom-image pt-2">
                <p class="text-md-center">Add Feature</p>
              </v-card>

            </v-navigation-drawer>
          </v-flex>

          <v-flex xs8 sm9>
            <v-container  class="">
              <h2>{{ currentCustomization.name }}</h2>
              <v-layout row wrap class="pt-5">
                <v-flex xs12 sm9 lg9 md9>
                  <img :src="currentPicture" class="shirt img-fluid">
                </v-flex>
                <v-flex xs12 sm3 lg3 md3>
                  <div class="my-5"></div>
                  <div class="amount-box text-xs-center my-5">
                    <h3>N 0.00</h3>
                  </div>
                  <div class="mt-5 pt-5">
                    <v-btn class="mt-5 px-5 add-btn"> Add to Shelf</v-btn>
                  </div>
                </v-flex>
              </v-layout>
            </v-container>
            <v-dialog v-model="openNewFeatureModal" max-width="500px" transition="dialog-transition">
              <AddNewCustomizationFeatureModal @featureAdded="openNewFeatureModal = false" :open-modal="openNewFeatureModal"></AddNewCustomizationFeatureModal>
            </v-dialog>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>

</template>

<script>
    import {GET_CUSTOMIZATION, REMOVE_CUSTOMIZATION_FEATURE, REMOVE_FEATURE_OPTION} from '../../store/actionTypes';
  import AddNewCustomizationFeatureModal from './modals/AddNewCustomizationFeatureModal';
  import AddOptionForm from './partials/AddOptionForm';
  import {toast} from '../../helpers/alert';

  export default {
    components: {
      AddNewCustomizationFeatureModal, AddOptionForm
    },
    data () {
      return {
        feature: {
          name: '',
          type: '',
          options: [],
          unit: '',
        },
        featureName: '',
        featureOption: '',
        featureUnit: '',
        checkbox: false,
        customize: false,
        openNewFeatureModal: false,
        description: '',
        //  customize: '',
        price: '',

        product: 'Cake Customization',
        featurePictureTobeDisplayed: null,
        products: [
          { image: 'https://res.cloudinary.com/syfon/image/upload/v1577369125/Cake.png',
            name: 'Cake Size',
            items: [
              { image: 'https://res.cloudinary.com/syfon/image/upload/v1577369125/Cake.png', title: '6 Inches', price: 'N10,000'},
              { image: 'https://res.cloudinary.com/syfon/image/upload/v1577369125/Cake.png', title: '7 Inches', price: 'N10,000'},
              { image: 'https://res.cloudinary.com/syfon/image/upload/v1577369125/Cake.png', title: '8 Inches', price: 'N10,000'},
              { image: 'https://res.cloudinary.com/syfon/image/upload/v1577369125/Cake.png', title: '9 Inches', price: 'N10,000'},
              { image: 'https://res.cloudinary.com/syfon/image/upload/v1577369125/Cake.png', title: '10 Inches', price: 'N10,000'},
            ]
          }
        ],
        right: null,
        options: [{
          value: 'Multiple Options',
          label: 'Multiple Options'
        }, {
          value: 'Text',
          label: 'Text'
        }, {
          value: 'Number',
          label: 'Number'
        },
        ],
        value: '',
      }
    },
    computed: {
      currentCustomization() {
        return this.$store.getters.getCurrentCustomization;
      },
        features() {
          return (this.currentCustomization.features || []).map(feature => {
              return {
                  value: feature,
              }
          })
        },
      currentPicture() {
        return this.featurePictureTobeDisplayed || 'https://res.cloudinary.com/syfon/image/upload/v1577369125/Cake.png';
      }
    },
    beforeRouteEnter(to, from, next) {
      next(vm => vm.loadCustomizationFeatures(to.params.id));
    },
    methods: {
      loadCustomizationFeatures(customizationId) {
        this.$store.dispatch(GET_CUSTOMIZATION, customizationId);
      },
        removeOption(feature, option) {
            this.$store.dispatch(REMOVE_FEATURE_OPTION, {feature_id: feature.id, value: option.value }).then(data => {
                this.$store.dispatch(GET_CUSTOMIZATION, this.$store.getters.getCurrentCustomization.id);
            }).catch(e => toast('An error occured, please refresh!', 'error'));
        },
      removeFeature(feature) {
        feature.removing = true;

        this.$store
                .dispatch(REMOVE_CUSTOMIZATION_FEATURE, { feature, customizationId: this.currentCustomization.id })
                .then((done) => {
                  if (done) {
                    this.$store.dispatch(GET_CUSTOMIZATION, this.currentCustomization.id);
                    toast(`Feature Removed!`, 'success');
                  }

                  feature.removing = false;
                });
      },
      showFeature(feature) {
        this.featurePictureTobeDisplayed = feature.image;
      }
    }
  }
</script>
<style lang="scss" scoped>
  .v-navigation-drawer{
    max-width:150px;
    transform: translateX(0px)!important;
  }
  .card{
    border-radius: 5px;
  }
  .blue-bg{
    background-color: #38B4FF;
  }
  .add-btn{
    background-color: #1E97E0!important;
    color: white;
  }
  .create-btn:hover{
    background-color: #38B4FF!important;
    color: white;
  }
  .custom-image{
    max-height: 90px;
  }
  .add-image{
    max-height:22px;
  }
  .subcustom-image{
    max-height: 75px;
  }
  .shirt{
    max-height: 450px;
  }
  #app{
    margin:0;
    background-color: #fff;
  }
  .amount-box{
    border-radius: 10px;
    border: 1px solid #000
  }
  .create-btn{
    background: #00CFF6;
    color: white;
  }
  .cardd{
    border-radius:20px;
  }
  .el-checkbox.is-bordered{
    width:100%!important;
    text-align:left;
  }
  .avatar-uploader .el-upload {
    border:3px solid red!important;
  }
  .el-select{
    width:100%!important;
  }
  .addOption-btn {
    border: none !important;
    background-color:#fff!important;
    border-radius: 5px;
    color:#38B4FF;
    text-align:center;
    &.primary-border {
      border: 1px solid $primary !important;
      // color: $primary;
    }
  }
  .add-option{
    font-weight:800!important;
    font-size:18px!important;
  }
  .v-menu__content{
background:#fff!important;
  }
</style>
