<template>
    <v-app>
        <v-content> 
            <v-container grid-list-lg>
                <v-layout row wrap>
                    <v-flex xs7 sm9 md-9 lg-9>
                        <h2>Products Customization</h2>
                    </v-flex>
                    <v-flex xs5 sm3 md-3 lg-3 float-xs-right text-xs-right>
                        <v-btn @click="addNewCustom= true" class="ma-0 px-3 py-0 add-btn text-xs-right">New Customization</v-btn>
                    </v-flex>
                </v-layout>
                <v-divider></v-divider>

                <v-layout row wrap relative class="mt-3">
                    <v-flex xs6 sm6 md3 mb-5 v-for="(customization, i) in customizations" :key="i">
                        <v-card
                                color="white"
                                max-width="220px"
                                class="p-unset mx-auto"
                                height="200px"
                        >
                            <div class="row my-0 py-0">
                                <template v-if="!customization.archiving">
                                    <i  class="fas fa-window-close ml-2 mr-3" @click="archiveCustomization(customization)" style="color: red; cursor: pointer;"></i>
                                    <i class="fas fa-pen" @click="startCustomizationEdit(customization)" style="cursor: pointer;"></i>
                                </template>

                                <i v-else class="fas fa-spinner fa-pulse ml-2 mr-3" style="color: red; cursor: pointer;"></i>

                            </div>
                            <v-layout align-center h-100 justify-center class="px-3" style="cursor:pointer;" @click="viewCustomization(customization)">
<!--                                <img-->
<!--                                        :src="custom.picture"-->
<!--                                        :alt="custom.name"-->
<!--                                        width="80%"-->
<!--                                        class="product-img"-->
<!--                                >-->
                                <img src="@/assets/img/big-star.svg" :alt="customization.name" width="100px">
                            </v-layout>
                            <div>
                                <h4>{{ customization.name }}</h4>
                            </div>
                        </v-card>
                    </v-flex>
                    <v-flex xs6 sm6 md3 mb-5 mt-2>
                        <v-card
                                color="white"
                                flat
                                height="200px"
                                width="100%"
                                max-width="220px"
                                class="mx-auto"
                                style="cursor:pointer;"
                                @click="addNewCustom= true"
                        >
                            <v-layout align-center h-100 justify-center>
                                <img src="@/assets/img/add-new.svg" alt="Add Product" width="70px">
                            </v-layout>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
<!--            <new-custom :show="addNewCustom" @close="addNewCustom = false"/>-->
            <v-dialog v-model="addNewCustom" max-width="500px" transition="dialog-transition">
                <NewCustomizationModal @customizationCreated="addNewCustom = false"></NewCustomizationModal>
            </v-dialog>
            <v-dialog v-model="openCustomizationEditModal" max-width="500px" transition="dialog-transition">
                <EditCustomizationModal @customizationUpdated="openCustomizationEditModal = false" :customization="currentCustomization"></EditCustomizationModal>
            </v-dialog>
        </v-content>
    </v-app>
</template>

<script>
    // import NewCustom from '@/pages/customization/NewCustom';
    import NewCustomizationModal from '@/pages/dashboard/modals/NewCustomizationModal';
    import EditCustomizationModal from '@/pages/dashboard/modals/EditCustomizationModal';
    import {ARCHIVE_CUSTOMIZATION, GET_ALL_CUSTOMIZATIONS} from '../../store/actionTypes';
    import {confirmSomethingWithAlert, toast} from '../../helpers/alert';

    export default {
        components: {NewCustomizationModal},
        data() {
            return {
                addNewCustom: false,
                input:'',
                currentCustomization: null,
                openCustomizationEditModal: false,
            }
        },
        computed: {
            customizations() {
                return this.$store.getters.getCustomizations;
            },
        },
        beforeRouteEnter(to, from, next) {
            next(vm => vm.loadCustomizations());
        },
        methods: {
            loadCustomizations() {
                this.$store.dispatch(GET_ALL_CUSTOMIZATIONS);
            },
            viewCustomization(customization) {
                this.$router.push(`/dashboard/customization/${customization.id}`);
            },
            archiveCustomization(customization) {
                confirmSomethingWithAlert('This cannot be undone!', 'Are you sure you want to archive this customization?')
                    .then((response) => {
                        if (response.value) {
                            customization.archiving = true;
                            this.$store
                                .dispatch(ARCHIVE_CUSTOMIZATION, customization.id)
                                .then((done) => {
                                    if (done) {
                                        this.$store.dispatch(GET_ALL_CUSTOMIZATIONS);
                                        toast(`Customization Archived!`, 'success');
                                    }

                                    customization.archiving = false;
                                });
                        }
                    });
            },
            startCustomizationEdit(customization) {
                this.currentCustomization = customization;
                this.openCustomizationEditModal = true;
            },
        },
    }
</script>

<style lang="scss" scoped>
    .v-content {background-color:#F3F6FB!important;
    }
    .create-btn{
        background: #00CFF6;
        color: white;
    }
    .create-btn:hover{
        background: #1E97E0;
        color: white;
    }

    .cardd{
        border-radius:20px;
    }
</style>
