<template>
  <div class="white ml-5 pl-5">
    <v-container py-5 class="h-100 tracker">
      <section class="tracker-grid">
        <section class="pt-4">
          <div class="mb-3">
            <v-layout justify-space-between>
              <div>
                <span class="subheader__title font-weight-bold">Purchase Tracker</span>
                <span class="text-muted" light>(Update your customers the progress of their orders)</span>
              </div>
              <div>
                <v-btn
                  color="primary"
                  @click="drawer = true"
                  v-if="$vuetify.breakpoint.smAndDown"
                >Clients</v-btn>
                <v-navigation-drawer v-model="drawer" fixed app temporary right>
                  <div class="aside__store mt-5">
                    <v-avatar :size="80" color="grey lighten-4">
                      <img
                        class="border-round"
                        src="https://raw.githubusercontent.com/Ashwinvalento/cartoon-avatar/master/lib/images/female/5.png"
                      />
                    </v-avatar>
                    <h4 class="mt-2">Kiitec showroom</h4>
                  </div>

                  <div class="aside__client">
                    <h4 class="aside__client--h4">CLIENTS</h4>
                    <v-select :items="allStatus" v-model="clientStatus"></v-select>
                    <v-list two-line class="py-0 aside__client--list">
                      <v-list-tile
                        v-for="(item, index) in trackers"
                        :key="index"
                        avatar
                        @click="trackInfo(index)"
                      >
                        <v-list-tile-avatar>
                          <img :src="item.avatar" />
                        </v-list-tile-avatar>

                        <v-list-tile-content>
                          <v-list-tile-title v-html="item.title"></v-list-tile-title>
                          <v-list-tile-sub-title v-html="item.subtitle"></v-list-tile-sub-title>
                        </v-list-tile-content>

                        <v-list-tile-action>
                          <span class="font-12" v-text="item.time"></span>
                        </v-list-tile-action>
                      </v-list-tile>
                    </v-list>
                  </div>
                  <br />
                </v-navigation-drawer>
              </div>
            </v-layout> 
            <v-divider />
          </div>
          <div class="pr-3">
            <div>
              <p class="mb-3">Order No: 1229397</p>
              <p>Date Ordered: 22/09/2019</p>
            </div>

            <div>
              <v-stepper v-model="index" class="no-shadow">
                <v-stepper-header class="sub">
                  <v-stepper-step color="primary" :complete="index > 1" step="1">
                    <div class="sub-step"></div>
                  </v-stepper-step>

                  <v-divider></v-divider>

                  <v-stepper-step color="primary" :complete="index > 2" step="2">
                    <div class="sub-step"></div>
                  </v-stepper-step>

                  <v-divider></v-divider>

                  <v-stepper-step color="primary" :complete="index > 3" step="3">
                    <div class="sub-step"></div>
                  </v-stepper-step>
                </v-stepper-header>

                <v-stepper-content step="1" class="stepper__content">
                  <div>
                    <h4 class="mb-3 text-muted">Package Photo</h4>
                    <div class="stepper__content">
                      <div class="add-pic">
                        <v-card color="grey lighten-4 shadow" height="300px">
                          <v-layout align-center h-100 justify-center relative>
                            <div v-if="showPictures[0].show" class="d-flex h-100 pa-2">
                              <img
                                @click="removeImage(0)"
                                :src="showPictures[0].image"
                                height="100%"
                                width="auto"
                                class="ma-auto"
                              />
                            </div>
                            <div v-else class="text-xs-center pointer">
                              <img src="@/assets/img/add-new.svg" alt="Add Product" width="30px" />
                              <h4 class="font-weight-regular mt-3">Add a Photo</h4>
                              <input
                                type="file"
                                @change="showPic($event, 0)"
                                accept="image/*"
                                class="w-100 h-100 hidden absolute top left"
                              />
                            </div>
                          </v-layout>
                        </v-card>
                        <v-layout row wrap primary py-2 :class="{ 'd-none': showComment[0].show }">
                          <v-flex xs12>
                            <v-btn
                              class="w-85 no-border"
                              color="white"
                              flat
                              @click="displayComment(0)"
                            >
                              <v-layout row wrap align-center justify-space-around>
                                <img src="@/assets/img/chat-plus.svg" alt="Chat" width="48px" />
                                <h4>Add a comment</h4>
                              </v-layout>
                            </v-btn>
                          </v-flex>
                        </v-layout>
                        <v-layout
                          row
                          wrap
                          primary
                          align-center
                          py-2
                          :class="{ 'd-none': !showComment[0].show }"
                        >
                          <v-flex xs1 sm3 pl-3>
                            <img src="@/assets/img/chat.svg" alt="Chat" width="48px" />
                          </v-flex>
                          <v-flex xs11 sm9>
                            <textarea
                              ref="comment"
                              solo
                              class="no-border white--text"
                              max-height="80px"
                              v-model="showComment[0].comment"
                              label="Add Comment"
                            ></textarea>
                          </v-flex>
                        </v-layout>
                        <div class="text-xs-center mt-3">
                          <v-btn class="ma-0" color="primary" @click="index++">PROCEED</v-btn>
                        </div>
                      </div>
                    </div>
                  </div>
                </v-stepper-content>

                <v-stepper-content step="2" class="stepper__content">
                  <div>
                    <h4 class="mb-3 text-muted">Package Photo</h4>
                    <div class="stepper__content">
                      <div class="add-pic">
                        <v-card color="grey lighten-4 shadow" height="300px">
                          <v-layout align-center h-100 justify-center relative>
                            <div v-if="showPictures[0].show" class="d-flex h-100 pa-2">
                              <img
                                @click="removeImage(0)"
                                :src="showPictures[0].image"
                                height="100%"
                                width="auto"
                                class="ma-auto"
                              />
                            </div>
                            <div v-else class="text-xs-center pointer">
                              <img src="@/assets/img/add-new.svg" alt="Add Product" width="30px" />
                              <h4 class="font-weight-regular mt-3">Add a Photo</h4>
                              <input
                                type="file"
                                @change="showPic($event, 0)"
                                accept="image/*"
                                class="w-100 h-100 hidden absolute top left"
                              />
                            </div>
                          </v-layout>
                        </v-card>
                        <v-layout row wrap primary py-2 :class="{ 'd-none': showComment[0].show }">
                          <v-flex xs12>
                            <v-btn
                              class="w-85 no-border"
                              color="white"
                              flat
                              @click="displayComment(0)"
                            >
                              <v-layout row wrap align-center justify-space-around>
                                <img src="@/assets/img/chat-plus.svg" alt="Chat" width="48px" />
                                <h4>Add a comment</h4>
                              </v-layout>
                            </v-btn>
                          </v-flex>
                        </v-layout>
                        <v-layout
                          row
                          wrap
                          primary
                          align-center
                          py-2
                          :class="{ 'd-none': !showComment[0].show }"
                        >
                          <v-flex xs1 sm3 pl-3>
                            <img src="@/assets/img/chat.svg" alt="Chat" width="48px" />
                          </v-flex>
                          <v-flex xs11 sm9>
                            <textarea
                              ref="comment"
                              solo
                              class="no-border white--text"
                              max-height="80px"
                              v-model="showComment[0].comment"
                              label="Add Comment"
                            ></textarea>
                          </v-flex>
                        </v-layout>
                        <div class="text-xs-center mt-3">
                          <v-btn class="ma-0" color="primary" @click="index++">PROCEED</v-btn>
                        </div>
                      </div>
                    </div>
                  </div>
                </v-stepper-content>

                <v-stepper-content step="3" class="stepper__content">
                  <div>
                    <h4 class="mb-3 text-muted text-muted">Package Photo</h4>
                    <div class="stepper__content">
                      <div class="add-pic">
                        <v-card color="grey lighten-4 shadow" height="300px">
                          <v-layout align-center h-100 justify-center relative>
                            <div v-if="showPictures[0].show" class="d-flex h-100 pa-2">
                              <img
                                @click="removeImage(0)"
                                :src="showPictures[0].image"
                                height="100%"
                                width="auto"
                                class="ma-auto"
                              />
                            </div>
                            <div v-else class="text-xs-center pointer">
                              <img src="@/assets/img/add-new.svg" alt="Add Product" width="30px" />
                              <h4 class="font-weight-regular mt-3">Add a Photo</h4>
                              <input
                                type="file"
                                @change="showPic($event, 0)"
                                accept="image/*"
                                class="w-100 h-100 hidden absolute top left"
                              />
                            </div>
                          </v-layout>
                        </v-card>
                        <v-layout row wrap primary py-2 :class="{ 'd-none': showComment[0].show }">
                          <v-flex xs12>
                            <v-btn
                              class="w-85 no-border"
                              color="white"
                              flat
                              @click="displayComment(0)"
                            >
                              <v-layout row wrap align-center justify-space-around>
                                <img src="@/assets/img/chat-plus.svg" alt="Chat" width="48px" />
                                <h4>Add a comment</h4>
                              </v-layout>
                            </v-btn>
                          </v-flex>
                        </v-layout>
                        <v-layout
                          row
                          wrap
                          primary
                          align-center
                          py-2
                          :class="{ 'd-none': !showComment[0].show }"
                        >
                          <v-flex xs1 sm3 pl-3>
                            <img src="@/assets/img/chat.svg" alt="Chat" width="48px" />
                          </v-flex>
                          <v-flex xs11 sm9>
                            <textarea
                              ref="comment"
                              solo
                              class="no-border white--text"
                              max-height="80px"
                              v-model="showComment[0].comment"
                              label="Add Comment"
                            ></textarea>
                          </v-flex>
                        </v-layout>
                        <div class="text-xs-center mt-3">
                          <v-btn class="ma-0" color="primary" @click="index++">PROCEED</v-btn>
                        </div>
                      </div>
                    </div>
                  </div>
                </v-stepper-content>
              </v-stepper>
            </div>
            <br />
          </div>
        </section>
        <aside class="white sticky" v-if="$vuetify.breakpoint.mdAndUp">
          <div class="aside__store">
            <v-avatar :size="80" color="grey lighten-4">
              <img
                class="border-round"
                src="https://raw.githubusercontent.com/Ashwinvalento/cartoon-avatar/master/lib/images/female/5.png"
              />
            </v-avatar>
            <h4 class="mt-2">Kiitec Showroom</h4>
          </div>

          <div class="aside__client">
            <h4 class="aside__client--h4">CLIENTS</h4>
            <v-select :items="allStatus" v-model="clientStatus"></v-select>
            <v-list two-line class="py-0 aside__client--list">
              <v-list-tile
                v-for="(item, index) in trackers"
                :key="index"
                avatar
                @click="trackInfo(index)"
              >
                <v-list-tile-avatar>
                  <img :src="item.avatar" />
                </v-list-tile-avatar>

                <v-list-tile-content>
                  <v-list-tile-title v-html="item.title"></v-list-tile-title>
                  <v-list-tile-sub-title v-html="item.subtitle"></v-list-tile-sub-title>
                </v-list-tile-content>

                <v-list-tile-action>
                  <span class="font-12" v-text="item.time"></span>
                </v-list-tile-action>
              </v-list-tile>
            </v-list>
          </div>
          <br />
        </aside>
      </section>
    </v-container>

    <br />

    <br />
    <br />
    <br />
  </div>
</template>

<script>
export default {
  data() {
    return {
      index: 0,
      drawer: false,
      showPictures: [
        {
          file: null,
          show: false,
          image: null
        },
        {
          file: null,
          show: false,
          image: null
        },
        {
          file: null,
          show: false,
          image: null
        }
      ],
      showComment: [
        {
          comment: null,
          show: false
        },
        {
          comment: null,
          show: false
        },
        {
          comment: null,
          show: false
        }
      ],
      chats: [
        {
          from: 'client',
          text:
            'Hello, what material is this? I just want to know if i can make other choices'
        },
        {
          from: 'client',
          text:
            'And are there other options you can show me. This color actually looks good.'
        }
      ],
      vendorMessage: '',
      allStatus: ['Ongoing', 'Finished'],
      clientStatus: 'Ongoing',
      account_summary: [
        {
          value: 'N0.00',
          midtext: 'Available Balance',
          link: '/dashboard'
        },
        {
          value: '0',
          midtext: 'Invoices',
          link: '/dashboard'
        },
        {
          value: 'N0.00',
          midtext: 'In Escrow',
          link: '/dashboard'
        },
        {
          value: 'N0.00',
          midtext: 'Threshold Balance',
          link: '/dashboard'
        }
      ],
      selectedTrack: '',
      trackers: [
        {
          avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
          title: 'Brunch this weekend?',
          subtitle:
            "<span class='text--primary'>Ali Connors</span> &mdash; I'll be in your neighborhood doing errands this weekend. Do you want to hang out?",
          time: '3.31pm'
        },
        {
          avatar: 'https://cdn.vuetifyjs.com/images/lists/2.jpg',
          title: 'Summer BBQ',
          subtitle:
            "<span class='text--primary'>to Alex, Scott, Jennifer</span> &mdash; Wish I could come, but I'm out of town this weekend.",
          time: '3.31pm'
        },
        {
          avatar: 'https://cdn.vuetifyjs.com/images/lists/3.jpg',
          title: 'Oui oui',
          subtitle:
            "<span class='text--primary'>Sandra Adams</span> &mdash; Do you have Paris recommendations? Have you ever been?",
          time: '3.31pm'
        },
        {
          avatar: 'https://cdn.vuetifyjs.com/images/lists/4.jpg',
          title: 'Birthday gift',
          subtitle:
            "<span class='text--primary'>Trevor Hansen</span> &mdash; Have any ideas about what we should get Heidi for her birthday?",
          time: '3.31pm'
        },
        {
          avatar: 'https://cdn.vuetifyjs.com/images/lists/5.jpg',
          title: 'Recipe to try',
          subtitle:
            "<span class='text--primary'>Britta Holt</span> &mdash; We should eat this: Grate, Squash, Corn, and tomatillo Tacos.",
          time: '3.31pm'
        },
        {
          avatar: 'https://cdn.vuetifyjs.com/images/lists/3.jpg',
          title: 'Oui oui',
          subtitle:
            "<span class='text--primary'>Sandra Adams</span> &mdash; Do you have Paris recommendations? Have you ever been?",
          time: '3.31pm'
        },
        {
          avatar: 'https://cdn.vuetifyjs.com/images/lists/4.jpg',
          title: 'Birthday gift',
          subtitle:
            "<span class='text--primary'>Trevor Hansen</span> &mdash; Have any ideas about what we should get Heidi for her birthday?",
          time: '3.31pm'
        },
        {
          avatar: 'https://cdn.vuetifyjs.com/images/lists/5.jpg',
          title: 'Recipe to try',
          subtitle:
            "<span class='text--primary'>Britta Holt</span> &mdash; We should eat this: Grate, Squash, Corn, and tomatillo Tacos.",
          time: '3.31pm'
        }
      ]
    };
  },
  methods: {
    trackInfo(index) {
      this.selectedTrack = this.trackers[index].title;
    },
    addChat() {
      this.chats.push({
        from: 'vendor',
        text: this.vendorMessage
      });
      this.vendorMessage = '';
    },
    showPic(e, index) {
      this.showPictures[index].file = e.target.files[0];
      this.createImage(this.showPictures[index].file, index);
      this.showPictures[index].show = true;
    },
    createImage(file, index) {
      var reader = new FileReader();

      reader.onload = e => {
        this.showPictures[index].image = e.target.result;
      };
      reader.readAsDataURL(file);
    },
    removeImage(index) {
      this.showPictures[index].file = null;
      this.showPictures[index].show = false;
      this.showPictures[index].image = null;
    },
    displayComment(index) {
      this.showComment[index].show = true;
      this.$refs.comment.focus();
    }
  }
};
</script>
<style lang="scss" scoped>
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: $nude;
  border-radius: 20px;
  &:hover {
    background: $primary;
  }
}

.tracker-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-column-gap: 2px;
}

.white--text {
  color: white;
}

@media (min-width: $break-md) {
  aside {
    max-height: 80vh;
    min-height: 400px;
    top: 80px;
  }
  .tracker-grid {
    grid-template-columns: auto 250px;
  }
}

.font-12 {
  font-size: 12px;
}

textarea {
  border: 1px solid rgba($color: #fff, $alpha: 0.1);
  width: 100%;
  border-radius: 3px;
  margin-left: -20px;
  padding: 0.875rem;
}
</style>
