<template>
    <v-app class="app-pad">
        <!-- <v-container >
          {{title}}
        </v-container> -->
        <!-- <div id="" class="mlf-6"> -->

        <v-content

        >

            <v-container class="py-0">
                <section  class="my-2">
                    <v-card>
                        <div class="header__text py-2 px-2">Store Summary</div>
                    </v-card>
                    <br>

                    <section class="grid shadow">
                        <summary-card v-for="(item, i) in store_summary" :key="i" :data="item"  class="shadow"/>
                    </section>
                </section>


                <section class="mt-5">
                    <v-card class="py-2 px-2">
                        <div class="header__text ">Product Summary</div>
                    </v-card>
                    <br>

                    <section class="grid">
                        <summary-card v-for="(item, i) in product_summary"  :key="i" :data="item"/>
                    </section>
                </section>

                <br>

                <section class="mt-4">
                    <v-card class="py-2 px-2">
                        <div class="header__text">Store Performance</div>
                    </v-card>
                    <br>

                    <section class="grid five">
                        <div
                                class="summary_cards blue-gradient text-xs-center"
                                v-for="(item, i) in store_performance"
                                :key="i"
                        >
                            <div class="ma-auto">
                                <div>
                                    <v-progress-circular
                                            :value="item.value"
                                            :rotate="90"
                                            :width="6"
                                            :size="100"
                                            color="white"
                                    >{{ item.value }}%</v-progress-circular>
                                </div>
                                <div class="white--text mt-3">
                                    <h4 v-text="item.name" ></h4>
                                </div>
                                <div class="primary--text bottom_text">
                                    <router-link class="white--text" :to="{ path: item.link }">More Details</router-link>
                                </div>
                            </div>
                        </div>
                    </section>
                </section>

                <section class="my-2">
                    <div id="linechart_container">
                        <v-card class="py-2 px-2 mt-5">
                            <div class="header__text">Revenue</div>
                        </v-card>
                        <br>

                        <div id="linechart">
                            <div id="toogle_graph_button_containers">
                                <button class="toogle_graph_button" id="toggle1">Day</button>
                                <button class="toogle_graph_button" id="toggle2">Week</button>
                                <button class="toogle_graph_button" id="toggle3">Month</button>
                                <button class="toogle_graph_button" id="toggle4">Year</button>
                            </div>
                            <line-chart></line-chart>
                        </div>
                    </div>
                </section>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    import LineChart from '@/components/linechart';
    import SummaryCard from '@/components/SummaryCards';

    import userImage from '@/assets/img/dp.png';
    import {mapState} from 'vuex';
    import notifiable from '../../mixins/notifiable';
    import APIService from '../../services/APIService';

    export default {
        mixins: [notifiable],
        components: {
            LineChart,
            SummaryCard,
        },
        computed: {
            ...mapState(['authUser']),
        },
        beforeRouteEnter(to, from, next) {
            next(async (vm) => {
                const {data} = await APIService.get('/vendor/statistics');
                vm.store_summary = data.store_summary;
                vm.product_summary = data.product_summary;
            })
        },
        data() {
            return {
                title:'Dashboard',
                user: {
                    name: 'John Doe',
                    storeName: 'Sopzn Stores',
                    image: userImage,
                    amount: 0
                },
                stats: null,
                store_summary: [
                    {
                        value: 'N0',
                        midtext: 'In Escrow',
                        link: '/dashboard'
                    },
                    {
                        value: '0',
                        midtext: 'Orders',
                        link: '/dashboard'
                    },
                    {
                        value: '0',
                        midtext: 'Selling on Kiitec',
                        link: '/dashboard'
                    }
                ],
                product_summary: [
                    {
                        value: '0',
                        midtext: 'Total Stock',
                        link: '/dashboard'
                    },
                    {
                        value: '0',
                        midtext: 'Live on Site',
                        link: '/dashboard'
                    },
                    {
                        value: '0',
                        midtext: 'Under Review',
                        link: '/dashboard'
                    },
                    {
                        value: '0',
                        midtext: 'Sold out',
                        link: '/dashboard'
                    },
                    {
                        value: '0',
                        midtext: 'Rejected',
                        link: '/dashboard'
                    }
                ],
                store_performance: [
                    {
                        name: 'Successful Sales',
                        value: 0,
                        link: '/dashboard'
                    },
                    {
                        name: 'Product Quality',
                        value: 0,
                        link: '/dashboard'
                    },
                    {
                        name: 'Delivery Rate',
                        value: 0,
                        link: '/dashboard'
                    },
                    {
                        name: 'Communication',
                        value: 0,
                        link: '/dashboard'
                    },
                    {
                        name: 'Suspension Count',
                        value: 0,
                        link: '/dashboard'
                    }
                ]
            };
        }
    };
</script>

<style>
    .middle_text {
        font-size: 16px;
    }

    .bottom_text {
        font-size: 14px;
    }
    .v-content{
        background-color:#F3F6FB!important;
    }

    #linechart {
        background-color: #38B4FF;
        border-radius: 10px;
        padding: 30px;
        /* max-height: 30vh; */

    }

    #toogle_graph_button_containers {
        font-size: 12px;
        display: grid;
        grid-template-columns: [spac] 12fr [day] 1fr [week] 1fr [month] 1fr [year] 1fr;
    }

    #toggle1 {
        grid-column: day;
    }

    #toggle2 {
        grid-column: week;
    }

    #toggle3 {
        grid-column: month;
    }

    #toggle4 {
        grid-column: year;
    }
    .blue-gradient{
        background: linear-gradient(180deg, #1D97E1 0%, #38B4FF 100%);
    }
</style>
