<template>
  <div id="big_wrapper_side_nav">
    <Header :user="user" :vendor="vendor"/>
    <div id="side_nav_container">
      <div id="side_nav" v-bind:class="[isActive ? 'pallet' : 'hide']">
        <v-list>
          <v-list-tile
            avatar
            v-for="(item, i) in menu_items"
            :key="i"
            @click="logam(item.link)"
            px-2
          >
            <v-flex justify-space-between w-100>
              <v-layout row wrap >
                <svg-icon :icon="item.icon" width="30px"/>
                <v-flex pl-4 class="nav-name">
                  <span v-text="item.name"></span>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-list-tile>
        </v-list>
      </div>

      <!-- <div id="navigate_next">
        <v-btn
          color="primary"
          icon
          class="nav-btn white--text"
          @click="isActive = !isActive"
          v-bind:class="[isActive ? 'rotate' : 'no_rotate']"
        >
          <v-icon>navigate_next</v-icon>
        </v-btn>
      </div> -->
    </div>
    <router-view></router-view>
  </div>
</template>

<script>
import SvgIcon from '@/components/SvgIcon';
import Header from '@/components/UserHeader';

import * as action from '@/store/actionTypes';
export default {
  components: {
    Header,
    SvgIcon
  },
  props: {
    showNavBar: Boolean
  },

  data: () => {
    return {
      isActive: false,
      menu_items: [
        {
          name: 'Dashboard',
          link: '/dashboard',
          icon: 'dashboard'
        },
        {
          name: 'Orders',
          link: '/dashboard/orders',
          icon: 'orders'
        },
        {
          name: 'Products',
          link: '/dashboard/products',
          icon: 'products'
        },
        {
          name: 'Collaborations',
          link: '/dashboard/collaborate',
          icon: 'collaborate'
        },
        {
          name: 'Bids',
          link: '/dashboard/bids',
          icon: 'bids'
        },
        {
          name: 'Reviews',
          link: '/dashboard/reviews',
          icon: 'reviews'
        },
        {
          name: 'Tracker',
          link: '/dashboard/tracker',
          icon: 'bids'
        },
        {
          name: 'Material Catalogue',
          link: '/dashboard/catalogue',
          icon: 'catalog'
        }
      ]
    };
  },
  computed: {
    user() {
      return this.$store.getters.getUser;
    },
    vendor() {
      return this.$store.getters.getVendor;
    }
  },

  methods: {
    logam(route) {
      this.isActive = !this.isActive;
      setTimeout(() => {
        this.$router.push({ path: route });
      }, 200);
    }
  },
  mounted() {
    this.$store.dispatch(action.GET_USER);
    this.$store.dispatch(action.GET_VENDOR);
  }
};
</script>

<style lang="scss">
#big_wrapper_side_nav {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  background-color: #f3f6fb;
  font-family: "Raleway", sans-serif;
}

#side_nav_container {
  z-index: 100;
  position: fixed;
  display: flex;
  flex: auto;
  height: 100vh;
}

#side_nav {
  background-color: white;
  /* width: 0; */
  overflow: hidden;
}

.hide {
  width: 75px;
  transition: 0.1s;
  min-width: 75px;
  .nav-name{
    display:none;
  }
}

.pallet {
  /* flex: 1; */
  width: 21vw;
  /* flex: 1; */
  transition: 0.3s;
  min-width: 250px;
}

.pallet::before {
  content: "";
  background: rgba(0, 0, 0, 0.65);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

#navigate_next {
  margin-top: 40vh;
}

.no_rotate {
  transform: 0;
  transition: 700ms;
}
.rotate {
  transform: rotate(180deg) scaleX(1);
  transition: 700ms;
}

.nav-btn {
  border-radius: 50%;
}
</style>
