<template>
  <v-app>
    <v-content>
      <v-container grid-list-xl py-0>
        <div id="order_logs">Order</div>
        <br />
        <br />

        <!-- <div v-if="$vuetify.breakpoint.smAndDown">
        <v-layout row wrap justify-end>
          <div>
            <h5>
              <span class="font-weight-regular">From: &nbsp;</span>
              <span class="primary--text">23/04/19</span>
              <span>
                &nbsp;
                <img src="@/assets/img/arrow-down-blue.svg" alt="arrow-down">
              </span>
            </h5>
          </div>
          <div class="ml-3">
            <h5>
              <span class="font-weight-regular">To: &nbsp;</span>
              <span class="primary--text">23/04/19</span>
              <span>
                &nbsp;
                <img src="@/assets/img/arrow-down-blue.svg" alt="arrow-down">
              </span>
            </h5>
          </div>
          <div class="ml-3">
            <h5>
              <span class="font-weight-regular">Sort: &nbsp;</span>
              <span class="primary--text">Newest</span>
              <span>
                &nbsp;
                <img src="@/assets/img/arrow-down-blue.svg" alt="arrow-down">
              </span>
            </h5>
          </div>
        </v-layout>
        <br>
      </div> -->
        <div id="data_table" class="relative">
          <div>
            <v-layout row wrap px-5 pt-4 white align-center>
              <v-flex xs12 md6 justify-center text-xs-center>
                <a
                  v-for="(tab, index) in allTabs"
                  :key="index"
                  @click="switchTabs(index)"
                  class="mr-2"
                  :class="{
                    'primary--text': tab.active,
                    'float-left':
                      $vuetify.breakpoint.mdAndUp || $vuetify.breakpoint.xsOnly,
                  }"
                  >{{ tab.name }}</a
                >
              </v-flex>
              <!-- <v-flex xs12 md6 v-if="$vuetify.breakpoint.mdAndUp">
              <v-layout row wrap justify-end pr-3>
                <div>
                  <h5>
                    <span class="font-weight-regular">From: &nbsp;</span>
                    <span class="primary--text">23/04/19</span>
                    <span>
                      &nbsp;
                      <img src="@/assets/img/arrow-down-blue.svg" alt="arrow-down">
                    </span>
                  </h5>
                </div>
                <div class="ml-3">
                  <h5>
                    <span class="font-weight-regular">To: &nbsp;</span>
                    <span class="primary--text">23/04/19</span>
                    <span>
                      &nbsp;
                      <img src="@/assets/img/arrow-down-blue.svg" alt="arrow-down">
                    </span>
                  </h5>
                </div>
                <div class="ml-3">
                  <h5>
                    <span class="font-weight-regular">Sort: &nbsp;</span>
                    <span class="primary--text">Newest</span>
                    <span>
                      &nbsp;
                      <img src="@/assets/img/arrow-down-blue.svg" alt="arrow-down">
                    </span>
                  </h5>
                </div>
              </v-layout>
            </v-flex> -->
            </v-layout>
            <v-layout px-5 pb-5 white>
              <v-card flat width="100%">
                <br />
                <v-data-table
                  :headers="headers"
                  :items="selected"
                  :search="search"
                  :loading="isLoading"
                  item-key="unique_id"
                  loading-text="Loading... Please wait"
                  hide-actions
                  :pagination.sync="pagination"
                  :rows-per-page-items="[100]"
                  class="v-datatable"
                  px-5
                >
                  <template slot="items" slot-scope="props">
                    <tr
                      class="relative pointer"
                      style="border-bottom: none"
                      @click="displayOrder(props.item)"
                    >
                      <td>{{ props.item.unique_id }}</td>
                      <td>{{ props.item.product.name }}</td>
                      <td>{{ props.item.created_at | formatDate }}</td>
                      <td>&#8358;{{ props.item.data.price | formatNumber }}</td>
                      <td>
                        {{ props.item.status }}
                      </td>
                    </tr>
                  </template>
                </v-data-table>
                <div class="text-xs-center py-4">
                  <v-pagination
                    v-model="pagination.page"
                    :length="pages"
                  ></v-pagination>
                </div>
              </v-card>
            </v-layout>
          </div>
        </div>
        <br />
        <br />
        <br />
      </v-container>
      <br />
      <br />
      <br />

      <v-dialog
        max-width="900"
        v-if="singleOrder.show"
        v-model="singleOrder.show"
        transition="dialog-transition"
        class="singleorder-modal"
      >
        <v-card class="order-card">
          <v-card class="pb-4 order-nav">
            <div class="text-xs-right">
              <v-btn class="no-border" flat icon @click="removeCurrentSettings">
                <img src="@/assets/img/close-dark.png" alt="close" />
              </v-btn>
            </div>
            <div class="text-xs-right" v-show="singleOrder.action">
              <v-btn
                color="error"
                class="w-100 max-w-xs  mx-3 text-xs-right"
                @click="declineOrder(singleOrder.id)"
              >
                Decline Order
              </v-btn>
              <v-btn
                color="success"
                class="w-100 max-w-xs mx-3 text-xs-right"
                @click="acceptOrder(singleOrder.id)"
              >
                Accept Order
              </v-btn>
            </div>
          </v-card>
          <v-layout row wrap max-w-lg mx-auto pa-3 align-center>
            <v-flex>
              <img
                :src="
                  singleOrder.product.pictures.length > 0
                    ? singleOrder.product.pictures[0].url
                    : ''
                "
                :alt="singleOrder.product.name"
                height="220"
                width="250"
              />
            </v-flex>
            <v-flex xs12 md7>
              <h3>{{ singleOrder.product.name }}</h3>
              <h3 class="my-2">
                &#8358;{{ singleOrder.data.price.toLocaleString("en-US") }}
              </h3>
              <p class="mb-2">{{ singleOrder.product.description }}</p>
              <v-btn
                color="primary"
                class="w-100 max-w-xs mx-0"
                @click="displayOrderDialog(singleOrder)"
              >
                <img
                  src="@/assets/img/view-eye.svg"
                  alt="View Full Order"
                  class="mr-3"
                />View Full Details
              </v-btn>
            </v-flex>
          </v-layout>
          <br />
          <div class="px-3 pb-3">
            <h5 class="font-weight-regular text-xs-right success--text">
              <span v-if="singleOrder.express">Express</span> Delivery: 7 -10
              working days
            </h5>
          </div>
        </v-card>
      </v-dialog>

      <Order
        :show="orderDialog"
        :order="currentOrder"
        @close="orderDialog = false"
      />
    </v-content>
  </v-app>
</template>

<script>
import Order from "@/components/SingleOrder";

import OrderService from "@/services/OrderService";

import * as actions from "@/store/actionTypes";
import { async } from "q";
export default {
  components: { Order },
  data() {
    return {
      singleOrder: {
        action: false,
        show: false,
      },
      toggleVendorAction: false,
      isLoading: true,
      currentOrder: {},
      orderDialog: false,
      allTabs: [
        {
          name: "All",
          active: true,
        },
        {
          name: "New",
          active: false,
        },
        {
          name: "Accepted",
          active: false,
        },
        {
          name: "Declined",
          active: false,
        },
        {
          name: "Shipped",
          active: false,
        },
        {
          name: "Delivered",
          active: false,
        },
        {
          name: "Completed",
          active: false,
        },
        {
          name: "Returned",
          active: false,
        },
      ],
      activeTab: null,
      search: "",
      pagination: {
        sortBy: "date",
        descending: true,
      },
      selected: this.selected,
      headers: [
        {
          text: "Order Number",
          align: "left",
          value: "unique_id",
          sortable: false,
          class: "font-weight-bold",
        },
        {
          text: "Product Name",
          value: "protuct_name",
          class: "font-weight-bold",
          sortable: false,
        },
        {
          text: "Date",
          value: "date",
          class: "font-weight-bold",
          sortable: true,
        },
        { text: "Total Amount", value: "amount", class: "font-weight-bold" },
        { text: "Order Status", value: "status", class: "font-weight-bold" },
      ],
      customization: [
        {
          feature: "Shirt color",
          name: "red",
          image:
            "https://res.cloudinary.com/syfon/image/upload/v1578480070/measure3.png",
        },
        {
          feature: "Shirt sleeves",
          name: "short",
          image:
            "https://res.cloudinary.com/syfon/image/upload/v1578480069/measure1.png",
        },
        {
          feature: "Shirt length",
          name: "16",
          image:
            "https://res.cloudinary.com/syfon/image/upload/v1578480068/measure4.png",
        },
      ],
    };
  },
  computed: {
    pages() {
      if (
        this.pagination.rowsPerPage == null ||
        this.pagination.totalItems == null
      )
        return 0;

      return Math.ceil(
        this.pagination.totalItems / this.pagination.rowsPerPage
      );
    },
    entries() {
      return this.$store.getters.getEntries;
    },
  },
  methods: {
    toggleOrder() {
      this.pagination.descending = !this.pagination.descending;
    },
    switchTabs(index) {
      // "New", "Accpeted", "Shipped", "Delivered", "Returned", "Canceled";
      this.allTabs.forEach((element, i) => {
        this.allTabs[i].active = false;
      });
      this.allTabs[index].active = true;
      switch (index) {
        case 0:
          this.selected = this.entries;
          break;
        case 1:
          this.selected = this.entries.filter((entry, index) => {
            return entry.status == "pending";
          });
          break;

        case 2:
          this.selected = this.entries.filter((entry, index) => {
            return entry.status == "accepted";
          });
          break;
        case 3:
          this.selected = this.entries.filter((entry, index) => {
            return entry.status == "declined";
          });
          break;
        case 4:
          this.selected = this.entries.filter((entry, index) => {
            return entry.status == "shipped";
          });
          break;

        case 5:
          this.selected = this.entries.filter((entry, index) => {
            return entry.status == "delivered";
          });
          break;
        case 6:
          this.selected = this.entries.filter((entry, index) => {
            return entry.status == "completed";
          });
          break;
        case 7:
          this.selected = this.entries.filter((entry, index) => {
            return entry.status == "returned";
          });
          break;
        default:
          this.selected = this.entries;
      }
    },
    displayOrder(item) {
      // Object.entries(this.selected[index]).forEach(([key, value]) => {
      //   this.singleOrder[key] = value;
      // });
      this.singleOrder = Object.assign(this.singleOrder, item);
      if (this.singleOrder.status === "pending") {
        this.singleOrder.action = true;
      }
      this.singleOrder.show = true;
      window.console.log(this.singleOrder);
    },
    displayOrderDialog(order) {
      this.currentOrder = order;
      this.singleOrder.show = false;
      this.orderDialog = true;
    },
    orderAmount(index) {
      let item = this.selected[index];

      return item.id;
      // items.reduce((a, b) => +a + +b.product.price, 0);
    },
    async acceptOrder(id) {
      this.$swal({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, accept order!",
      }).then(async (result) => {
        if (result.value) {
          await this.$store.dispatch(actions.ACCEPT_ENTRY, id);
          this.singleOrder.action = false;
          window.console.log(result.value);
          this.$swal("Accepted!", "You accepted an order.", "success");
        }
      });
    },

    async declineOrder(id) {
      this.$swal({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, decline order!",
      }).then(async (result) => {
        if (result.value) {
          await this.$store.dispatch(actions.DECLINE_ENTRY, id);
          this.singleOrder.action = false; //hide buttons
          this.$swal("Declined!", "You just declined an order.", "success");
        }
      });
    },

    removeCurrentSettings() {
      this.singleOrder.action = false; //hide buttons
      this.singleOrder.show = false;
    },
  },

  created() {
    let self = this;
    (async function() {
      let orders = await self.$store.dispatch(actions.GET_ENTRIES);
      self.selected = orders;
      self.isLoading = false;
    })();
  },

  mounted() {
    let self = this;
    setTimeout(() => {
      this.switchTabs(0);
    }, 500);
  },
};
</script>
<style lang="scss" scoped>
#order_logs {
  font-size: 18px;
}

.theme--light.v-table thead th {
  color: black;
  font-weight: bold;
}

#data_table {
  background-color: white;
  border-radius: 10px;
}

thead {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

table.v-table thead tr {
  border-bottom: none !important;
}

.theme--light.v-table tbody tr {
  border: none !important;
  border-radius: 15px;
}

.theme--light.v-table {
  tr {
    td {
      &:first-child {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
      &:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }
}
.order-card.theme--light.v-card {
  background-color: #f7f7f7 !important;
}
.singleorder-modal {
  overflow: auto;
}
.order-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
</style>
