<template>
<v-app>
  <v-content>
    <v-container>
      <div class="text-xs-right">
        <span>
          Sort by:
          <span class="makeblue">Newest</span>
        </span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span
          class="makeblue"
        >Filter</span>
        &nbsp;&nbsp;
      </div>
    </v-container>
  <!-- Product -->
        <v-container grid-list-xl>

      <v-layout row wrap relative>
        <v-flex xs12 sm4 md3 mb-5 v-for="(product, i) in products" :key="i">
          <v-card
            color="white"
            max-width="220px"
            class="p-unset mx-auto"
            height="200px"
            @click="displayProduct(i)"
          >
            <v-layout align-center h-100 justify-center class="px-3">
              <img
                :src="product.pictures[0].url"
                :alt="product.name"
                width="80%"
                class="product-img"
                v-if="product.pictures.length > 0"
              >
              <img src="@/assets/img/big-star.svg" alt="Add Product" width="100px" v-else>
            </v-layout>
            <div>
              <h4>{{ product.name }}</h4>
              <h4 class="font-weight-regular">N{{ product.price }}</h4>
            </div>
          </v-card>
        </v-flex>
        <v-flex xs12 sm4 md3 mb-3>
          <v-card
            color="white"
            flat
            height="200px"
            width="100%"
            max-width="220px"
            class="mx-auto"
            @click="addNewProduct = true"
          >
            <v-layout align-center h-100 justify-center>
              <img src="@/assets/img/add-new.svg" alt="Add Product" width="70px">
            </v-layout>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>

    <v-dialog v-model="showProduct" max-width="1200px" transition="dialog-transition">
      <v-card class="px-5 py-5">
        <div class="absolute right top">
          <img
            src="@/assets/img/close-blue.svg"
            alt="close"
            class="pa-2"
            @click="showProduct = false"
          >
        </div>
        <v-layout row wrap>
          <v-flex xs12 sm4 md3>
            <v-card flat color="white" class="pa-3 mb-3">
              <v-layout align-center h-100 justify-center>
                <slick
                  ref="slick"
                  :options="slickOptions"
                  v-if="showProduct && selectedProduct.pictures.length > 0"
                  @reInit="reInit"
                  class="product-slick v-card"
                >
                  <img
                    :src="image.url"
                    :alt="selectedProduct.name"
                    width="100%"
                    v-for="(image, i) in selectedProduct.pictures"
                    :key="i"
                    class="pa-3"
                  >
                </slick>
                <div v-else>
                  <img src="@/assets/img/big-star.svg" :alt="selectedProduct.name" width="100%">
                </div>
              </v-layout>
            </v-card>
            <!-- <v-layout row wrap justify-space-between mb-3>
              <div>
                <h4 class="font-weight-regular">Sizes:</h4>
              </div>
              <div>
                <h4 class="font-weight-regular">N2k</h4>
                <h4 class="font-weight-regular">N2k</h4>
                <h4 class="font-weight-regular">N2k</h4>
                <h4 class="font-weight-regular">N2k</h4>
              </div>
            </v-layout> -->
            <!-- <v-layout row wrap justify-space-between mb-3>
              <div>
                <h4 class="font-weight-regular">Color:</h4>
              </div>
              <div>
                <h4 class="font-weight-regular">N2k</h4>
              </div>
            </v-layout>
            <v-layout row wrap justify-space-between mb-3>
              <div>
                <h4 class="font-weight-regular">Materials:</h4>
              </div>
              <div>
                <h4 class="font-weight-regular">N2k</h4>
              </div>
            </v-layout>
            <v-layout row wrap justify-space-between mb-3>
              <div>
                <h4 class="font-weight-regular">Quantity:</h4>
              </div>
              <div class="text-xs-right">
                <h4 class="font-weight-regular">30</h4>
              </div>
            </v-layout>
            <v-layout row wrap justify-space-between>
              <div>
                <h4 class="font-weight-regular">Rating:</h4>
              </div>
              <div>
                <h4 class="font-weight-regular">4.5*</h4>
              </div>
            </v-layout> -->
          </v-flex>
          <v-flex xs12 sm8 md9 :class="[$vuetify.breakpoint.xsOnly ? 'mt-4' : 'pl-5']">
            <v-layout column justify-space-between h-100 min-h-sm>
              <v-flex>
                <h1 class="font-weight-regular mb-2">{{ selectedProduct.name }}</h1>
                <h3 class="font-weight-regular mb-4">N{{ selectedProduct.price }}</h3>
                <h4 class="font-weight-regular mb-3">{{ selectedProduct.description }}</h4>
                <v-layout row wrap mb-3>
                  <v-flex xs6>
                    <h4
                      class="font-weight-regular"
                    >Created on: {{ formatDate(selectedProduct.created_at) }}</h4>
                  </v-flex>
                  <v-flex xs6>
                    <h4
                      class="font-weight-regular"
                    >Updated on: {{ formatDate(selectedProduct.updated_at) }}</h4>
                  </v-flex>
                </v-layout>
              </v-flex>
              <v-spacer></v-spacer>
              <v-layout row wrap pt-4>
                <v-flex xs12 sm6 md3 mb-2>
                  <!-- <v-btn
                    color="primary"
                    class="w-85"
                    :class="[$vuetify.breakpoint.xsOnly ? 'ma-0' : 'my-0']"
                  >Edit Product Render</v-btn> -->
                </v-flex>
                <v-flex xs12 sm6 md3 mb-2>
                  <v-btn
                    @click="editProductModal = true"
                    color="primary"
                    class="w-85"
                    :class="[$vuetify.breakpoint.xsOnly ? 'ma-0' : 'my-0']"
                  >Edit Product Info</v-btn>
                </v-flex>
                <v-flex xs12 sm6 md3 mb-2>
                  <v-btn
                    color="primary"
                    class="w-85"
                    :class="[$vuetify.breakpoint.xsOnly ? 'ma-0' : 'my-0']"
                  >View Orders</v-btn>
                </v-flex>
                <v-flex xs12 sm6 md3 mb-2>
                  <v-btn
                    @click="deleteModal = true"
                    color="red"
                    class="w-85 white--text"
                    :class="[$vuetify.breakpoint.xsOnly ? 'ma-0' : 'my-0']"
                  >Delete Product</v-btn>
                </v-flex>
              </v-layout>
            </v-layout>
          </v-flex>
        </v-layout>
      </v-card>
    </v-dialog>
    <br>
    <br>
    <br>
    <new-product :show="addNewProduct" @close="addNewProduct = false"/>

    <edit-product-modal
      :show="editProductModal"
      :product="selectedProduct"
      @close="editProductModal = false"
      @updateBtn="editProduct"
      @deleteProductImage="deleteProductImage"
      @addProductImage="addProductImage"
    />


    <v-dialog v-model="deleteModal" persistent max-width="500px" transition="dialog-transition">
      <v-card class="pb-4">
        <v-card-title>Confirm Delete</v-card-title>
        <v-card-text>
          Are you sure you want to delete
          {{ selectedProduct.name }}?
        </v-card-text>
        <v-card-actions>
          <v-layout row wrap text-xs-center>
            <v-flex xs6>
              <v-btn color="error" @click="deleteModal = false" flat class="w-85">Cancel</v-btn>
            </v-flex>
            <v-flex xs6>
              <v-btn color="red" @click="deleteProduct" class="w-85 white--text">Delete</v-btn>
            </v-flex>
          </v-layout>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <Loading :show="working"/>
    <Snackbar :data="snackbar"/>
  </v-content>
</v-app>
</template>

<script>
import NewProduct from '@/components/NewProduct';
import EditProductModal from '@/components/EditProductModal';
import Loading from '@/components/Loading';
import Snackbar from '@/components/Snackbar';
import Slick from 'vue-slick';
import '../../../node_modules/slick-carousel/slick/slick.css';
import '../../../node_modules/slick-carousel/slick/slick-theme.css';
import * as action from '@/store/actionTypes';

export default {
  components: {
    NewProduct,
    EditProductModal,
    Loading,
    Snackbar,
    Slick
  },
  data() {
    return {
      addNewProduct: false,
      showProduct: false,
      selectedProduct: {},
      selectedIndex: null,
      editProductModal: false,
      deleteModal: false,
      flickityOptions: {
        prevNextButtons: false,
        wrapAround: true,
        imagesLoaded: true
      },
      slickOptions: {
        slidesToShow: 1,
        slidesToScroll: 1,
        infinite: true,
        dots: true
        // Any other options that can be got from plugin documentation
      }
    };
  },
  computed: {
    products() {
      return this.$store.getters.getVendorProducts;
    }
  },
  methods: {
    editProduct(value) {
      this.working = true;
      this.$store.dispatch(action.UPDATE_PRODUCT, value).then(resp => {
        this.working = false;
        if (typeof resp == 'object' && resp.type == 'error') {
          this.snackbar.show = true;
          this.snackbar.text = Object.values(resp.error)[0][0];
          this.snackbar.color = 'error';
        } else if (resp) {
          this.snackbar.show = true;
          this.snackbar.text = 'Product updated successfully';
          this.snackbar.color = 'primary';
        } else {
          this.snackbar.show = true;
          this.snackbar.text = 'Error Updating Product';
          this.snackbar.color = 'error';
        }
        this.editProductModal = false;
        this.$store.dispatch(action.GET_VENDOR_PRODUCTS).then(() => {
          this.selectedProduct = this.products[this.selectedIndex];
        });
      });
    },
    deleteProduct() {
      this.working = true;
      this.$store
        .dispatch(action.DELETE_PRODUCT, this.selectedProduct.id)
        .then(resp => {
          this.working = false;
          if (typeof resp == 'object' && resp.type == 'error') {
            this.snackbar.show = true;
            this.snackbar.text = Object.values(resp.error)[0][0];
            this.snackbar.color = 'error';
          } else if (resp) {
            this.snackbar.show = true;
            this.snackbar.text = 'Product deleted successfully';
            this.snackbar.color = 'primary';
          } else {
            this.snackbar.show = true;
            this.snackbar.text = 'Error deleting product';
            this.snackbar.color = 'error';
          }
          this.showProduct = false;
          this.selectedProduct = {};
          this.selectedIndex = null;
          this.deleteModal = false;
        });
    },
    deleteProductImage(value) {
      if (value.id) {
        this.working = true;
        this.$store
          .dispatch(action.DELETE_PRODUCT_IMAGE, value.id)
          .then(resp => {
            this.working = false;
            if (typeof resp == 'object' && resp.type == 'error') {
              this.snackbar.show = true;
              this.snackbar.text = Object.values(resp.error)[0][0];
              this.snackbar.color = 'error';
            } else if (resp) {
              this.snackbar.show = true;
              this.snackbar.text = 'Product image removed successfully';
              this.snackbar.color = 'primary';
              this.$store.dispatch(action.GET_VENDOR_PRODUCTS).then(() => {
                this.selectedProduct = this.products[this.selectedIndex];
                this.reInit();
              });
            } else {
              this.snackbar.show = true;
              this.snackbar.text =
                value.name + ' cannot be removed at this time';
              this.snackbar.color = 'primary';
            }
          });
      }
    },
    addProductImage(value) {
      if (value.pictures.length > 0) {
        let fData = new FormData();
        fData.append('product_id', value.product_id);
        value.pictures.forEach(element => {
          fData.append('pictures[]', element);
        });
        this.working = true;
        this.$store.dispatch(action.ADD_PRODUCT_IMAGES, fData).then(resp => {
          this.working = false;
          if (typeof resp == 'object' && resp.type == 'error') {
            this.snackbar.show = true;
            this.snackbar.text = Object.values(resp.error)[0][0];
            this.snackbar.color = 'error';
          } else if (resp) {
            this.snackbar.show = true;
            this.snackbar.text = 'Image(s) added successfully';
            this.snackbar.color = 'primary';
          } else {
            this.snackbar.show = true;
            this.snackbar.text = 'Image(s) cannot be added at this time';
            this.snackbar.color = 'error';
          }
          this.$store.dispatch(action.GET_VENDOR_PRODUCTS).then(() => {
            this.selectedProduct = this.products[this.selectedIndex];
            this.showProduct = false;
            setTimeout(() => {
              this.displayProduct(this.selectedIndex);
            }, 100);
          });
        });
      }
    },
    displayProduct(index) {
      this.selectedProduct = this.products[index];
      this.selectedIndex = index;
      this.showProduct = true;
    },
    formatDate(stringDate) {
      if (stringDate) return stringDate.substr(0, stringDate.lastIndexOf(' '));
    },
    reInit() {
      if (this.selectedProduct.pictures.length > 0) {
        this.$nextTick(() => {
          this.$refs.slick.reSlick();
        });
      }
    }
  },
  mounted() {
    this.$store.dispatch(action.GET_VENDOR_PRODUCTS);
  }
};
</script>

<style lang="scss">
.v-content{
    background-color:#F3F6FB!important;
    }

.product-content {
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0;
  border: 1px solid red;
}
.product-img {
  max-height: 200px;
}
#big_wrapper_products {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.makeblue {
  color: #38b4ff;
  font-weight: bold;
}

.bars {
  width: 90%;
  margin: auto;
  margin-top: 2vh;
  height: 10vh;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#new_products span {
  font-size: 16px;
  margin-left: 2vw;
}

#expansion_panel {
  width: 90%;
  margin: auto;
  /* margin-top: 2vh; */
}

.panel_content {
  margin-top: 5vh;
  border: none !important;
  border-radius: 10px;
  /* height: 10vh; */
}

.panel {
  border: none;
  box-shadow: none !important;
}

.v-expansion-panel__header {
  height: 10vh;
}

// .slot_header {
//   font-size: 16px;
// }

// .slot_header {
//   display: flex;
//   align-content: center;
//   align-items: center;
// }

// .slot_header :nth-child(2) {
//   margin-left: 30px;
// }
.all_sections {
  display: grid;
  grid-template-columns: [somewhitespace].3fr [properties]2fr [some_white_space_again].5fr [descriptions]7fr;
}

.section1 {
  /* border: 1px solid black */
  grid-column: properties;
}

.picture_container {
  padding-top: 100%;
  position: relative;
  background-color: #f3f6fb;
  border-radius: 10px;
}

.picture {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  transform: translateY(-50%);
  /* left: 0px; */
}

.dot_button {
  display: flex;
  justify-content: space-between;
  width: 45%;
  min-width: 100px;
  margin: auto;
}

.dot_button button {
  width: 8px;
  height: 8px;
  background-color: darkgray;
  border-radius: 50px;
}
.picture.div {
  position: relative;
}
.properties {
  display: flex;
  justify-content: space-between;
  margin-top: 3vh;
  /* font-weight: 600; */
}

.sizes_number {
  display: flex;
  flex-direction: column;
  text-align: end;
}

.space_under {
  height: 50px;
}

.section_two {
  /* border: 1px solid black; */
  grid-column: descriptions;
  display: flex;
  flex-direction: column;
}

.section_two p {
  /* font-size: 17px; */
}

.product_path span {
  font-size: 1.6vh;
}

.product_name {
  font-size: 7vh;
}

.product_price {
  font-size: 4vh;
}

.product_description {
  display: block;
  font-size: 2.3vh;
  /* border: 1px solid crimson; */
  width: 75%;
  line-height: 1.5;
}

.action_buttons {
  width: 90%;
  /* border: 1px solid black; */
  margin-top: auto;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  /* margin-bottom: auto; */
}

.action_buttons button {
  margin: 1.2vw;
  border: 1px solid lightgrey;
  padding: 15px;
  border-radius: 10px;
  font-size: 2vh;
  outline: none;
}

@media only screen and (max-width: 907px) {
  .material_property {
    flex-direction: column;
  }

  .material_property :nth-child(2) {
    padding-top: 5px;
  }
}

/* .product_list {
  grid-template-columns: [star]1fr[oxford]1fr[spaces]8fr[arrowdown]1fr;
  justify-items: center;
  align-items: center;
}

.stars {
  grid-column: star;
}

.product_list span {
  grid-column: oxford;
  font-size: 16px;
}

.down_arrow {
  grid-column: arrowdown;
} */
</style>
