<template>
<v-app>
  <v-content>
    <v-container grid-list-xl>
      <v-layout row wrap>
        <v-flex xs3 sm3 md3 lg3>
          <v-navigation-drawer
            class="px-3 py-4 blue-bg">
            <v-menu
              max-width="500px"
              min-width="350px"
              :close-on-content-click="false"
                offset-x
                v-for="(productCustom, index) in products" :key="index">
              <template #activator="{ on: menu }">
                <v-tooltip bottom>
                  <template #activator="{ on: tooltip }">
                    <v-card class="card my-3 text-md-center">
                      <img :src="productCustom.image"
                        v-on="{ ...tooltip, ...menu }"
                        class="img-fluid custom-image pt-2"
                      />
                      <p class="text-md-center">{{productCustom.name}}</p>
                    </v-card>
                    <v-card
                        color="white"
                        flat
                        height="120px"
                        width="100%"
                        max-width="220px"
                        class="card text-md-center z-100"
                        @click="addNewCustom= true"
                      >
                        <img src="@/assets/img/add-new.svg" alt="Add Product"  class="img-fluid custom-image pt-2">
                        <p class="text-md-center">Add Feature</p>
                    </v-card>
                  </template>
                  <span>Click to see {{productCustom.name}}</span>
                </v-tooltip>
              </template>

          <h4 class="text-xs-center py-2">{{productCustom.name}}</h4>
          <v-divider></v-divider>

          <v-list v-for="(item, index) in productCustom.items"
              :key="index" class="card z-100">
              <v-list-tile  
              avatar
              class="my-2">
              <v-list-tile-action>
                  <v-checkbox v-model="customize"></v-checkbox>
                </v-list-tile-action>

                <v-list-tile-avatar>
                  <img :src="item.image"
                  class="img-fluid subcustom-image"
                />
                </v-list-tile-avatar>

                <v-list-tile-content>
                  <v-list-tile-title class="pb-3"><h4>{{item.title}}</h4></v-list-tile-title>          
                </v-list-tile-content>

                <v-list-tile-content>
                    <v-list-tile-title class="pb-3"><h4>{{item.price}}</h4></v-list-tile-title>                  
                </v-list-tile-content>

              </v-list-tile>
            <v-divider></v-divider>
            </v-list>
            <div class="text-xs-center py-0">
              <v-btn xs12 class="text-xs-center addOption-btn" @click="addOption">
                <img src="@/assets/img/add-new.svg" alt="Add Product"  class="img-fluid add-image">
                <span class="add-option ml-3"><b>Add option</b></span>
                </v-btn>
            </div>
        </v-menu>
      </v-navigation-drawer>
      </v-flex>

      <v-flex xs8 sm9>
        <v-container  class="">
            <h2>{{product}}</h2>
            <v-layout row wrap class="pt-5">
              <v-flex xs12 sm9 lg9 md9>
                <img src="https://res.cloudinary.com/syfon/image/upload/v1577369125/Cake.png" class="shirt img-fluid">
              </v-flex>
              <v-flex xs12 sm3 lg3 md3>
                <div class="my-5"></div>
                <div class="amount-box text-xs-center my-5">
                  <h3>N 0.00</h3> 
                </div>
                  <div class="mt-5 pt-5">
                    <v-btn class="mt-5 px-5 add-btn"> Add to Shelf</v-btn>
                </div>
              </v-flex>
          </v-layout>
        </v-container>

        <v-dialog v-model="addNewCustom" max-width="500px" transition="dialog-transition">
            <v-card class="px-5 py-4 text-xs-center cardd" >
                <el-upload
                  class="upload-demo"
                  drag
                  action=""
                  :on-preview="handlePreview"
                  :on-remove="handleRemove"
                  multiple>
                  <i class="el-icon-upload"></i>
                  <div class="el-upload__text text-xs-center">Choose a File
                  <br>
                    <em>(Img Max 15kb)</em>
                  </div>
                </el-upload>

                <v-flex xs12 sm12 class="mt-1">
                  <el-checkbox v-model="checkbox" label="Buyer must provide this feature" border></el-checkbox>
                    </v-flex>

                  <v-flex xs12 sm12 class="my-1">
                      <el-input placeholder="Enter Feature name" class="form-control" v-model="featureName"></el-input>
                    </v-flex>

                  <v-flex xs12 sm12 class="my-2">
                      <el-select v-model="value" placeholder="Select Feature Type">
                        <el-option
                          v-for="item in options"
                          :key="item.value"
                          :label="item.label"
                          :value="item.value">
                        </el-option>
                      </el-select>
                    </v-flex>

                    <v-flex xs12 sm12 class="my-2">
                      <el-input placeholder="Options(comma seperated) e.g 6,7,8"  v-model="featureOption"></el-input>
                    </v-flex>

                    <v-flex xs12 sm12 class="my-2">
                      <el-input placeholder="Unit (optional) e.g Inches" class="form-control" v-model="featureUnit"></el-input>
                    </v-flex>
                <v-btn  class="text-xs-center ma-0 px-5 py-0 create-btn text--white" flat @click="addNewCustom=false">Add</v-btn>
            </v-card>
          </v-dialog>
       </v-flex>
      </v-layout>
    </v-container>
   </v-content>
</v-app>

</template>

<script>
  export default {
    data () {
      return {
      featureName: '',
      featureOption: '',
      featureUnit: '',
      checkbox: false,
      customize: false,
      addNewCustom: false,
       description: '',
      //  customize: '',
       price: '',
      
       product: 'Cake Customization',
        products: [
          
          { image: 'https://res.cloudinary.com/syfon/image/upload/v1577369125/Cake.png',
            name: 'Cake Size',
            items: [
          { image: 'https://res.cloudinary.com/syfon/image/upload/v1577369125/Cake.png', title: '6 Inches', price: 'N10,000'},
          { image: 'https://res.cloudinary.com/syfon/image/upload/v1577369125/Cake.png', title: '7 Inches', price: 'N10,000'},
          { image: 'https://res.cloudinary.com/syfon/image/upload/v1577369125/Cake.png', title: '8 Inches', price: 'N10,000'},
          { image: 'https://res.cloudinary.com/syfon/image/upload/v1577369125/Cake.png', title: '9 Inches', price: 'N10,000'},
          { image: 'https://res.cloudinary.com/syfon/image/upload/v1577369125/Cake.png', title: '10 Inches', price: 'N10,000'},
        ]
          }
        ],
        right: null,
        options: [{
          value: 'Multiple Options',
          label: 'Multiple Options'
        }, {
          value: 'Text',
          label: 'Text'
        }, {
          value: 'Number',
          label: 'Number'
        },
        ],
        value: '',
      }
    },
  }
</script>
<style lang="scss" scoped>
.v-navigation-drawer{
  max-width:150px;
  transform: translateX(0px)!important;
}
.card{
  border-radius: 5px;
}
.blue-bg{
  background-color: #38B4FF;
}
.add-btn{
  background-color: #1E97E0!important;
  color: white;
}
.create-btn:hover{
  background-color: #38B4FF!important;
  color: white;
}
.custom-image{
  max-height: 90px;
}
.add-image{
  max-height:22px;
}
.subcustom-image{
  max-height: 75px;
}
.shirt{
  max-height: 450px;
}
#app{
  margin:0;
  background-color: #fff;
}
.amount-box{
  border-radius: 10px;
  border: 1px solid #000
}
.create-btn{
  background: #00CFF6;
  color: white;
}
.cardd{
  border-radius:20px;
}
.el-checkbox.is-bordered{
  width:100%!important;
  text-align:left;
}
.avatar-uploader .el-upload {
  border:3px solid red!important;
}
.el-select{
  width:100%!important;
}
.addOption-btn {
  border: none !important;
  border-radius: 5px;
  color:#38B4FF;
  text-align:center;
  background-color:#fff!important;
  &.primary-border {
    border: 1px solid $primary !important;
    // color: $primary;
  }
}
.add-option{
    font-weight:800!important;
    font-size:18px!important;
  }
.v-menu__content{
background:#fff!important;
  }
</style>