<template>
  <v-app>
    <v-content>
      <v-container class="py-2">
        <v-card class="px-5 py-4 card">
        <el-tabs :tab-position="tabPosition" style="">
          <el-tab-pane label="My Profile"><v-form @submit.prevent="updateVendor">
          <v-container grid-list-xl class="px-3">
          <v-img
                  v-if="edit"
                  :class="{ 'has-error': errors.has('storename') }"
                  solo
                  class="mt-0"
                  name="storename"
                  label="Store Name"
                  v-model="store.name"
                  v-validate="'required'" 
                ></v-img>
            <v-layout row wrap >
              <v-flex xs12>
                <h2 class="border-bottom pb-3">Store Details</h2>
              </v-flex>
              <v-flex xs12>
                <h3 class="mb-2 font-weight-bold">
                  Store Name
                  <span
                    class="input-error"
                    v-if="errors.first('storename')"
                  >&nbsp;**{{ errors.first("storename") }}</span>
                </h3>
                <v-text-field
                  v-if="edit"
                  :class="{ 'has-error': errors.has('storename') }"
                  solo
                  class="mt-0"
                  name="storename"
                  label="Store Name"
                  v-model="store.name"
                  v-validate="'required'"
                ></v-text-field>
                <h4 v-else class="font-weight-regular">{{ vendor.name }}</h4>
              </v-flex>
              <!-- <v-flex xs12 sm6>
                          <h4 class="mb-2 font-weight-regular">Store URL</h4>
                          <v-text-field
                            solo
                            name="store_url"
                            v-model="storeDetails.slug"
                            label="Store URL"
                            readonly
                            disabled
                          ></v-text-field>
              </v-flex>-->

              <v-flex xs12 mt-3>
                <h3 class="mb-2 font-weight-bold">
                  Store Description
                  <span
                    class="input-error"
                    v-if="errors.first('storedescription')"
                  >&nbsp;**{{ errors.first("storedescription") }}</span>
                </h3>
                <v-text-field
                  v-if="edit"
                  solo
                  name="storedescription"
                  label="Store Description"
                  v-model="store.description"
                  v-validate="'required'"
                  :class="{ 'has-error': errors.has('storedescription') }"
                ></v-text-field>
                <h4 v-else class="font-weight-regular">{{ capitalize(vendor.description) || "NIL" }}</h4>
              </v-flex>

              <v-flex xs12 mt-3>
                <h3 class="mb-2 font-weight-bold">
                  Store Address
                  <span
                    class="input-error"
                    v-if="errors.first('storeaddress')"
                  >&nbsp;**{{ errors.first("storeaddress") }}</span>
                </h3>
                <v-text-field
                  v-if="edit"
                  solo
                  name="storeaddress"
                  label="Store Address"
                  v-model="store.street_address"
                  v-validate="'required'"
                  :class="{ 'has-error': errors.has('storeaddress') }"
                ></v-text-field>
                <h4
                  v-else
                  class="font-weight-regular"
                >{{ capitalize(vendor.street_address) || "NIL" }}</h4>
              </v-flex>

              <v-flex xs12 sm6 mt-3>
                <h3 class="mb-2 font-weight-bold">Country</h3>
                <v-autocomplete
                  :class="{ 'has-error': errors.has('storecountry') }"
                  solo
                  name="storecountry"
                  label="Country"
                  v-model="store.country_id"
                  :items="countries"
                  v-validate="'required'"
                  @change="selectCountry"
                  :disabled="!edit"
                  item-text="name"
                  item-value="id"
                  return-object
                ></v-autocomplete>
              </v-flex>
              <v-flex xs12 sm6 mt-3>
                <h3 class="mb-2 font-weight-bold">State</h3>
                <v-autocomplete
                  :disabled="!edit"
                  :class="{ 'has-error': errors.has('storestate') }"
                  solo
                  name="storestate"
                  label="State"
                  v-model="store.state_id"
                  :items="states"
                  item-text="name"
                  item-value="id"
                  return-object
                  v-validate="'required'"
                  @change="selectState"
                ></v-autocomplete>
              </v-flex>
              <v-flex xs12 sm6 mt-3>
                <h3 class="mb-2 font-weight-bold">City</h3>
                <v-select
                  :disabled="!edit"
                  solo
                  :class="{ 'has-error': errors.has('storecity') }"
                  name="storecity"
                  label="City"
                  v-model="store.city_id"
                  v-validate="'required'"
                  :items="cities"
                  item-text="name"
                  item-value="id"
                ></v-select>
              </v-flex>
            </v-layout>

            <v-layout row wrap>
              <v-flex xs12 sm6 mt-3>
                <h3 class="mb-2 font-weight-bold">
                  Email Address
                  <span
                    class="input-error"
                    v-if="errors.first('email')"
                  >&nbsp;**{{ errors.first("email") }}</span>
                </h3>
                <v-text-field
                  v-if="edit"
                  disabled
                  :class="{ 'has-error': errors.has('email') }"
                  solo
                  name="email"
                  :value="vendor.contact_email"
                  label="Email"
                  v-validate="'required|email'"
                ></v-text-field>

                <h4 v-else class="font-weight-regular">{{ vendor.contact_email || "NIL" }}</h4>
              </v-flex>

              <v-flex xs12 sm6 mt-3>
                <h3 class="mb-2 font-weight-bold">
                  Phone
                  <span
                    class="input-error"
                    v-if="errors.first('phome')"
                  >&nbsp;**{{ errors.first("phone") }}</span>
                </h3>
                <v-text-field
                  v-if="edit"
                  disabled
                  solo
                  name="phone"
                  label="Phone"
                  v-model="vendor.contact_phone"
                  v-validate="'required'"
                  :class="{ 'has-error': errors.has('phone') }"
                ></v-text-field>
                <h4 v-else class="font-weight-regular">{{ vendor.contact_phone || "NIL" }}</h4>
              </v-flex>

              <v-flex xs12 sm6 mt-3>
                <h3 class="mb-2 font-weight-bold">
                  Select Industry
                  <span
                    class="input-error"
                    v-if="errors.first('industry')"
                  >&nbsp;**{{ errors.first("industry") }}</span>
                </h3>
                <v-select
                  :disabled="!edit"
                  solo
                  name="industry"
                  label="Industry"
                  v-model="store.product_category_id"
                  :items="industries"
                  item-text="name"
                  item-value="id"
                  return-object
                  v-validate="'required'"
                  :class="{ 'has-error': errors.has('industry') }"
                  @change="selectIndustry"
                ></v-select>
              </v-flex>

              <v-flex xs12 sm6 mt-3>
                <h3 class="mb-2 font-weight-bold">
                  Select Category
                  <span
                    class="input-error"
                    v-if="errors.first('category')"
                  >&nbsp;**{{ errors.first("category") }}</span>
                </h3>
                <v-select
                  :disabled="!edit"
                  solo
                  name="category"
                  label="Category"
                  v-model="store.product_subcategory_id"
                  :items="categories"
                  item-text="name"
                  item-value="id"
                  v-validate="'required'"
                  :class="{ 'has-error': errors.has('category') }"
                ></v-select>
              </v-flex>
              <v-flex xs12 text-xs-right>
                <v-btn
                  v-if="!edit"
                  color="primary"
                  @click="editStore"
                  class="w-100 max-w-xs"
                >Edit Profile</v-btn>
              </v-flex>
            </v-layout>

            <v-layout v-if="edit" max-w-lg mx-auto mt-3>
              <v-flex xs6>
                <v-btn @click="edit = false" color="transparent" class="mx-0 w-100">Cancel</v-btn>
              </v-flex>
              <v-flex xs6>
                <v-btn color="success" class="mx-0 w-100" type="submit">Make Changes</v-btn>
              </v-flex>
            </v-layout>
          </v-container>
        </v-form>
        </el-tab-pane>
              <!-- <el-tab-pane label="Security">Config</el-tab-pane>
              <el-tab-pane label="Notification">Role</el-tab-pane>
              <el-tab-pane label="Task">Task</el-tab-pane> -->
            </el-tabs>
      </v-card>
      </v-container>
      <Loading :show="working"/>
    <Snackbar :data="snackbar"/> 
    </v-content>
  </v-app>
</template>

<script>
import Loading from '@/components/Loading';
import Snackbar from '@/components/Snackbar';
import * as action from '@/store/actionTypes';
export default {
  components: {
    Loading,
    Snackbar
  },
  data() {
      return {
        tabPosition: 'left',
      edit: false,
      store: {
        name: '',
        description: '',
        street_address: '',
        city_id: null,
        state_id: null,
        country_id: null,
        product_category_id: null,
        product_subcategory_id: null
      },
      categories: [],
      complete: true
    };
  },
  computed: {
    vendor() {
      return this.$store.getters.getVendor;
    },
    countries() {
      return this.$store.getters.getCountries;
    },
    states() {
      return this.$store.getters.getStates;
    },
    cities() {
      return this.$store.getters.getCities;
    },
    industries() {
      return this.$store.getters.getIndustries;
    }
  },
  methods: {
    updateVendor() {
      this.store.city_id = this.store.city_id || 1;
      this.store.product_subcategory_id =
        this.store.product_subcategory_id || 1;
      this.store.product_category_id = this.store.product_category_id || 1;
      this.store.country_id = this.store.country_id || 1;
      this.store.state_id = this.store.state_id || 1;
      this.store.city_id = this.store.city_id || 1;
      delete this.store.contact_email;
      delete this.store.contact_phone;
      this.working = true;
      this.$store.dispatch(action.UPDATE_VENDOR, this.store).then(resp => {
        this.working = false;
        this.snackbar.show = true;
        if (resp) {
          this.snackbar.text = 'Vendor profile updated successfully';
          this.snackbar.color = 'primary';
        } else {
          this.snackbar.text = 'There was an error updating your profile';
          this.snackbar.color = 'error';
        }
        this.edit = false;
      });
    },
    editStore() {
      this.edit = true;
      Object.entries(this.vendor).forEach(([key, value]) => {
        this.store[key] = value;
      });
      this.store.country_id = parseInt(this.store.country_id);
    },
    selectCountry(value) {
      this.store.city_id = null;
      this.store.state_id = null;
      this.store.country_id = value.id;
      this.$store.dispatch(action.GET_STATES, value.id);
    },
    selectState(value) {
      this.store.city_id = '';
      this.store.state_id = value.id;
      this.$store.dispatch(action.GET_CITIES, value.id);
    },
    selectIndustry(value) {
      this.store.product_category_id = value.id;
      this.categories = value.subcategories;
    },
    checkComplete(obj) {
      Object.values(obj).forEach(el => {
        if (!el) this.complete = false;
      });
    },
    reCapitalize(word) {
      if (word) {
        let words = word.split(' ');
        words.forEach((value, i) => {
          words[i] = this.capitalize(value);
        });
        return words.join(' ');
      }
    }
  },
  mounted() {
    this.$store.dispatch(action.GET_INDUSTRIES);
    this.$store.dispatch(action.GET_COUNTRIES);
    this.$store.dispatch(action.GET_VENDOR).then(() => {
      this.industries.forEach(element => {
        if (element.id == this.vendor.product_category_id) {
          this.categories = element.subcategories;
        }
      });
      this.store.product_category_id = this.vendor.product_category_id;
      this.store.product_subcategory_id = this.vendor.product_subcategory_id;
      this.$store
        .dispatch(action.GET_STATES, this.vendor.country_id)
        .then(() => {
          this.$store.dispatch(action.GET_CITIES, this.vendor.state_id);
        });

      this.store.country_id = parseInt(this.vendor.country_id);
      this.store.state_id = parseInt(this.vendor.state_id);
    });
  }
}
</script>

<style scoped>
.card {
  background-color: #FAFAFA!important;
}
@media (max-width: 600px) {
    .card {
      padding: 5px 0px!important;
  }
  .el-tabs__item{
    width:100px;
  }
  h3{
    font-size:16px;
  }
}
</style>