<template>
  <div class="white ml-5 pl-5">
    <v-container py-5 class="h-100 tracker">
      <section class="tracker-grid">
        <section class="pt-4">
          <div class="mb-3">
            <v-layout justify-space-between>
              <div>
                <span class="subheader__title font-weight-bold">Purchase Tracker</span>
                <span class="text-muted" light>(Update your customers  of the progress of their orders)</span>
              </div>
              </v-layout> 
            <v-divider />
          </div>
          <div class="pr-3">
            <div>
              <h3 class="mb-3">Order No: 1229397</h3>
              <p>Date Ordered: 22/09/2019</p>
            </div>

            <div>
              <v-stepper v-model="index" class="no-shadow">
                <v-stepper-header class="sub">
                  <v-stepper-step color="primary" :complete="index > 1" step="1">
                    Confirm Order
                    <div class="sub-step"></div>
                  </v-stepper-step>

                  <v-divider></v-divider>

                  <v-stepper-step color="primary" :complete="index > 2" step="2">
                    Begin work
                    <div class="sub-step"></div>
                  </v-stepper-step>

                  <v-divider></v-divider>

                  <v-stepper-step color="primary" :complete="index > 3" step="3">
                    In progress
                    <div class="sub-step"></div>
                  </v-stepper-step>
                  <v-divider></v-divider>

                  <v-stepper-step color="primary" :complete="index > 4" step="4">
                    Completed
                    <div class="sub-step"></div>
                  </v-stepper-step>

                </v-stepper-header>

                <v-stepper-content step="1" class="stepper__content">
                  <div>
                    <h4 class="mb-3 text-muted">Status of work</h4>
                    <div class="stepper__content">
                      <div class="add-pic">
                             <div class="block">
                                
                                <el-timeline :reverse="reverse">
                                  <el-timeline-item
                                    v-for="(activity, index) in activities"
                                    :key="index"
                                    :timestamp="activity.timestamp">
                                    <el-select  v-model="activities.content" placeholder="Select your progress level">
                                    <el-option label="Confirm order" value="first"></el-option>
                                    <el-option label="Start work" value="second"></el-option>
                                    <el-option label="Finish work" value="third"></el-option>
                                  </el-select>
                                  </el-timeline-item>
                                </el-timeline>
                              </div>

                          <div class="text-xs-center mt-3">
                          <v-btn class="ma-0" color="primary" @click="index++">PROCEED</v-btn>
                        </div>
                      </div>
                    </div>
                  </div>
                </v-stepper-content>

                <v-stepper-content step="2" class="stepper__content">
                  <div>
                    <h4 class="mb-3 text-muted">Status of work</h4>
                    <div class="stepper__content">
                      <div class="add-pic">
                             <div class="block">
                              
                                <el-timeline :reverse="reverse">
                                  <el-timeline-item
                                    v-for="(activity, index) in activities"
                                    :key="index"
                                    :timestamp="activity.timestamp">
                                    <el-select  v-model="activities.content" placeholder="Select your progress level">
                                    <el-option label="Confirm order" value="first"></el-option>
                                    <el-option label="Start work" value="second"></el-option>
                                    <el-option label="Finish work" value="third"></el-option>
                                  </el-select>
                                  </el-timeline-item>
                                </el-timeline>
                              </div>

                        <div class="text-xs-center mt-3">
                          <v-btn class="ma-0" color="primary" @click="index++">PROCEED</v-btn>
                        </div>
                      </div>
                    </div>
                  </div>
                </v-stepper-content>

                <v-stepper-content step="3" class="stepper__content">
                  <div>
                   <h4 class="mb-3 text-muted">Status of work</h4>
                    <div class="stepper__content">
                      <div class="add-pic">
                             <div class="block">
                        
                                <el-timeline :reverse="reverse">
                                  <el-timeline-item
                                    v-for="(activity, index) in activities"
                                    :key="index"
                                    :timestamp="activity.timestamp">
                                    <el-select  v-model="activities.content" placeholder="Select your progress level">
                                    <el-option label="Confirm order" value="first"></el-option>
                                    <el-option label="Start work" value="second"></el-option>
                                    <el-option label="Finish work" value="third"></el-option>
                                  </el-select>
                                  </el-timeline-item>
                                </el-timeline>
                              </div>

                        <div class="text-xs-center mt-3">
                          <v-btn class="ma-0" color="primary" @click="index++">PROCEED</v-btn>
                        </div>
                      </div>
                    </div>
                  </div>
                </v-stepper-content>

                <v-stepper-content step="4" class="stepper__content">
                  <div>
                   <h4 class="mb-3 text-muted">Status of work</h4>
                    <div class="stepper__content">
                      <div class="add-pic">
                             <div class="block">
                                
                                <el-timeline :reverse="reverse">
                                  <el-timeline-item
                                    v-for="(activity, index) in activities"
                                    :key="index"
                                    :timestamp="activity.timestamp">
                                    <el-select  v-model="activities.content" placeholder="Select your progress level">
                                    <el-option label="Confirm order" value="first"></el-option>
                                    <el-option label="Start work" value="second"></el-option>
                                    <el-option label="Finish work" value="third"></el-option>
                                  </el-select>
                                  </el-timeline-item>
                                </el-timeline>
                              </div>

                        <div class="text-xs-center mt-3">
                          <v-btn class="ma-0" color="primary" @click="index++">PROCEED</v-btn>
                        </div>
                      </div>
                    </div>
                  </div>
                </v-stepper-content>
              </v-stepper>
            </div>
            <br />
          </div>
        </section>

      </section>
    </v-container>

    <br />

    <br />
    <br />
    <br />
  </div>
</template>

<script>
export default {
  data() {
    return {
      index: 0,
      reverse: false,
        activities: [{
          content: '',
          timestamp: '2018-04-15'
        }]

    };
  },
  
};
</script>
<style lang="scss" scoped>
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: $nude;
  border-radius: 20px;
  &:hover {
    background: $primary;
  }
}

.tracker-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-column-gap: 2px;
}

.white--text {
  color: white;
}

@media (min-width: $break-md) {
  aside {
    max-height: 80vh;
    min-height: 400px;
    top: 80px;
  }
  .tracker-grid {
    grid-template-columns: auto 250px;
  }
}

.font-12 {
  font-size: 12px;
}

textarea {
  border: 1px solid rgba($color: #fff, $alpha: 0.1);
  width: 100%;
  border-radius: 3px;
  margin-left: -20px;
  padding: 0.875rem;
}
</style>
