<template>
  <v-app>
    <v-content>
      <v-container>
        
        <section class="my-4">
          <v-card class="py-2 px-1">
            <v-layout row wrap>
              <div class="header__text">Account Summary</div>
              <v-spacer />
              <div>
                <!-- <p class="nude--text">Last Updated Feb 18, 2018</p> -->
              </div>
            </v-layout>
          </v-card>

        <section>

          <v-layout row wrap class="my-3 text-xs-center">
          <v-flex xs12 sm6 md-6 lg-6 class="py-2">
            <v-btn
              @click="withdrawFromMainWallet= true"
              
              left
              class="ma-0 px-3 py-0 withdraw-btn left"
            >Withdraw From Main Account</v-btn>
          </v-flex>
          <v-flex xs12 sm6 md-6 lg-6 class="py-2">
            <v-btn
              @click="withdrawFromEscrowWallet= true"
              
              right
              class="ma-0 px-3 py-0 withdraw-btn right"
            >Withdraw From Escrow Account</v-btn>
          </v-flex>
          </v-layout>
        </section>

          <section class="grid">
            <summary-card v-for="(item, i) in account_summary" :key="i" :data="item" />
          </section>
        </section>

        <section class="my-5">
          <v-card class="py-2 px-1 mb-4">
            <div class="header__text">Wallet Log</div>
          </v-card>
          <section class="relative white px-5 py-4">
            <br />
            <div class="absolute right pr-3 mt-3">
              
            </div>
            <v-tabs
              v-model="activeTab"
              color="transparent"
              active-class="primary--text"
              hide-slider
              :touchless="true"
            >
              <v-tab v-for="(tab, i) in allTabs" :key="i" ripple>{{ tab }}</v-tab>
              <v-tab-item v-for="(tab, i) in allTabs" :key="i">
                <v-card flat>
                  <br />
                  <v-data-table
                    :headers="headers"
                    :items="transactions"
                    :search="search"
                    hide-actions
                    :pagination.sync="pagination"
                    :rows-per-page-items="[10]"
                  >
                    <template slot="items" slot-scope="props">
                      <tr>
                        <td>{{ props.item.description }}</td>
                        <td class="text-xs-left">{{ props.item.amount }}</td>
                        <td class="text-xs-left">{{ props.item.commission }}</td>
                      </tr>
                    </template>
                  </v-data-table>

                  <!-- withdrawal button -->

                  <v-dialog
                    v-model="withdrawFromMainWallet"
                    max-width="500px"
                    transition="dialog-transition"
                    hide-overlay
                  >
                    <WithdrawMainAccountModal @closeDialog="withdrawFromMainWallet = false" />
                  </v-dialog>

                  <v-dialog
                    v-model="withdrawFromEscrowWallet"
                    max-width="500px"
                    transition="dialog-transition"
                    hide-overlay
                  >
                    <WithdrawEscrowAccountModal @closeDialog="withdrawFromEscrowWallet = false" />
                  </v-dialog>

                  <div class="text-xs-center py-4">
                    <v-pagination v-if="pages > 1" v-model="pagination.page" :length="pages"></v-pagination>
                  </div>
                </v-card>
              </v-tab-item>
            </v-tabs>
          </section>
        </section>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import WithdrawMainAccountModal from '@/pages/dashboard/modals/WithdrawMainAccountModal';
import WithdrawEscrowAccountModal from '@/pages/dashboard/modals/WithdrawEscrowAccountModal';

import SummaryCard from '@/components/SummaryCards';
import * as actions from '@/store/actionTypes';
import APIService from '../../services/APIService';
import userImage from '@/assets/img/dp.png';
export default {
  components: { SummaryCard, WithdrawMainAccountModal, WithdrawEscrowAccountModal },
  data() {
    return {
      withdrawFromMainWallet: false,
      withdrawFromEscrowWallet: false,
      account_summary: [
        {
          value: 'N0.00',
          midtext: 'Available Balance',
          link: '/dashboard'
        },
        {
          value: '0',
          midtext: 'Invoices',
          link: '/dashboard'
        },
        {
          value: 'N0.00',
          midtext: 'In Escrow',
          link: '/dashboard'
        },
        // {
        //   value: 'N0.00',
        //   midtext: 'Threshold Balance',
        //   link: '/dashboard'
        // }
      ],

      allTabs: ['History'],
      activeTab: null,
      search: '',
      pagination: {},
      selected: [],
      headers: [
        {
          text: 'Description',
          align: 'left',
          sortable: false,
          value: 'description'
        },
        { text: 'Amount', value: 'amount' },
        { text: 'commission', value: 'commission' }
      ]
    };
  },

  computed: {
    pages() {
      if (
        this.pagination.rowsPerPage == null ||
        this.pagination.totalItems == null
      )
        return 0;

      return Math.ceil(
        this.pagination.totalItems / this.pagination.rowsPerPage
      );
    },
    transactions() {
      return this.$store.getters.getTransactions;
    },
    user() {
      return this.$store.getters.getUser;
    }
  },
  beforeRouteEnter(to, from, next) {
    next(async vm => {
      const { data } = await APIService.get('/vendor/account-summary');
      vm.account_summary = data.account_summary;
    });
  },
  created() {
    let me = this.$store.dispatch(actions.GET_TRANSACTIONS);
  }
};
</script>
<style lang="scss" scoped>
.withdraw-btn{
background-color: #FFDEB8!important;
}
@media only screen and (max-width: 480px) {
  .left{
    float:none!important;
  }
  .right{
  float:none!important;
  }
}
</style>
