<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id="></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!--<script async src="https://www.googletagmanager.com/gtag/js?id=UA-146278962-1"></script>-->
    <!--<script>-->
    <!--  window.dataLayer = window.dataLayer || [];-->
    <!--  function gtag(){dataLayer.push(arguments);}-->
    <!--  gtag('js', new Date());-->

    <!--  gtag('config', 'UA-146278962-1');-->
    <!--</script>-->
    <title>Welcome To Kiitec Vendor</title>
    <meta
      name="description"
      content="Manage your online store through the Kiitec.com vendor app. Add products, edit products, create and add customization profiles, and track the success of your store. Do more with Nigeria’s #1 alternative commerce platform."
    />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css"
    />
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but vendor doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong
      >
    </noscript>
    <div id="app" app-data="true"></div>
    <!-- built files will be auto injected -->
  </body>
  <script src="/js/wow.min.js"></script>
  <script>
    new WOW().init();
  </script>
</html>
