<template>
  <div>
    <Header />
    <v-container>
      <v-layout row wrap>
          
          <v-flex xs12 sm6>
            <h1>Welcome to Kiitec!</h1>
            <p>The future of online commerce in the world</p>
          </v-flex>
          <v-flex xs12 sm6>
                <v-img src=" https://res.cloudinary.com/syfon/image/upload/v1569845680/about.svg" aspect-ratio="2" contain></v-img>
          </v-flex>
      </v-layout>
      <v-flex xs12 sm12 class="py-2" text-xs-center>
        <h3 text-xs-center>Who we are</h3>
        <p>Kiitec is a trademark product and the brainchild of the forward-thinking team atThis website, which has been specially designed and crafted to acknowledge and appreciate the beauty that exists in the mind of every millennial, will keep Africa toe to toe with the rest of the world.
        </p>
      </v-flex>

      <v-flex xs12 sm12 text-xs-center class="py-2">
        <h3 text-xs-center>Goal</h3>
        <p>Our goal is to alienate the stress that comes with moving from one website or store to another in search of different things from different fields. That is why we are a one-stop shop for all the latest, classiest, and finest products and vendors on: fashion, furniture, food, branding, graphics, interior decor, architecture, engineering, and commerce.
        </p>
      </v-flex>

      <v-flex xs12 sm12 text-xs-center class="py-2">
        <h3 text-xs-center>Values</h3>
        <p>We understand that every individual has an idea of what they want before they come online to search, and for a long time, customers have been forced to satisfice. This is why apart from offering our customers the widest range of products, we’re also offering them the ability and opportunity to customize what they want, and how they want it. We want to bring every millenial’s inner vision to life, and make their imagination a reality.
</p>
      </v-flex>

<v-flex xs12 sm12  text-xs-center class="py-2">
        <h3 text-xs-center>Services</h3>
        <p>The services offered by Kiitec.com have been specially crafted to satisfy all customers - men, women, and young children. We also have unbeatable customer service that guarantees ultimate user satisfaction and convenience.
</p>
      </v-flex>
  </v-container>
  </div>
</template>

<script>
import Header from '@/components/Header';
export default {
  components: {
    Header
  }
};

</script>

<style>

</style>