<template>
    <div>
        <Sidebar/>
        <v-container>
            <v-layout>
                <v-flex xs12 sm12 md9 lg9 mx-auto class="back mt-5">
                    <v-card class="py-4 px-5 mt-5 back">
                        <v-toolbar-title>
<!--                            <a href="/">-->
<!--                                <img src="@/assets/logo.png" alt="Kiitec" width="50px" />-->
<!--                            </a>-->
                        </v-toolbar-title>
                        <h3>Business Activation Status</h3>

                        <p v-if="isRejected" class="pb-3">
                            {{ authVendor.rejectionData.comment }}
                        </p>
<!--                        <p v-if="isRejected" class="pb-3">Welcome <span class="orange&#45;&#45;text">{{userName}}</span> on starting your journey here on <span class="orange&#45;&#45;text">Kiitec</span> platform. With just a few more steps, you will be ready to have full access of your vendors account. And we will help you in every step of the way.</p>-->

                        <v-layout v-if="isRejected && authVendor.rejectionData.cac_status === 'rejected'" row wrap py-3>
                            <v-flex xs1 sm1 md1 lg1>
                                <v-alert
                                        :color="'error'"
                                        :icon="'error'"
                                        :value="true"
                                        outline>
                                </v-alert>
                            </v-flex>
                            <v-flex xs5 sm5 md5 lg5 class="pl-4">
                                <h4 >{{ 'CAC Document' }}</h4>
                                <p>{{ 'Your CAC Document was rejected, you must upload another to get your account approved!' }}</p>
                            </v-flex>

                            <v-flex xs2 sm2 md2 lg2 class="pl-4">
                                <div v-if="showCAC.show" class="text-xs-center h-100">
                                    <img :src="showCAC.image" @click="removeCAC" height="75px" width="auto">
                                </div>
                            </v-flex>

                            <v-flex xs4 sm4 md4 lg4 class="text-xs-right">
                                <v-btn :color="'error'" class="px-4 py-0 text-xs-right">
                                    {{ 'Update' }}
                                    <input
                                            type="file"
                                            @change="showCACImage($event)"
                                            accept="image/*"
                                            class="w-100 h-100 hidden absolute top left"
                                    >
                                </v-btn>
                            </v-flex>
                        </v-layout>
                        <v-layout v-else-if="(isRejected && authVendor.rejectionData.cac_status === 'accepted') || authVendor.is_approved" row wrap py-3>
                            <v-flex xs1 sm1 md1 lg1>
                                <v-alert
                                        :color="'primary'"
                                        :icon="'check_circle'"
                                        :value="true"
                                        outline>
                                </v-alert>
                            </v-flex>
                            <v-flex xs7 sm7 md7 lg7 class="pl-4">
                                <h4 >{{ 'CAC Document' }}</h4>
                                <p>{{ 'CAC Document has been accepted!' }}</p>
                            </v-flex>
                            <v-flex xs4 sm4 md4 lg4 class="text-xs-right">
                                <v-btn :color="'primary'" class="px-4 py-0 text-xs-right">{{ 'Accepted!' }}</v-btn>
                            </v-flex>
                        </v-layout>
                        <v-layout v-else row wrap py-3>
                            <v-flex xs1 sm1 md1 lg1>
                                <v-alert
                                        :color="'grey lighten-1'"
                                        :icon="'warning'"
                                        :value="true"
                                        outline>
                                </v-alert>
                            </v-flex>
                            <v-flex xs7 sm7 md7 lg7 class="pl-4">
                                <h4 >{{ 'CAC Document' }}</h4>
                                <p>{{ 'Your CAC Document is pending Approval!' }}</p>
                            </v-flex>
                            <v-flex xs4 sm4 md4 lg4 class="text-xs-right">
                                <v-btn :disabled="true" :color="'grey lighten-1'" class="px-4 py-0 text-xs-right">{{ 'Pending' }}</v-btn>
                            </v-flex>
                        </v-layout>


                        <v-layout v-if="isRejected && authVendor.rejectionData.id_status === 'rejected'" row wrap py-3>
                            <v-flex xs1 sm1 md1 lg1>
                                <v-alert
                                        :color="'error'"
                                        :icon="'error'"
                                        :value="true"
                                        outline>
                                </v-alert>
                            </v-flex>
                            <v-flex xs5 sm5 md5 lg5 class="pl-4">
                                <h4 >{{ 'Identification Document' }}</h4>
                                <p>{{ 'Your Identification Document was rejected, you must upload another to get your account approved!' }}</p>
                            </v-flex>

                            <v-flex xs2 sm2 md2 lg2 class="pl-4">
                                <div v-if="showID.show" class="text-xs-center h-100">
                                    <img :src="showID.image" @click="removeID" height="75px" width="auto">
                                </div>
                            </v-flex>

                            <v-flex xs4 sm4 md4 lg4 class="text-xs-right">
                                <v-btn :color="'error'" class="px-4 py-0 text-xs-right">
                                    {{ 'Update' }}

                                    <input
                                            type="file"
                                            @change="showIDImage($event)"
                                            accept="image/*"
                                            class="w-100 h-100 hidden absolute top left"
                                    >
                                </v-btn>
                            </v-flex>
                        </v-layout>
                        <v-layout v-else-if="(isRejected && authVendor.rejectionData.id_status === 'accepted') || authVendor.is_approved" row wrap py-3>
                            <v-flex xs1 sm1 md1 lg1>
                                <v-alert
                                        :color="'primary'"
                                        :icon="'check_circle'"
                                        :value="true"
                                        outline>
                                </v-alert>
                            </v-flex>
                            <v-flex xs7 sm7 md7 lg7 class="pl-4">
                                <h4 >{{ 'Identification Document' }}</h4>
                                <p>{{ 'Identification Document has been accepted!' }}</p>
                            </v-flex>
                            <v-flex xs4 sm4 md4 lg4 class="text-xs-right">
                                <v-btn :color="'primary'" class="px-4 py-0 text-xs-right">{{ 'Accepted!' }}</v-btn>
                            </v-flex>
                        </v-layout>
                        <v-layout v-else row wrap py-3>
                            <v-flex xs1 sm1 md1 lg1>
                                <v-alert
                                        :color="'grey lighten-1'"
                                        :icon="'warning'"
                                        :value="true"
                                        outline>
                                </v-alert>
                            </v-flex>
                            <v-flex xs7 sm7 md7 lg7 class="pl-4">
                                <h4 >{{ 'Identification Document' }}</h4>
                                <p>{{ 'Your Identification Document is pending Approval!' }}</p>
                            </v-flex>
                            <v-flex xs4 sm4 md4 lg4 class="text-xs-right">
                                <v-btn :disabled="true" :color="'grey lighten-1'" class="px-4 py-0 text-xs-right">{{ 'Pending' }}</v-btn>
                            </v-flex>
                        </v-layout>

                        <v-flex max-w-xs mx-auto w100 text-xs-center v-if="!authVendor.is_approved">
                            <div v-if="isRejected">
                                <p class="red--text">You are yet to complete your approval process!</p>
                                <v-btn :loading="loading"
                                        :disabled="loading" @click.prevent="checkImage" v-if="documentsSelected" class="w-100 signup-btn white--text">Request Approval!</v-btn>
                            </div>
                            <p v-else class="red--text">Your approval request is still pending, you'll get an email once the approval is updated!</p>
                        </v-flex>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<script>
    import Sidebar from '@/components/SideBar';
    import {VENDOR_ONBOARDING_UPDATE} from '../store/actionTypes';
    import {toast} from '../helpers/alert';
    import notifiable from '../mixins/notifiable';
    export default {
        mixins: [notifiable],
        components:{
            Sidebar
        },
        beforeRouteEnter(to, from, next) {
            next(vm => null);
        },
        computed: {
            authVendor() {
                return this.$store.getters.getVendor;
            },
            isRejected() {
                return !this.authVendor.is_approved && this.authVendor.rejectionData;
            },
            documentsSelected() {
                return ((this.authVendor.rejectionData.cac_status === 'rejected' && this.showCAC.file) || this.authVendor.rejectionData.cac_status === 'accepted') &&
                        ((this.authVendor.rejectionData.id_status === 'rejected' && this.showID.file) || this.authVendor.rejectionData.id_status === 'accepted');
            },
            affectedFiles() {
                const cacAffected = this.authVendor.rejectionData.cac_status === 'rejected' && this.showCAC.file;
                const idAffected = this.authVendor.rejectionData.id_status === 'rejected' && this.showID.file;
                const files = [];
                if (cacAffected) {
                    files.push({ file: this.showCAC.file, type: 'CAC' });
                }

                if (idAffected) {
                    files.push({ file: this.showCAC.file, type: 'ID' });
                }

                return files;
            }
        },
        data() {
            return {
                showCAC: {
                    show: false,
                    file: null,
                    image: null
                },
                showID: {
                    show: false,
                    file: null,
                    image: null
                },
                loading: false,
            }
        },
        methods: {
            createImage(file, type) {
                const reader = new FileReader();

                reader.onload = e => {
                    if (type === 'cac') this.showCAC.image = e.target.result;
                    else if (type === 'id') this.showID.image = e.target.result;
                    else this.showDP.image = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            showCACImage(e) {
                this.showCAC.file = e.target.files[0];
                this.createImage(this.showCAC.file, 'cac');
                this.showCAC.show = true;
            },
            removeCAC() {
                this.showCAC.file = null;
                this.showCAC.show = false;
                this.showCAC.image = null;
            },
            showIDImage(e) {
                this.showID.file = e.target.files[0];
                this.createImage(this.showID.file, 'id');
                this.showID.show = true;
            },
            removeID() {
                this.showID.file = null;
                this.showID.show = false;
                this.showID.image = null;
            },
            checkImage() {
                let imageValid = false;
                this.affectedFiles.forEach(item => imageValid = this.validateImage(item.file, item.type));

                if (imageValid) {
                    this.requestApproval();
                }
            },
            requestApproval() {
                let details = new FormData();
                // details.append('id', this.user);
                if (this.showCAC.file) details.append('cac', this.showCAC.file);
                if (this.showID.file) details.append('id_card', this.showID.file);

                const payload = { id: this.user, data: details };
                this.loading = true;
                this.$store.dispatch(VENDOR_ONBOARDING_UPDATE, payload).then(resp => {
                    this.loading = false;
                    this.snackbar.show = true;
                    if (typeof resp == 'object' && resp.type == 'error') {
                        this.snackbar.text = Object.values(resp.error)[0][0];
                        this.snackbar.color = 'error';
                    } else {
                        toast('Documents Submitted for Approval!', 'success').then(v => {
                            window.location.reload();
                        });
                    }
                });
            },
            validateImage(file, text) {
                const imageSize = file.size / 1024 / 1024 < 0.2;
                if (!imageSize) {
                    // this.snackbar.text= ('Avatar picture size can not exceed 2MB!');
                    // console.log('image size exceeded' + imageSize);
                    // alert("image size can not exceed 200kb");
                    this.$swal({
                        type: 'error',
                        title: '',
                        text: 'image size can not exceed 200kb',
                        showCancelButton: true,
                        cancelButtonColor: '',
                        confirmButtonColor: '#FFB603',
                        confirmButtonText: 'Go Back'
                    })
                } else {
                    // this.$swal({
                    //     type: 'success',
                    //     title: 'Uploaded Successfully',
                    //     showConfirmButton: false,
                    //     timer: 1500
                    // })        }

                    if (!(['image/png', 'image/jpeg', 'image/jpg'].includes(file.type.toLowerCase()))) {
                        this.snackbar.show = true;
                        this.snackbar.text = text + ' should be in PNG, JPG or JPEG format';
                        this.snackbar.color = 'error';
                        // console.log(imageType);
                    } else {
                        if (file.size / 1024 >= 200) {
                            this.snackbar.show = true;
                            this.snackbar.text =
                                text + ' size is too large. ' + text + ' cannot be more than 200KB';
                            this.snackbar.color = 'error';
                            // console.log('size error');
                        } else {
                            return true;
                        }
                        return false;
                    }
                }
            },
            //new test
            handleAvatarSuccess(res, file) {
                this.imageUrl = URL.createObjectURL(file.raw);
            },
            beforeAvatarUpload(file) {
                const isJPG = file.type == 'image/jpeg';
                const isPNG = file.type == 'image/png';
                const isLt2M = file.size / 1024 / 1024 < 2;

                if (!isJPG) {
                    this.$message.error('Avatar picture must be JPG format!');

                    if (!isPNG) {
                        this.$message.error('Avatar picture must be JPG format or PNG format!');
                    }
                }
                if (!isLt2M) {
                    this.$message.error('Avatar picture size can not exceed 2MB!');
                }
                return isJPG ||  isPNG && isLt2M;
            },
        }
    }
</script>

<style lang="scss" scoped>
    .v-alert.v-alert--outline{
        border-radius:50%!important;
        border: 3px solid currentColor !important;
        padding:3px px 3px 2px;
    }
    .back{
        background:#FAFAFA;
    }
    .signup-btn{
        background:#00D36E!important;
    }
</style>
