<template>
  <div>
    <Header/>
      <v-container>
        <v-layout>
          <v-flex xs12 sm12 md10 lg10 mx-auto>
            <v-card class="py-4 px-4" ref="form">
            <div class="text-md-center">
              <h2 class="">Get in touch</h2>
              <p>Send us a message and we will get back to you as soon as possible.</p>
             </div> 
             <v-layout row wrap py-5 px-3>
             <v-flex xs12 sm12 md8 lg8>
                <v-flex xs12 sm12 md12>
                  <v-text-field
                    label="Name"
                    name="name"
                    single-line
                    solo
                  ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm12 md12>
                  <v-text-field
                  name="email"
                    label="Email Address"
                    single-line
                    solo
                  ></v-text-field>
                </v-flex>
                <v-flex xs12 sm12 md12>
                  <v-textarea
                    solo
                    name="message"
                    label="Message"
                    value=""
                  ></v-textarea>
                </v-flex>
                <v-flex max-w-xs mx-auto w100 text-xs-center>
                  <v-btn  class="w-100 signup-btn white--text" >Send Message</v-btn>
                </v-flex>
              </v-flex>
          

             <v-flex xs12 sm12 md4 lg4 pl-4>
                <div v-for="contact in contacts" :key="contact.name" class="pb-4">
                <h4>{{contact.name}}</h4>
                <p class="pt-1">
                <svg-icon :icon="contact.icon" width="20px"/>
                <span class="pl-2">{{contact.text}}</span>
                <br>
                <svg-icon :icon="contact.icon2" width="20px"/>
                <span class="pl-2">{{contact.text2}}</span>
                </p>
                </div>
             </v-flex>
             </v-layout>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
  </div>
</template>

<script>
import Header from '@/components/Header';
import SvgIcon from '@/components/SvgIcon';
  export default {
    components:{
      Header,
      SvgIcon,
    },
    data() {
      return {
        contacts: [
          {
            name: 'Operating Hours',
            icon: 'time',
            text: 'Mon- Fri: 8am - 9pm ',
            text2: 'Weekends: 9am - 6pm '
          },
          {
            name: 'General Inquiries',
            icon: 'phone',
            icon2: 'email',
            text: '+234 809 162 7273',
            text2:'hello@kiitecng.com'
          },{
            name: 'Address',
            icon: 'location',
            text: 'Yomade Plaza, Awoyaya, Lekki-Epe Expressway,Lagos, Nigeria'
          },
        ]
      }
    }
  }
</script>

<style lang="scss" scoped>
.signup-btn{
  background:#00D36E!important;
}
</style>