<template>
  <div>
    <div>
      <Header :user="user" />

      <section class="text-xs-center my-5">
        <h1 class="font-weight-regular">Have Questions?</h1>
        <h3 class="font-weight-regular">We got you covered</h3>
      </section>

      <v-layout row wrap page px-4>
        <v-flex xs12 sm3 md4 pr-3>
        <section>
          <aside class="sticky">
            <v-list class="py-0 faq">
              <v-list-tile
                v-for="(item, i) in faq_options"
                :key="i"
                @click="showFaq(i)"
              >
                <v-list-tile-content
                  :class="{ 'font-weight-bold': i == selectedIndex }"
                  >{{ item }}</v-list-tile-content
                >
                <v-list-tile-action v-if="$vuetify.breakpoint.xsOnly">
                  <svg-icon icon="add" width="14px" />
                </v-list-tile-action>
              </v-list-tile>
            </v-list>
            <br />
          </aside>
          </section>
        </v-flex>

        <v-flex hidden-xs-only sm9 md8 pr-3>
          <section>
            <div v-for="(faq, i) in faqs[selectedIndex]" :key="i">
              <v-expansion-panel class="no-shadow mb-3">
                <v-expansion-panel-content class="nudelight" :value="faq.show">
                  <template v-slot:actions>
                    <!-- <v-icon small color="grey">add</v-icon> -->
                    <svg-icon icon="add" width="12px" />
                  </template>
                  <template v-slot:header>
                    <div @click="faq.show = !faq.show">{{ faq.question }}</div>
                  </template>
                  <v-card color="nudelight">
                    <v-card-text class="px-4">{{ faq.answer }}</v-card-text>
                  </v-card>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </div>
          </section>
        </v-flex>
        <br />
      </v-layout>

      <section class="blue-bg py-4">
        <h2 class="font-weight-regular text-xs-center white--text">
          Can't find what you're looking for?
        </h2>
        <v-flex text-xs-center>
          <v-btn color="transparent" class="white--text">Email us</v-btn>
        </v-flex>
      </section>
    </div>

    <faq-question
      :show="showMobile"
      :title="faq_options[selectedIndex]"
      :faq="faqs[selectedIndex]"
      @close="showMobile = false"
    />
    <br />
    <br />
  </div>
</template>

<script>
import Header from '@/components/Header';
import FaqQuestion from '@/components/FaqQuestion';
import SvgIcon from '@/components/SvgIcon';

import userImage from '@/assets/img/dp.png';
export default {
  components: { Header, FaqQuestion, SvgIcon },
  data() {
    return {
      user: {
        name: 'John Doe',
        storeName: 'Sopzn Stores',
        image: userImage,
        amount: 0
      },
      faq_options: ['Registration', 'Setting up Shop','Getting Paid'],
      selectedIndex: window.innerWidth < 600 ? -1 : 0,
      showMobile: false,
      faqs: [
        [
          // {
          //   question: 'How do I register?',
          //   answer:
          //     'You can sign up physically or online via the signup form.',
          //   show: false
          // },
          {
            question: 'How do i sign up to be a vendor on Kiitec?',
            answer:
              'You can sign up physically or online via the signup form.',
            show: false
          },
          {
            question:
              'What documents/requirement do i need to be a Kiitec vendor',
            answer:            
              'Proof of CAC registration, Proof of five previously completed and satisfactory projects, A physical store, A business/company bank account.',          
            show: false
          },
          {
            question:
              'Is there a verification process for vendors? How long does it take?',
            answer:
              'Yes there is a verification process for vendors, where our representatives come to inspect and verify that your business meets the Kiitec.com standard. It takes less than a week.',
            show: false
          },
          {
            question: 'What benefits come with being registered on Kiitec?',
            answer:
              'As a vendor on Kiitec.com,there are many benefits you enjoy.',
            show: false
          }
        ],
        [
          {
            question:
              'Is there a minimum or maximum number of goods I can display on Kiitec?',
            answer:
              'You can display a minimum of three (3) products and a maximum of one hundred (100) products.',
            show: false
          },
          {
            question: 'Will I be assisted in setting my platform?',
            answer:
              'Yes. for now, all vendors will be assisted in setting up their stores free of any charge.',
            show: false
          },
          {
            question: 'How can I publicize my Kiitec.com store?',
            answer:
              'Publicizing your Kiitec.com store can be done through any and every means you have, including but not limited to social media, flyers, and word of mouth.',
            show: false
          },
          // {
          //   question:
          //     'Can I change or remove a previously saved delivery address?',
          //   answer:
          //     'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.',
          //   show: false
          // },
          // {
          //   question: 'Are there pickup points?',
          //   answer:
          //     'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.',
          //   show: false
          // }
        ],
        [
          {
            question: 'How many percent do I stand to make from a sale on Kiitec.com?',
            answer:
              'Kiitec.com charges 7% per completed order.',
            show: false
          },
          {
            question: 'How soon after completion do I get my payment?',
            answer:
              'Payment to vendors will be made in milestones. You’ll get 70% at the start of the project (before work starts), and 30% will be paid after completion and a satisfactory feedback from the client. Our 7% will be deducted from the initial 70%.',
            show: false
          },
          {
            question: 'How do I get my payment?',
            answer:
              'All vendors will be paid through their official bank accounts.',
            show: false
          },
          // {
          //   question:
          //     'How do I add, change, or remove my preferred payment card?',
          //   answer:
          //     'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.',
          //   show: false
          // }
        ],
        // [
        //   {
        //     question: 'Is delivery free?',
        //     answer:
        //       'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.',
        //     show: false
        //   },
        //   {
        //     question: 'Where do you deliver to?',
        //     answer:
        //       'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.',
        //     show: false
        //   },
        //   {
        //     question: 'Can I set my own preferred delivery date and/or time?',
        //     answer:
        //       'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.',
        //     show: false
        //   },
        //   {
        //     question:
        //       'Can I change or remove a previously saved delivery address?',
        //     answer:
        //       'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.',
        //     show: false
        //   },
        //   {
        //     question: 'Are there pickup points?',
        //     answer:
        //       'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.',
        //     show: false
        //   },
        //   {
        //     question: 'How long does delivery take?',
        //     answer:
        //       'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.',
        //     show: false
        //   }
        // ],
        
      ]
    };
  },
  methods: {
    showFaq(index) {
      this.selectedIndex = index;
      if (window.innerWidth < 600) {
        this.showMobile = true;
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.page {
  margin-top: 2rem;
  margin-bottom: 8rem;
  padding: 0 16px;
}

.blue-bg {
  background: linear-gradient(99.58deg, #00aeef 0%, #0b73b2 100%);
}

.sticky.left {
  top: 10%;
}
</style>
