<template>
  <div>
    <v-container>
      <v-layout>
          <v-flex xs12 sm12 md6 lg6 mx-auto>
            <v-card class="py-4 px-4">
              <v-toolbar-title>
                <a href="/">
                  <img src="@/assets/logo.png" alt="Kiitec" />
                </a>
              </v-toolbar-title>
          
              <v-layout align-center row wrap>
                <v-flex xs12 sm4 md4 lg4 text-xs-center>
                  <div>
                    <v-btn small color="primary" class="px-5">Home</v-btn>
                  </div>
                </v-flex>
                <v-flex xs12 sm4  md4 lg4 text-xs-center>
                  <div>
                    <v-btn small color="primary" class="px-5">About</v-btn>
                  </div>
                </v-flex>
                <v-flex xs12 sm4 md4 lg4 text-xs-center>
                  <div>
                    <v-btn small color="primary" class="px-5">Help</v-btn>
                  </div>
                </v-flex>
              </v-layout>
              <v-layout align-center class="pt-5">
                <v-flex xs12 sm12 text-xs-center class="px-4">
                  <p class="font-weight-bold"> <span class="orange--text">Congratulations!</span> you have just received an order 
                      from a Kiitec.com user,due for delivery on (date).
                      Details of the order are listed below
                  </p>
                <v-img src=" https://res.cloudinary.com/syfon/image/upload/v1569434470/template.png" aspect-ratio="2" contain></v-img>
                </v-flex>
              </v-layout>
              <v-card class="mt-4">
                <v-layout row wrap v-for="summary in summaries" :key="summary.order" class="py-3 px-4">
                <v-flex xs12 sm6 md6 lg6>
                    <h3>Summary</h3>
                    <p>Order #:{{summary.order}}</p>
                    <p>Order date:{{summary.date}}</p>
                    <p>Order Total:<span class="orange--text">{{summary.total}}</span></p>
                </v-flex>
                <v-flex xs12 sm6 md6 lg6>
                    <h3>Summary</h3>
                    <p>{{summary.city}}</p>
                    <p>{{summary.state}}</p>
                </v-flex>
              </v-layout >
              </v-card>
                <v-card class="mt-4 px-3 py-3">
                  <v-layout row wrap md12>
                  <v-flex xs6 sm6 md6 lg6>
                      <h3>SUMMARY</h3>                   
                  </v-flex>
                  <v-flex xs2 sm2 md2 lg2>
                      <h3>QTY</h3>                    
                  </v-flex>
                  <v-flex xs4 sm4 md4 lg4>
                      <h3>PRICE</h3>                    
                  </v-flex>
                </v-layout>
                </v-card>
                <v-layout row wrap v-for="statistic in statistics" :key="statistic.item" class="mt-4 px-3">
                  <v-flex xs6 sm6 md6 lg6>
                      <img src="" alt="item image">
                      <p>{{statistic.item}}</p>                   
                  </v-flex>
                  <v-flex xs2 sm2 md2 lg2>
                      <h5>{{statistic.qty}}</h5>                    
                  </v-flex>
                  <v-flex xs4 sm4 md4 lg4>
                      <h5>{{statistic.price}}</h5>                    
                  </v-flex>
                  <v-divider></v-divider>
                </v-layout>

                <v-layout>
                  <v-flex xs6 offset-xs6 offset-md2 offset-lg6>
                  <p>Subtoal (2 items): N24,000</p>
                  <p>Shippin Rate: N2,000</p>
                  <p>Estimated Tax: N1,000</p>
                  <h5 class="orange--text">Subtotal: N27,000</h5>
                  </v-flex>
                </v-layout>
            </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
  export default {
    data(){
      return {
        summaries: [
          {
            order:'123455',
            date: '2/7/2019',
            total: 'N250,000',
            city: 'Awoyaya',
            state: 'Lagos',
          }
        ],
        statistics: [
          {
            item:'Jean Blue Men Classic Fit Shirt',
            qty: 1,
            price: 'N250,000',
          },
          {
            item:'flower Blue Men Classic Fit Shirt',
            qty: 1,
            price: 'N250,000',
          },{
            item:'women Blue Men Classic Fit Shirt',
            qty: 1,
            price: 'N250,000',
          },
        ]
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>