<template>
  <v-dialog v-model="show" fullscreen transition="dialog-transition">
    <v-card color="white">
      <v-flex xs12 sm12 md10 lg10 class="mx-auto">
                    <v-card class="px-3 py-3">
      <v-card-title>
        <h4>General Product Information</h4>
        <v-spacer></v-spacer>
        <a class="success--text" @click="$emit('close')">CLOSE</a>
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <br>
        <!-- <h4>
          Fashion
          <span class="font-14">(Industry)</span>
        </h4> -->
        <v-form class="my-3" @submit.prevent="editProduct">
          <!-- <div class="mb-4 max-w-md">
            <label>Select Gender</label>
            <v-select :items="genderSelect" solo v-model="gender" label="Gender"></v-select>
          </div> -->

          <div class="mb-4 max-w-md">
            <label>Vendor Industry</label>
            <v-select
                  :disabled="!loading"
                  solo
                  name="industry"
                  label="Industry"
                  v-model="productEdit.product_category_id"
                  :items="industries"
                  item-text="name"
                  item-value="id"
                  return-object
                  v-validate="'required'"
                  :class="{ 'has-error': errors.has('industry') }"
                  @change="selectIndustry"
                ></v-select>
          </div>
          <div class="mb-4 max-w-md">
            <label>Product Customization</label>
            <v-select item-text="name"
                      item-value="id"
                      :items="customizations"
                       solo
                       v-model="productEdit.customization_id"
                       label="Select Customization"></v-select>
          </div>

          <div class="mb-4 max-w-md">
            <label>Maximum Delivery Days (Optional)</label>
            <v-text-field
                    solo
                    v-model="productEdit.delivery_days"
                    type="number"
                    step="1"
                    :min="1"
                    label="Enter number of Days"
            ></v-text-field>
          </div>
          <div class="mb-4 max-w-md">

            <label>Product Category</label>
            <v-select

                  solo
                  name="category"
                  label="Category"
                  v-model="productEdit.product_subcategory_id"
                  :items="categories"
                  item-text="name"
                  item-value="id"
                  v-validate="'required'"
                  :class="{ 'has-error': errors.has('category') }"
                ></v-select>          </div>
          <div class="mb-4">
            <label>Product Images</label>
            <v-container grid-list-xl class="max-w-unset pa-0 mt-3">
              <v-layout row wrap align-center v-if="show" mb-3>
                <v-flex add-pic v-for="(image, i) in productEdit.pictures" :key="image.id">
                  <v-card color="grey lighten-4" flat height="230px" class="pointer">
                    <v-layout align-center column h-100 justify-center relative>
                      <div class="text-xs-center h-100">
                        <img :src="productEdit.pictures[i].url" height="130px" width="150px;">
                      </div>
                      <div class="w-100 text-xs-center">
                        <v-btn
                          class="w-85 mx-0 no-border"
                          color="error"
                          flat
                          @click="deleteProductImage(image, i)"
                        >Remove Image</v-btn>
                      </div>
                    </v-layout>
                  </v-card>
                </v-flex>
                <v-flex add-pic v-for="a in 5 - productEdit.pictures.length" :key="a">
                  <v-card color="grey lighten-4" flat height="230px" class="pointer">
                    <v-layout
                      v-if="showPictures[a - 1].show"
                      align-center
                      h-100
                      justify-center
                      column
                      relative
                    >
                      <div class="text-xs-center h-100">
                        <img :src="showPictures[a - 1].image" height="130px" width="150px;">
                      </div>
                      <div class="text-xs-center w-100">
                        <v-btn
                          class="w-85 mx-0 no-border"
                          color="error"
                          flat
                          @click="removeImage(a - 1)"
                        >Remove Image</v-btn>
                      </div>
                    </v-layout>
                    <v-layout v-else align-center h-100 justify-center relative>
                      <div class="text-xs-center">
                        <img src="@/assets/img/add-new.svg" alt="Add Product" width="50%">
                        <input
                          type="file"
                          @change="showPic($event, a)"
                          accept="image/*"
                          class="w-100 h-100 hidden absolute top left"
                        >
                      </div>
                    </v-layout>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-container>
          </div>
          <div class="mb-4">
            <label>Product Name</label>
            <v-text-field solo v-model="productEdit.name" label="Product Name"></v-text-field>
          </div>
          <div class="mb-4">
            <label>Price</label>
            <v-text-field
              solo
              v-model="productEdit.price"
              type="number"
              step="500"
              label="Default Price"
            ></v-text-field>
          </div>
          <div class="mb-4">
            <label>Product Description</label>
            <v-textarea solo v-model="productEdit.description" label="Product Description"></v-textarea>
          </div>
          <!-- <div class="mb-4">
            <label>Meta Tags(For Search Engine Optimization)</label>
            <multiselect v-model="productEdit.tags"
            tag-placeholder="Add this as new tag"
            placeholder="Search or add a tag"
            label="title" track-by="id" :options="tags" :multiple="true">
            </multiselect>

          </div> -->
          <div class="text-xs-center mb-4">
            <v-btn
              class="mx-0 max-w-xs w-100"
              :loading="loading"
              :disabled="loading"
              type="submit"
              color="error"
            >
              Save Product
              <template v-slot:loader>
                <img src="@/assets/img/preloader.gif" alt="Loading" height="40px">
              </template>
            </v-btn>
          </div>
        </v-form>
      </v-card-text>
                    </v-card>
                    </v-flex>
    </v-card>
  </v-dialog>
</template>

<script>
import * as action from '@/store/actionTypes';
// import Multiselect from 'vue-multiselect'

export default {

  props: ['show', 'product'],
  components: {
    // Multiselect,
  },
  data() {
    return {
      edit: false,
      loading: false,
      gender: '',
      customization_id: this.product.customization_id || '',
      store: {
        product_category_id: null,
        product_subcategory_id: null
      },
      // tags: [],
      categories: [],

      showPictures: [
        {
          file: null,
          show: false,
          image: null
        },
        {
          file: null,
          show: false,
          image: null
        },
        {
          file: null,
          show: false,
          image: null
        },
        {
          file: null,
          show: false,
          image: null
        },
        {
          file: null,
          show: false,
          image: null
        }
      ],
      newPictures: [],
      initialLength: null
    };
  },
  computed: {

    tags() {
        return this.$store.getters.getProductTags;
    },
    industries() {
        return this.$store.getters.getIndustries;
    },
    customizations() {
        return this.$store.getters.getCustomizations || [];
    },
    vendor() {
        return this.$store.getters.getVendor;
    },
    checkProduct() {
      return this.product;
    },
    productEdit: {
      get() {
        let temp = {};
        Object.entries(this.product).forEach(element => {
          temp[element[0]] = element[1];
        });
        return temp;
      },
      set() {}
    }
  },
  methods: {
    showTags() {},
    showPic(e, index) {
      this.showPictures[index - 1].file = e.target.files[0];
      this.createImage(this.showPictures[index - 1].file, index);
      this.showPictures[index - 1].show = true;
    },
    createImage(file, index) {
      var reader = new FileReader();

      reader.onload = e => {
        this.showPictures[index - 1].image = e.target.result;
      };
      reader.readAsDataURL(file);
    },
    removeImage(index) {
      this.showPictures[index].file = null;
      this.showPictures[index].show = false;
      this.showPictures[index].image = null;
    },
    deleteProductImage(image) {
      this.loading = true;
      this.$emit('deleteProductImage', image);
    },
    // selectCategory(value){
    //     this.store.product_category_id = value.id;
    //     this.categories = value.subcategories;
    // },
    editProduct() {
      window.console.log(this.productEdit);
      const details = {
        data: {
          name: this.productEdit.name,
          description: this.productEdit.description,
          price: this.productEdit.price,
          product_category_id: this.productEdit.product_category_id,
          product_subcategory_id: this.productEdit.product_subcategory_id,
          customization_id: this.productEdit.customization_id,
          delivery_days: this.productEdit.delivery_days,
          // tags: JSON.stringify(tags),

        },
        id: this.productEdit.id
      };

      this.showPictures.forEach(element => {
        if (element.image) {
          this.newPictures.push(element.file);
        }
      });
      // convert to array of tag ids
        let tags = this.product.tags.map((tag) => {
            return tag.id;
        });
      const pictures = {
        pictures: this.newPictures,
        product_id: this.productEdit.id
      };
      this.loading = true;
      this.$emit('addProductImage', pictures);
      this.$emit('updateBtn', details);
    },
    selectIndustry(value) {
      this.store.product_category_id = value.id;
      this.categories = value.subcategories;
    },
    reload() {
      Object.entries(this.product).forEach(element => {
        this.productEdit[element[0]] = element[1];
      });
    }
  },
  mounted() {
    this.$store.dispatch(action.GET_VENDOR).then(() => {
      this.industries.forEach(element => {
        if (element.id == this.vendor.product_category_id) {
          this.categories = element.subcategories;
        }
      });
      this.store.product_category_id = this.vendor.product_category_id;
      this.store.product_subcategory_id = this.product.product_subcategory_id
    }
    // this.initialLength = this.product.pictures.length;
    )},
  watch: {
    show(newVal) {
      if (newVal) {
        // Object.entries(this.product).forEach(element => {
        //   this.productEdit[element[0]] = element[1];
        // });
      } else {
        this.productEdit = {};
        this.showPictures.forEach((element, i) => {
          this.showPictures[i].file = null;
          this.showPictures[i].show = false;
          this.showPictures[i].image = null;
        });
        this.newPictures.forEach((el, i) => {
          this.newPictures[i] = null;
        });
      }
    },
    checkProduct(newVal) {
      this.loading = false;
    }
  }
};
</script>

<style lang="scss" scoped>
.font-14 {
  opacity: 0.4;
}

.add-pic {
  width: 50%;
  max-width: 50%;
  @media screen and (min-width: 600px) {
    width: 25%;
    max-width: 25%;
  }
  @media screen and (min-width: 968px) {
    width: 20%;
    max-width: 20%;
  }
}
</style>
