<template>
  <div
    :class="{ 'show-mobile': show }"
    class="nudelight fixed top h-full white w-100 z-100"
  >
    <v-layout column relative h-100>
      <div>
        <v-layout column pt-2 px-4>
          <div class="mb-2 mt-3 text-xs-right">
            <a @click="$emit('close')">
              <img src="@/assets/img/close-dark.png" alt="close" />
            </a>
          </div>
          <div class="mb-4">
            <h4 v-text="title.toUpperCase()"></h4>
          </div>

          <div v-for="(item, i) in faq" :key="i" class="mb-4">
            <h4 v-text="item.question" class="mb-2"></h4>
            <h4 class="font-weight-regular" v-text="item.answer"></h4>
          </div>
        </v-layout>
      </div>
      <slot></slot>
    </v-layout>
  </div>
</template>

<script>
export default {
  props: {
    show: Boolean,
    faq: Array,
    title: String
  }
};
</script>

<style lang="scss" scoped>
.fixed {
  left: 120vw;
  overflow-y: auto;
  transition: 200ms;
  &.show-mobile {
    left: 0;
  }
}
</style>
