<template>
    <div class="onboard">
        <!-- <SubHeader/> -->

        <template v-if="userIsVerified">
            <v-stepper v-model="index" class="on-boarding no-shadow">
                <v-stepper-header class="sub max-w-sm mx-auto">
                    <v-stepper-step color="success" :complete="index > 1" step="1">
                        <div class="sub-step"></div>
                    </v-stepper-step>

                    <v-stepper-step color="success" :complete="index > 2" step="2">
                        <div class="sub-step"></div>
                    </v-stepper-step>

                    <v-stepper-step color="success" :complete="index > 3" step="3">
                        <div class="sub-step"></div>
                    </v-stepper-step>

                    <v-stepper-step color="success" :complete="index > 4" step="4">
                        <div class="sub-step"></div>
                    </v-stepper-step>

                    <v-stepper-step color="success" :complete="index > 5" step="5">
                        <div class="sub-step"></div>
                    </v-stepper-step>

                    <v-stepper-step color="success" :complete="index > 6" step="6">
                        <div class="sub-step"></div>
                    </v-stepper-step>
                </v-stepper-header>

                <v-stepper-items class="">
                    <div>
                        <h2 class="text-xs-center">Getting Started</h2>
                    </div>
                    <v-stepper-content step="1" class="pt-0">
                        <div>
                            <v-layout column pb-1>
                                <v-flex mb-2>
                                    <h4
                                            class="text-xs-center font-weight-regular"
                                    >Please read through the Terms &amp; Conditions</h4>
                                </v-flex>

                                <v-flex>
                                    <v-card height="350px" max-width="750" class="mx-auto px-4 py-3" color="white" style="overflow:scroll;">
                                        <h4>Terms and Conditions</h4>
                                        <p>Please read these terms and conditions ("terms", "terms and conditions") carefully
                                            before using the website or service operated by  kiitec.com
                                            By using the Services, you are agreeing to all of the Terms of Service, as may be updated
                                            by us from time to time. You should check this page regularly to take notice of any
                                            changes we may have made to the Terms of Service.
                                        </p><br>
                                        <h4>Conditions of Use </h4>
                                        <p>
                                            We will provide our services to you, which are subject to the conditions stated below in
                                            this document. Every time you visit this website, use its services or make a purchase, you
                                            accept the following conditions. This is why we urge you to read them carefully.
                                            Access to this Website is permitted on a temporary basis, and we reserve the right to
                                            withdraw or amend the Services without notice. We will not be liable if for any reason
                                            this Website is unavailable at any time or for any period. From time to time, we may
                                            restrict access to some parts or all of this Website.
                                        </p><br>
                                        <h4>Privacy Policy </h4>
                                        <p>
                                            Before you continue using our website we advise you to read our privacy policy [link to
                                            privacy policy] regarding our user data collection. It will help you better understand our
                                            practices.
                                        </p><br>
                                        <h4>Copyright</h4>
                                        <p>
                                            Content published on this website (digital downloads, images, texts, graphics, logos) is
                                            the property of kiitec.com and/or its content creators and protected by copyright laws.
                                            The entire compilation of the content found on this website is the exclusive property of
                                            kiitec.com.
                                        </p><br>
                                        <h4>Communications  </h4>
                                        <p>
                                            The entire communication with us is electronic. Every time you send us an email or visit
                                            our website, you are going to be communicating with us. You hereby consent to receive
                                            communications from us. If you subscribe to the news on our website, you are going to
                                            receive regular emails from us. We will continue to communicate with you by posting
                                            news and notices on our website and by sending you emails. You also agree that all
                                            notices, disclosures, agreements and other communications we provide to you
                                            electronically meet the legal requirements that such communications be in writing.
                                        </p><br>
                                        <h4>Intellectual Property, Software and Content </h4>
                                        <p>
                                            The intellectual property rights in all software and content (including photographic
                                            images) made available to you on or through this Website remains the property of
                                            kiitec.com  or its licensors and are protected by copyright laws and treaties around the
                                            world. All such rights are reserved by kiitec.com and its licensors. You may store, print
                                            and display the content supplied solely for your own personal use. You are not permitted
                                            to publish, manipulate, distribute or otherwise reproduce, in any format, any of the
                                            content or copies of the content supplied to you or which appears on this Website nor
                                            may you use any such content in connection with any business or commercial
                                            enterprise.
                                         </p><br>
                                         <h4>Terms of Sale </h4>
                                         <p>
                                            By placing an order you are offering to purchase a product on and subject to the
                                            following terms and conditions. All orders are subject to availability and confirmation of
                                            the order price.
                                            <br>
                                            Dispatch times may vary according to availability and subject to any delays resulting
                                            from postal delays or force majeure for which we will not be responsible.
                                            <br><br>
                                            In order to contract with kiitec.com you must be over 18 years of age and possess a valid
                                            credit or debit card issued by a bank acceptable to us. Kiitec.com retains the right to
                                            refuse any request made by you. If your order is accepted we will inform you by email
                                            and we will confirm the identity of the party which you have contracted with. This will
                                            usually be [kiitec.com or may in some cases be a third party. Where a contract is made
                                            with a third party kiitec.com  is not acting as either agent or principal and the contract is
                                            made between yourself and that third party and will be subject to the terms of sale
                                            which they supply you. When placing an order you undertake that all details you provide
                                            to us are true and accurate, that you are an authorized user of the credit or debit card
                                            used to place your order and that there are sufficient funds to cover the cost of the
                                            goods. The cost of foreign products and services may fluctuate. All prices advertised are
                                            subject to such changes.
                                            <br><br>
                                            (a) Our Contract  <br>
                                            When you place an order, you will receive an acknowledgement e-mail confirming
                                            receipt of your order: this email will only be an acknowledgement and will not constitute
                                            acceptance of your order. A contract between us will not be formed until we send you
                                            confirmation by e-mail that the goods which you ordered have been dispatched to you.
                                            Only those goods listed in the confirmation e-mail sent at the time of dispatch will be
                                            included in the contract formed.
                                            <br><br>
                                            (b) Pricing and Availability <br>
                                            Whilst we try and ensure that all details, descriptions and prices which appear on this
                                            Website are accurate, errors may occur. If we discover an error in the price of any goods
                                            which you have ordered we will inform you of this as soon as possible and give you the
                                            option of reconfirming your order at the correct price or cancelling it. If we are unable to
                                            contact you we will treat the order as cancelled. If you cancel and you have already paid
                                            for the goods, you will receive a full refund.
                                            Delivery costs will be charged in addition; such additional charges are clearly displayed
                                            where applicable and included in the 'Total Cost'.
                                            <br><br>
                                            (c) Payment  <br>
                                            Upon receiving your order we carry out a standard authorization check on your payment
                                            card to ensure there are sufficient funds to fulfil the transaction. Your card will be
                                            debited upon authorisation being received. The monies received upon the debiting of
                                            your card shall be treated as a deposit against the value of the goods you wish to
                                            purchase. Once the goods have been despatched and you have been sent a confirmation
                                            email the monies paid as a deposit shall be used as consideration for the value of goods
                                            you have purchased as listed in the confirmation email.
                                         </p><br>
                                         <h4>Disclaimer of Liability </h4>
                                         <p>
                                            The material displayed on this Website is provided without any guarantees, conditions or
                                            warranties as to its accuracy. Unless expressly stated to the contrary to the fullest extent
                                            permitted by law kiitec.com and its suppliers, content providers and advertisers hereby
                                            expressly exclude all conditions, warranties and other terms which might otherwise be
                                            implied by statute, common law or the law of equity and shall not be liable for any
                                            damages whatsoever, including but without limitation to any direct, indirect, special,
                                            consequential, punitive or incidental damages, or damages for loss of use, profits, data
                                            or other intangibles, damage to goodwill or reputation, or the cost of procurement of
                                            substitute goods and services, arising out of or related to the use, inability to use,
                                            performance or failures of this Website or the Linked Sites and any materials posted
                                            thereon, irrespective of whether such damages were foreseeable or arise in contract,
                                            tort, equity, restitution, by statute, at common law or otherwise.
                                            </p><br>
                                         <h4>Linking to this Website </h4>
                                         <p>You may link to our home page, provided you do so in a way that is fair and legal and
                                            does not damage our reputation or take advantage of it, but you must not establish a
                                            link in such a way as to suggest any form of association, approval or endorsement on our
                                            part where none exists. You must not establish a link from any website that is not owned
                                            by you. This Website must not be framed on any other site, nor may you create a link to
                                            any part of this Website other than the home page. We reserve the right to withdraw
                                            linking permission without notice. </p><br>
                                         <h4>Disclaimer as to ownership of trade marks, images of personalities and third party copyright</h4>
                                         <p>
                                            Except where expressly stated to the contrary all persons (including their names and
                                            images), third party trade marks and content, services and/or locations featured on this
                                            Website are in no way associated, linked or affiliated with kiitec.com and you should not
                                            rely on the existence of such a connection or affiliation. Any trade marks/names
                                            featured on this Website are owned by the respective trade mark owners. Where a trade
                                            mark or brand name is referred to it is used solely to describe or identify the products
                                            and services and is in no way an assertion that such products or services are endorsed
                                            by or connected to kiitec.com. </p><br>
                                         <h4>Indemnity </h4>
                                         <p>You agree to indemnify, defend and hold harmless kiitec.com, its directors, officers,
                                            employees, consultants, agents, and affiliates, from any and all third party claims,
                                            liability, damages and/or costs (including, but not limited to, legal fees) arising from your
                                            use this Website or your breach of the Terms of Service. </p><br>
                                         <h4>Variation</h4>
                                         <p>Kiitec.com  shall have the right in its absolute discretion at any time and without notice
                                            to amend, remove or vary the Services and/or any page of this Website.
                                            </p><br>
                                         <h4>Invalidity</h4>
                                         <p>If any part of the Terms of Service is unenforceable (including any provision in which we
                                            exclude our liability to you) the enforceability of any other part of the Terms of Service
                                            will not be affected all other clauses remaining in full force and effect. So far as possible
                                            where any clause/sub-clause or part of a clause/sub-clause can be severed to render the
                                            remaining part valid, the clause shall be interpreted accordingly. Alternatively, you agree
                                            that the clause shall be rectified and interpreted in such a way that closely resembles
                                            the original meaning of the clause /sub-clause as is permitted by law. </p><br>
                                         <h4>Severability </h4>
                                         <p>If a provision of these terms and conditions is determined by any court or other
                                            competent authority to be unlawful and/or unenforceable, the other provisions will
                                            continue in effect.  If any unlawful and/or unenforceable provision would be lawful or
                                            enforceable if part of it were deleted, that part will be deemed to be deleted, and the
                                            rest of the provision will continue in effect.  </p><br>
                                         <h4>Complaints </h4>
                                         <p>We operate a complaints handling procedure which we will use to try to resolve disputes
                                            when they first arise, please let us know if you have any complaints or comments.<br>
                                            To get in touch with Customer Support, please use any of the options listed below:<br>
                                            Contact Customer care on the following numbers or e-mail address ( display your phone
                                            number, emails- @kiitec.com and @afaara.com Social media - @kiitec_ng( not @kiitec or
                                            @kiitecng or @kiitec_nng etc).</p><br>
                                         <h4>Return Policy</h4>
                                         <p>We shall accept return requests for items that are unopened, unused, with the original tags still
                                            intact. The product(s) must be in their original packaging, if applicable, in the same condition it
                                            was received.  <br>
                                            We do not accept returns for perishable items, intimate items, gift cards, downloadable
                                            products, and beauty items.  <br>
                                            If you wish to return your item, we must receive your request within (30 days) of the date you
                                            received your item.  </p><br>
                                         <h4>Cancellation Policy. </h4>
                                         <p>In the event of a cancellation of an order, there will be a cancellation fee. A certain amount
                                            (This must be defined) will be deducted to cover the  ( specify the nature of the cost incurred)
                                            cost. <br>
                                            Cancellation will be free of deductions if communicated before initial  payment  is made.
                                            After initial payment has been made cancellation will attract the following deductions
                                            After first payment there is cancellation fee ( how much would this amount to pls specify).
                                            </p><br>
                                            <ul>
                                            <li>Less than 2 hrs – Cancellation fee of ……..only; </li>
                                            <li>2 to 6 hrs – Cancellation fee plus 20% (of what? Product price?) </li>
                                            <li>6 to 12 hrs – Cancellation fee plus 40%</li>
                                            <li>12 to 18 hrs – Cancellation fee plus 60%</li>
                                            <li>18 to 24 hrs – Cancellation fee plus 80% </li>
                                            </ul><br>
                                         <h4>Refunds </h4>
                                         <p>Once we receive your returned item, our team will review your request and inspect the item.
                                            We will send you an email to confirm that we have received your item and are processing your
                                            request. We shall follow up with another email once the request has been processed to let you
                                            know if your return was approved.  <br>
                                            If approved, the money will be refunded to your original method of payment within two weeks.
                                            You are responsible for paying for the return shipping costs. We will deduct the cost of return
                                            shipping from your refund.</p><br>
                                         <h4>Sanctions and Export Policy </h4>
                                         <p>You may not use any Afaara and <a href="https://www.kiitec.com/">Kiitec.com</a> service if you are the subject of Nigerian sanctions or of
                                            sanctions consistent with Nigerian law imposed by the governments of the country where you are using
                                            Afaara and <a href="https://www.kiitec.com/">Kiitec.com</a> Services. You must comply with all Nigerian or other export and re-export
                                            restrictions that may apply to goods, software (including Afaara Software), technology, and services.
                                            <br>
                                            No Reverse Engineering. You may not reverse engineer, decompile or disassemble, tamper with, or
                                            bypass any security associated with the Afaara and Kiitec.com Software, whether in whole or in part.
                                            </p><br>
                                         <h4>Waiver </h4>
                                         <p>If you breach these conditions and we take no action, we will still be entitled to use our
                                            rights and remedies in any other situation where you breach these conditions.
                                        </p><br>
                                         <h4>Applicable Law</h4>
                                         <p>By visiting this website, you agree that the laws of Nigeria, without regard to principles
                                            of conflict laws, will govern these terms and conditions, or any dispute of any sort that
                                            might come between kiitec.com and you, or its business partners and associates. </p><br>
                                         <h4>Disputes </h4>
                                         <p>Any dispute related in any way to your visit to this website or to products you purchase
                                            from us shall be adjudicated by a state or federal court having jurisdiction in Nigeria and
                                            you consent to the exclusive jurisdiction and venue of such courts.</p><br>
                                         <h4>Comments, Reviews, and Emails </h4>
                                         <p>Visitors may post content as long as it is not obscene, illegal, defamatory, threatening,
                                            infringing of intellectual property rights, invasive of privacy or injurious in any other way
                                            to third parties. Content has to be free of software viruses, political campaign, and
                                            commercial solicitation. <br>
                                            We reserve all rights (but not the obligation) to remove and/or edit such content. When
                                            you post your content, you grant kiitec.com non-exclusive, royalty-free and irrevocable
                                            right to use, reproduce, publish, modify such content throughout the world in any
                                            media. </p><br>
                                         <h4>License and Site Access </h4>
                                         <p>We grant you a limited license to access and make personal use of this website. You are
                                            not allowed to download or modify it. This may be done only with written consent from
                                            us. </p><br>
                                         <h4>User Account </h4>
                                         <p>If you are an owner of an account on this website, you are solely responsible for
                                            maintaining the confidentiality of your private user details (username and password). <br>
                                            You are responsible for all activities that occur under your account or password. <br>
                                            We reserve all rights to terminate accounts, edit or remove content and cancel orders in
                                            our sole discretion. </p><br>
                                         <h4>Entire agreement </h4>
                                         <p>Entire agreement
                                            These terms and conditions [, together with [DOCUMENTS],] constitute the entire
                                            agreement between you and kiitec.com in relation to your use of this website, and
                                            supersede all previous agreements in respect of your use of this website.
                                            </p><br>
                                    </v-card>
                                </v-flex>

                                <v-flex text-xs-center justify-center>
                                    <v-checkbox
                                            label="I agree to the terms and conditions"
                                            v-model="tnc"
                                            name="tnc"
                                            class="font-12 justify-center"
                                            color="success"
                                    ></v-checkbox>
                                </v-flex>
                                <v-flex text-xs-center>
                                    <v-btn
                                            color="warning"
                                            class="max-w-xs w-100 white--text"
                                            :disabled="!tnc"
                                            @click="index = 2"
                                    >Continue</v-btn>
                                </v-flex>
                            </v-layout>
                        </div>
                    </v-stepper-content>

                    <v-stepper-content class="pt-0" step="2">
                        <div>
                            <v-layout column pb-5>
                                <v-flex mt-2 mb-4>
                                    <h4
                                            class="text-xs-center mb-2 font-weight-regular"
                                    >Please read through the Orientation Guide.</h4>

                                    <h4 class="text-xs-center font-weight-regular">
                                        This will help you understand how the site works and aid
                                        navigation
                                    </h4>
                                </v-flex>
                                <v-flex text-xs-center my-3>
                                    <v-btn
                                            color="warning"
                                            class="max-w-xs w-100"
                                            @click="index = 3"
                                    >Get Orientation Guide</v-btn>
                                </v-flex>
                                <v-flex text-xs-center>
                                    <v-btn color="green accent-3" class="max-w-xs w-100 white--text" @click="index = 3">Continue</v-btn>
                                </v-flex>
                                <v-flex text-xs-center my-3>
                                    <v-btn color="black" class="max-w-xs w-100 white--text" @click="index = 1">Back</v-btn>
                                </v-flex>
                            </v-layout>
                        </div>
                    </v-stepper-content>

                    <v-stepper-content class="pt-0" step="3">
                        <div class="w-90 mx-auto mt-3">
                            <!-- <v-layout> -->
                            <v-layout row wrap py-3 >
                                <v-flex xs-12 sm-6 class="text-xs-center">
                                <v-flex mt-2 mb-2 >
                                    <h4 class="text-xs-center font-weight-regular">
                                        Please kindly upload your CAC certificate 
                                        <strong class="error--text">*</strong>
                                        <br>
                                        <small>(Image not larger than 200kb)</small>
                                    </h4>
                                </v-flex>
                                <v-flex text-xs-center my-3>
                                    <v-layout align-center h-100 justify-center relative>
                                        <div v-if="showCAC.show" class="text-xs-center h-100">
                                            <img :src="showCAC.image" height="140px" width="auto">
                                            
                                            <div>
                                                <v-btn color="error" @click="removeCAC" flat>Remove CAC</v-btn>
                                            </div>
                                        </div>
                                        <div v-else class="text-xs-center pointer mt-4">
                                            <img
                                                    src="@/assets/img/upload-image-2.png"
                                                    alt="Add Product"
                                                    width="75%"
                                                    class="max-w-xxs"
                                            >
                                            <input
                                                    type="file"
                                                    accept="image/jpeg,image/gif,image/png,application/pdf,image/x-eps"
                                                    @change="showCACImage($event)"

                                                    class="w-100 h-100 hidden absolute top left"
                                            >
                                        </div>
                                    </v-layout>
                                </v-flex>
                                </v-flex>

                                <v-flex xs-12 sm-6>
                                <v-flex mt-2 mb-2 class="text-xs-center">
                                    <h4 class="text-xs-center font-weight-regular">
                                        Please kindly upload your means of identification
                                        <br>e.g National ID card, Voters Card or International Passport
                                        <strong
                                                class="error--text"
                                        >*</strong>
                                        <br>
                                        <small>(Image not larger than 200kb)</small>
                                    </h4>
                                </v-flex>
                                <v-flex text-xs-center my-3>
                                    <v-layout align-center h-100 justify-center relative>
                                        <div v-if="showID.show" class="text-xs-center h-100">
                                            <img :src="showID.image" height="140px" width="auto">
                                            
                                            <div>
                                                <v-btn color="error" @click="removeID" flat>Remove ID</v-btn>
                                            </div>
                                        </div>
                                        <div v-else class="text-xs-center pointer mt-2">
                                            <img
                                                    src="@/assets/img/upload-image-2.png"
                                                    alt="Add Product"
                                                    width="75%"
                                                    class="max-w-xxs"
                                            >
                                            <input
                                                    type="file"
                                                    @change="showIDImage($event)"
                                                    accept="image/*"
                                                    class="w-100 h-100 hidden absolute top left"
                                            >
                                        </div>

                                    </v-layout>
                                </v-flex>
                              </v-flex>  
                            </v-layout>

                            <v-layout row wrap>
                                <v-flex mt-5 sm6 xs6 md6 text-xs-left>
                                    <v-btn color="black" left class="max-w-xs w-100 white--text" @click="index = 2">Back</v-btn>
                                </v-flex>
                                <v-flex  sm6 xs6 md6 mt-5 text-xs-right v-if="showID.image && showCAC.image ">
                                    <v-btn color="green accent-3" right class="max-w-xs w-100 white--text" @click="checkImage">Continue</v-btn>
                                </v-flex>
                            </v-layout>
                            <!-- </v-layout> -->
                        </div>
                    </v-stepper-content>

                    <v-stepper-content class="pt-0" step="4">
                        <div>
                            <v-layout column pb-5>
                                <v-flex mt-2 mb-4>
                                    <h4 class="text-xs-center font-weight-regular mb-2">
                                        Please upload a profile Picture
                                        <br>
                                        <small>(Image not larger than 200kb)</small>
                                    </h4>
                                </v-flex>
                                <v-flex text-xs-center my-3>
                                    <v-layout align-center h-100 justify-center relative>
                                        <div v-if="showDP.show" class="text-xs-center h-100">
                                            <img :src="showDP.image" @click="removeDP" height="150px" width="auto">
                                        </div>
                                        <div v-else class="text-xs-center pointer">
                                            <img
                                                    src="@/assets/img/upload-image-2.png"
                                                    alt="Add Product"
                                                    width="75%"
                                                    class="max-w-xxs"
                                            >
                                            <input
                                                    type="file"
                                                    @change="showDPImage($event)"
                                                    accept="image/*"
                                                    class="w-100 h-100 hidden absolute top left"
                                            >
                                        </div>
                                    </v-layout>
                                </v-flex>
                                <v-layout row wrap bottom>
                                <v-flex mt-5 sm6 xs6 md6 text-xs-left>
                                    <v-btn color="black" left class="max-w-xs w-75 white--text" @click="index = 3">Back</v-btn>
                                </v-flex>
                                <v-flex mt-5 sm6 xs6 md6 text-xs-right>
                                    <v-btn
                                            color="green accent-3"
                                            v-if="showDP.image"
                                            class="max-w-xs w-100 white--text"
                                            @click="index = 5"
                                    >Continue</v-btn>
                                </v-flex>
                                </v-layout>
                            </v-layout>
                        </div>
                    </v-stepper-content>

                    <v-stepper-content class="pt-0" step="5">
                        <div>
                            <v-layout column pb-5>
                                <v-flex mt-2 mb-4>
                                    <h4 class="text-xs-center font-weight-regular mb-2">Please enter your bank details.</h4>

                                    <h4
                                            class="text-xs-center font-weight-regular"
                                    >This is where all your proceeds will go to.</h4>
                                </v-flex>
                                <v-flex>
                                    <v-form>
                                        <v-layout column ma-auto max-w-md>
                                            <v-flex>
                                                <label>Bank Name</label>
                                                <v-select solo class="pt-2" :items="banks" v-model="bank" label="Select Bank"></v-select>
                                            </v-flex>
                                            <v-flex mt-4>
                                                <label>Account Number</label>
                                                <v-text-field solo class="pt-2" v-model="acct_no" label="Account Number"></v-text-field>
                                            </v-flex>

                                            <v-flex mt-4 v-if="bankIsVerified">
                                                <label>Account Name</label>
                                                <v-text-field :disabled="bankIsVerified" solo class="pt-2" v-model="acct_name" label="Account Name"></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-form>
                                </v-flex>
                                <v-layout row wrap>
                                    <v-flex mt-5 sm6 xs6 md6 text-xs-left>
                                        <v-btn color="black" left class="max-w-xs w-100 white--text" @click="index = 4">Back</v-btn>
                                    </v-flex>
                                    <v-flex mt-5 sm6 xs6 md6 text-xs-right>
                                        <v-btn color="blue-grey darken-3" v-if="bankIsVerified" class="max-w-xs w-100 white--text" @click="index = 6">Continue</v-btn>
                                        <v-btn color="blue-grey darken-3" :loading="verifying" :disabled="loading" v-else class="max-w-xs w-100 white--text" @click="verifyAccountNumber">Verify Account</v-btn>
                                    </v-flex>
                                </v-layout>
                                <!-- <v-flex text-xs-center mt-5>
                                    <v-btn color="blue-grey darken-3" v-if="bankIsVerified" class="max-w-xs w-100 white--text" @click="index = 6">Continue</v-btn>
                                    <v-btn color="blue-grey darken-3" :loading="verifying" :disabled="loading" v-else class="max-w-xs w-100 white--text" @click="verifyAccountNumber">Verify Account</v-btn>
                                </v-flex> -->
                            </v-layout>
                        </div>
                    </v-stepper-content>

                    <v-stepper-content class="pt-0" step="6">
                        <div>
                            <v-layout column py-3 max-w-xl mx-auto relative>
                                <div>
                                    <v-flex mt-2 mb-4>
                                        <h4 class="text-xs-center font-weight-regular mb-2">Please select a subscription plan</h4>
                                    </v-flex>
                                    <v-flex>
                                        <v-layout row wrap>
                                            <v-flex xs12 sm6 mb-4>
                                                <v-card class="subscribe mx-auto" max-width="300px" width="85%">
                                                    <v-layout column>
                                                        <div class="subscribe-header success mb-3"></div>
                                                        <h3 class="mb-3 font-weight-regular">
                                                            Kiitec
                                                            <br>Individual
                                                        </h3>
                                                        <div class="subscribe-dash success mx-auto mb-2"></div>
                                                        <h2 class="mb-3 font-weight-regular">N1500</h2>
                                                        <ul class="mb-3">
                                                            <li>
                                                                <h4 class="font-weight-regular"></h4>
                                                            </li>
                                                            <li>
                                                                <h4 class="font-weight-regular"></h4>
                                                            </li>
                                                            <li>
                                                                <h4 class="font-weight-regular"></h4>
                                                            </li>
                                                        </ul>
                                                        <div class="mb-3">
                                                            <v-btn flat class="w-85 mx-0">Subscribe</v-btn>
                                                        </div>
                                                    </v-layout>
                                                </v-card>
                                            </v-flex>
                                            <v-flex xs12 sm6 mb-4>
                                                <v-card class="subscribe mx-auto" max-width="300px" width="85%">
                                                    <v-layout column>
                                                        <div class="subscribe-header error mb-3"></div>
                                                        <h3 class="mb-3 font-weight-regular">
                                                            Kiitec
                                                            <br>Professional
                                                        </h3>
                                                        <div class="subscribe-dash error mx-auto mb-2"></div>
                                                        <h2 class="mb-3 font-weight-regular">N3500</h2>
                                                        <ul class="mb-3">
                                                            <!-- <li>
                                                                <h4 class="font-weight-regular">-Lorem Ipsum</h4>
                                                            </li>
                                                            <li>
                                                                <h4 class="font-weight-regular">-Lorem Ipsum</h4>
                                                            </li>
                                                            <li>
                                                                <h4 class="font-weight-regular">-Lorem Ipsum</h4>
                                                            </li> -->
                                                        </ul>
                                                        <div class="mb-3">
                                                            <v-btn flat class="w-85 mx-0">Subscribe</v-btn>
                                                        </div>
                                                    </v-layout>
                                                </v-card>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>
                                </div>
                                <div class="overflow">
                                    <v-card class="text-xs-center pa-4" width="90%" max-width="350px">
                                        <h3 class="font-weight-regular">
                                            This subscription is
                                            <strong>FREE</strong>
                                        </h3>
                                        <br>
                                        <img width="85%" src="@/assets/img/sub-free.svg" alt="Subscription is Free">
                                        <br>
                                        <br>
                                    </v-card>
                                </div>
                            </v-layout>
                            <v-layout row wrap>
                                    <v-flex mt-5 sm6 xs6 md6 text-xs-left>
                                        <v-btn color="black" left class="max-w-xs w-100 white--text" @click="index = 5">Back</v-btn>
                                    </v-flex>
                                    <v-flex mt-5 sm6 xs6 md6 text-xs-right>
                                <v-btn
                                        :loading="loading"
                                        :disabled="loading"
                                        color="success"
                                        class="max-w-xs w-100"
                                        @click="onboard"
                                >
                                    Finish
                                    <template v-slot:loader>
                                        <img src="@/assets/img/preloader.gif" alt="Loading" height="40px">
                                    </template>
                                </v-btn>
                            </v-flex>
                            </v-layout>
                        </div>
                    </v-stepper-content>
                </v-stepper-items>
            </v-stepper>
            <Snackbar :data="snackbar"/>
        </template>

        <VerificationPage v-else/>
    </div>
</template>

<script>
    import Snackbar from '@/components/Snackbar';
    // import SubHeader from './SubHeader';
    import VerificationPage from './VerificationPage';
    import * as action from '@/store/actionTypes';
    import APIService from '../services/APIService';
    import {toast} from '../helpers/alert';
    export default {
        components: {
            Snackbar, VerificationPage,
        },
        beforeRouteEnter(to, from, next) {
            next(async (vm) => {

            });
        },
        watch: {
            bank() {
                this.acct_name = null;
            },
            acct_no() {
                this.acct_name = null;
            }
        },
        data: () => ({
            imageUrl: '',
            index: 0,
            bank: '',
            acct_no: '',
            acct_name: null,
            tnc: false,
            showCAC: {
                show: false,
                file: null,
                image: null
            },
            showID: {
                show: false,
                file: null,
                image: null
            },
            showDP: {
                show: false,
                file: null,
                image: null
            },
            banks: [],
            snackbar: {
                color: '',
                text: '',
                show: false

            },
            loading: false,
            verifying: false,
        }),
        computed: {
            user() {
                return this.$store.getters.getUser.id;
            },
            industries() {
                return this.$store.getters.getIndustries;
            },
            userIsVerified() {
                return this.$store.getters.authUserIsVerified;
            },
            bankIsVerified() {
                return !!this.acct_name;
            }
        },
        methods: {
            async verifyAccountNumber() {
                if (this.acct_no.length != 10) {
                    return toast('Account Number must be 10 Characters!', 'error');
                }

                this.verifying = true;
                const response = await APIService.post('/bank/verify', {bank_code: this.bank, account_number: this.acct_no});
                this.verifying = false;

                if (!response.data.account_name) {
                    return toast('Invalid Account Number provided', 'error');
                }

                this.acct_name = response.data.account_name;
            },
            showCACImage(e) {
                this.showCAC.file = e.target.files[0];
                this.createImage(this.showCAC.file, 'cac');
                this.showCAC.show = true;
            },
            removeCAC() {
                this.showCAC.file = null;
                this.showCAC.show = false;
                this.showCAC.image = null;
            },
            showIDImage(e) {
                this.showID.file = e.target.files[0];
                this.createImage(this.showID.file, 'id');
                this.showID.show = true;
            },
            removeID() {
                this.showID.file = null;
                this.showID.show = false;
                this.showID.image = null;
            },
            showDPImage(e) {
                this.showDP.file = e.target.files[0];
                this.createImage(this.showDP.file, 'dp');
                this.showDP.show = true;
            },
            removeDP() {
                this.showDP.file = null;
                this.showDP.show = false;
                this.showDP.image = null;
            },
            createImage(file, type) {
                const reader = new FileReader();

                reader.onload = e => {
                    if (type === 'cac') this.showCAC.image = e.target.result;
                    else if (type === 'id') this.showID.image = e.target.result;
                    else this.showDP.image = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            checkImage() {
                if (this.validateImage(this.showCAC.file, 'CAC')) {
                    if (this.validateImage(this.showID.file, 'ID')) this.index = 4;
                }
            },
            checkDP() {
                if (this.validateImage(this.showDPImage.file, 'DP'))
                    this.index = 5;
            },
            onboard() {
                let details = new FormData();
                // details.append('id', this.user);
                details.append('cac', this.showCAC.file);
                details.append('id_card', this.showID.file);
                details.append('bank_name', this.bank);
                details.append('bank_account_number', this.acct_no);
                const payload = { id: this.user, data: details };
                this.loading = true;
                this.$store.dispatch(action.VENDOR_ONBOARDING, payload).then(resp => {
                    this.loading = false;
                    // this.snackbar.show = true;
                    if (typeof resp == 'object' && resp.type == 'error') {
                        // this.snackbar.text = Object.values(resp.error)[0][0];
                        // this.snackbar.color = 'info';
                    } else {
                        this.$store
                            .dispatch(action.GET_ONBOARD_COMPLETE, this.user)
                            .then(() => {
                                setTimeout(() => {
                                    this.$router.push({ path: '/dashboard' });
                                }, 1000);
                            });
                            this.$swal({
                                position: 'top-end',
                                type: 'success',
                                title: 'Welcome Onboard',
                                showConfirmButton: false,
                                timer: 4000
                                }
                            )

                        // this.snackbar.text = 'Welcome Onboard';
                        // this.snackbar.color = 'success';
                    }
                });
            },
            validateImage(file, text) {
                const imageSize = file.size / 1024 / 1024 < 0.2;
                if(!file.name.match(/.(jpg|jpeg|png|gif)$/i)){
                    this.$swal({
                        type: 'error',
                        title: '',
                        text: text + ' must be of type image',
                        showCancelButton: true,
                        cancelButtonColor: '',
                        confirmButtonColor: '#FFB603',
                        confirmButtonText: 'Go Back'
                    })
                    return false;
                }else if (!imageSize) {
                    // this.snackbar.text= ('Avatar picture size can not exceed 2MB!');
                    // console.log('image size exceeded' + imageSize);
                    // alert("image size can not exceed 200kb");
                    this.$swal({
                        type: 'error',
                        title: '',
                        text: text + ' size can not exceed 200kb',
                        showCancelButton: true,
                        cancelButtonColor: '',
                        confirmButtonColor: '#FFB603',
                        confirmButtonText: 'Go Back'
                    })
                } else {
                    // this.$swal({
                    //     type: 'success',
                    //     title: 'Uploaded Successfully',
                    //     showConfirmButton: false,
                    //     timer: 1500
                    // })        }

                    // if (!(['image/png', 'image/jpeg', 'image/jpg', 'application/pdf'].includes(file.type.toLowerCase()))) {
                    //     this.snackbar.show = true;
                    //     this.snackbar.text = text + ' should be in PNG, JPG, PDF or JPEG format';
                    //     this.snackbar.color = 'error';
                        // console.log(imageType);
                    // } else {
                    //     if (file.size / 1024 >= 200) {
                    //         this.snackbar.show = true;
                    //         this.snackbar.text =
                    //             text + ' size is too large. ' + text + ' cannot be more than 200KB';
                    //         this.snackbar.color = 'error';
                            // console.log('size error');
                        // } 
                        // else {
                        //     return true;
                        // }
                    //     return false;
                    // }
                    return true;
                }
          
            },

        },
        mounted() {
            this.$store.dispatch(action.GET_USER);
            fetch('https://api.paystack.co/bank', {
                method: 'GET'
            })
                .then(resp => {
                    return resp.json();
                })
                .then(data => {
                    const tempBank = data.data;
                    tempBank.forEach(element => {
                        this.banks.push({text: element.name, value: element.code});
                    });
                });
        }
    };
</script>

<style lang="scss" scoped>
    .on-boarding{
        background-image: url(https://res.cloudinary.com/syfon/image/upload/v1569254782/onboard.png);
        background-size: cover;
        min-height:100vh;
    }
    .top_text {
        font-size: 50px;
    }

    .middle_text {
        font-size: 25px;
    }

    .subscribe {
        border-radius: 10px;
        text-align: center;

        &-header {
            height: 30px;
            width: 100%;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        &-dash {
            width: 50px;
            height: 5px;
            border-radius: 3px;
        }

        ul {
            padding: 0;
            list-style: none;
            li {
                margin-bottom: 0.8rem;
            }
        }
    }

    .overflow {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba($color: #333, $alpha: 0.4);
        z-index: 10;
        top: 0;
        left: 0;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
    .avatar-uploader .el-upload:hover {
        border-color: #409EFF;
    }
    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 178px;
        height: 178px;
        line-height: 178px;
        text-align: center;
    }
    .avatar {
        width: 178px;
        height: 178px;
        display: block;
    }
    small{
    font-size: 120%!important;
    }
    .on-boarding .sub .v-stepper__step.v-stepper__step--active .sub-step{
        background:white!important;
    }
</style>
