<template>
  <v-toolbar class="border-bottom pt-3 sticky top z-100" flat color="white">
    <v-toolbar-title>
      <a href="/">
        <img src="@/assets/logo.png" alt="Kiitec" />
      </a>
    </v-toolbar-title>
    <v-spacer></v-spacer>
    <v-toolbar-items class="hidden-sm-and-down">
      <a
        flat
        color="blue"
        v-for="(item, i) in menu_items"
        :key="i"
        class="v-btn mr-3 hover"
        :class="{ 'primary-border': i == 5 }"
        :href="item.link"
      >
        <span v-text="item.name"></span>
      </a>
    </v-toolbar-items>

<!-- mobile bar -->
<v-toolbar-items class="hidden-md-and-up">
    <v-menu offset-y >
      <template v-slot:activator="{ on }"> 
        <v-btn
          color="transparent"
          light
          v-on="on"
          icon
        >
          <svg-icon :icon="'menu'" width="20px"/>
        </v-btn> 
      </template>
      <v-list>
        <v-list-tile
        
        v-for="(item, i) in menu_items"
        :key="i"
        :href="item.link"
        
      >
        <v-list-tile-title>{{ item.name }}</v-list-tile-title>
      </v-list-tile>
      </v-list>
    </v-menu>
    </v-toolbar-items>
  </v-toolbar>
</template>

<script>
import SvgIcon from '@/components/SvgIcon';
export default {
  components: {
      SvgIcon,
      },
  data() {
    return {
      menu_items: [
        {
          name: 'About',
          link: '/about'
        },
         {
          name: 'Contact Us',
          link: '/contact'
        },
        // {
        //   name: 'Features',
        //   link: '/features'
        // },
        // {
        //   name: 'Pricing',
        //   link: '/pricing'
        // },
        {
          name: 'FAQ',
          link: '/faq'
        },
        {
          name: 'Sign In',
          link: '/login'
        },
        {
          name: 'Sign Up',
          link: '/register'
        }
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
a.v-btn {
  border: none !important;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 5px;
  color:#38B4FF;
  &.primary-border {
    border: 1px solid $primary !important;
    // color: $primary;
  }
}
</style>
