<template>
  <v-dialog v-model="show" fullscreen persistent transition="dialog-transition">
    <v-layout column h-100 align-center work-over justify-center>
      <img src="@/assets/img/loading.gif" alt="Loading..." width="50px">
    </v-layout>
  </v-dialog>
</template>

<script>
export default {
  props: ['show']
};
</script>

<style lang="scss" scoped>
img {
  border-radius: 50%;
  box-shadow: 0px 4px 10px 1px #333;
}
</style>

