<template>
  <div id="bigwrapper">
    <div id="logo"></div>

    <div id="buttons">
      <button>About</button>
      <button>Features</button>
      <button>Pricing</button>
      <button>FAQ</button>
      <button>Sign In</button>
      <button>Sign Up</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'NavBar'
};
</script>

<style>
#bigwrapper {
  display: grid;
  width: 100vw;
  height: 8vh;

  background: #ffffff;
  backdrop-filter: blur(50px);
  position: fixed;
  z-index: 1;
  box-shadow: 0 -5px 15px 0 rgba(0, 0, 0, 0.5);
}

#logo {
  grid-column: 1/3;
}

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  grid-column: 3/8;
}

#buttons button {
  -webkit-appearance: none;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}
</style>
