<template>
  <div class>
    <v-dialog v-model="show" transition="dialog-transition">
      <v-card class="px-5 py-5 card">
        <v-flex xs12 sm12 md10 lg10 class="mx-auto">
          <v-card class="px-3 py-3">
            <v-card-title>
              <h4>General Product Information</h4>
              <v-spacer></v-spacer>
              <a class="success--text" @click="$emit('close')">CLOSE</a>
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text>
              <br />
              <!-- <h4>
                                {{industries.name}}
                                <span class="font-14">(Industry)</span>
                            </h4>
              -->

              <v-form class="my-3" @submit.prevent="createProduct">
                <!-- <div class="mb-4 max-w-md">
                                    <label>Select Category</label>
                                    <v-select :items="subCategories"
                                     solo v-model="subCategories"
                                     label="Subcategory"
                                      @change="getCategory"
                                      item-text="name"
                                        item-value="id"
                                        v-validate="'required'"></v-select>
                </div>-->
                <v-flex xs12 sm12 mt-3>
                  <h5 class="mb-2 font-weight-bold">Select Category</h5>
                  <v-select
                    solo
                    name="category"
                    label="Category"
                    v-model="store.product_subcategory_id"
                    :items="categories"
                    item-text="name"
                    item-value="id"
                    v-validate="'required'"
                    @select="selectCategory"
                  ></v-select>
                </v-flex>

                <v-flex xs12 sm12 mt-3>
                  <h5 class="mb-2 font-weight-bold">Product Customization (Optional)</h5>
                  <v-select
                    solo
                    name="category"
                    label="Choose Customization"
                    v-model="store.customization_id"
                    :items="customizations"
                    item-text="name"
                    item-value="id"
                    v-validate="'required'"
                    @select="selectCategory"
                  ></v-select>
                </v-flex>

                <v-flex xs12 sm12 mt-3>
                  <h5 class="mb-2 font-weight-bold">Maximum Delivery Days (Optional)</h5>
                  <v-text-field
                          solo
                          v-model="store.delivery_days"
                          type="number"
                          step="1"
                          :min="1"
                          label="Enter number of Days"
                  ></v-text-field>
                </v-flex>

                <div class="mb-4">
                  <label>Product Images</label>
                  <v-container grid-list-xl class="max-w-unset pa-0 mt-3">
                    <v-layout row wrap align-center>
                      <v-flex add-pic v-for="i in 5" :key="i">
                        <v-card color="grey lighten-4" flat height="200px">
                          <v-layout align-center h-100 justify-center relative>
                            <div v-if="showPictures[i - 1].show" class="text-xs-center h-100">
                              <div class="text-xs-center">
                                <img :src="showPictures[i - 1].image" height="130px" width="150px;" />
                              </div>
                              <div class="w-100 text-xs-center">
                                <v-btn
                                  class="w-85 mx-0 no-border"
                                  color="error"
                                  flat
                                  @click="removeImage(i-1)"
                                >Remove Image</v-btn>
                              </div>
                            </div>
                            <div v-else class="text-xs-center pointer">
                              <img src="@/assets/img/add-new.svg" alt="Add Product" width="50%" />
                              <input
                                type="file"
                                @change="showPic($event, i)"
                                accept="image/*"
                                class="w-100 h-100 hidden absolute top left"
                              />
                            </div>
                          </v-layout>
                        </v-card>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </div>
                <div class="mb-4">
                  <label>Product Name</label>
                  <v-text-field solo v-model="newProduct.name" label="Product Name"></v-text-field>
                </div>
                <div class="mb-4">
                  <label>Price</label>
                  <v-text-field
                    solo
                    v-model="newProduct.price"
                    type="number"
                    step="500"
                    :min="1"
                    label="Default Price"
                  ></v-text-field>
                </div>
                <div class="mb-4">
                  <label>Product Description</label>
                  <v-textarea solo v-model="newProduct.description" label="Product Description"></v-textarea>
                </div>
                <div class="mb-4">
                  <label>Tags(For subcategory e.g Men, women, unisex)</label>
                  <multiselect
                    v-model="newProduct.tags"
                    tag-placeholder="Add this as new tag"
                    placeholder="Search or add a tag"
                    label="title"
                    track-by="id"
                    :options="tags"
                    :multiple="true"
                  ></multiselect>
                </div>
                <div class="text-xs-center mb-4">
                  <v-btn class="mx-0 max-w-xs w-100" type="submit" color="error">Create</v-btn>
                </div>
              </v-form>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-card>
    </v-dialog>

    <v-dialog v-model="showDialog.show" persistent max-width="500px" transition="dialog-transition">
      <v-card class="px-4 py-5">
        <v-card-title>{{ newProduct.name }}</v-card-title>
        <v-card-text>{{ showDialog.content }}</v-card-text>
        <v-card-actions v-if="showDialog.success">
          <v-layout row wrap text-xs-center>
            <v-flex xs6>
              <v-btn color="error" @click="viewProducts" flat class="w-85">View Products</v-btn>
            </v-flex>
            <v-flex xs6>
              <v-btn color="red" @click="addNewOne" class="w-85 white--text">Add New</v-btn>
            </v-flex>
          </v-layout>
        </v-card-actions>
        <v-card-actions v-else>
          <v-layout row wrap text-xs-center>
            <v-flex xs6>
              <v-btn color="error" @click="showDialog.show = false" flat class="w-85">Try Again</v-btn>
            </v-flex>
          </v-layout>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <Loading :show="working" />
    <Snackbar :data="snackbar" />
  </div>
</template>

<script>
import Loading from '@/components/Loading';
import Snackbar from '@/components/Snackbar';
import * as action from '@/store/actionTypes';
import {
  CREATE_PRODUCT,
  GET_PRODUCT_TAGS,
  GET_INDUSTRIES,
  GET_VENDOR,
  GET_ALL_CUSTOMIZATIONS
} from '../store/actionTypes';
import Multiselect from 'vue-multiselect';

export default {
  props: ['show'],
  components: {
    Loading,
    Snackbar,
    Multiselect
  },
  data() {
    return {
      newProduct: {
        pictures: [],
        price: '',
        name: '',
        description: '',
        tags: []
      },
      edit: false,
      store: {
        product_category_id: null,
        product_subcategory_id: null,
        customization_id: null,
        delivery_days: null
      },
      industry: '',
      category: '',
      categories: [],
      gender: '',
      showPictures: [
        {
          file: null,
          show: false,
          image: null
        },
        {
          file: null,
          show: false,
          image: null
        },
        {
          file: null,
          show: false,
          image: null
        },
        {
          file: null,
          show: false,
          image: null
        },
        {
          file: null,
          show: false,
          image: null
        }
      ],
      showDialog: {
        show: false,
        content: '',
        success: false
      }
    };
  },
  computed: {
    availableCategories() {
      return this.categories;
    },
    tags() {
      return this.$store.getters.getProductTags;
    },
    industries() {
      return this.$store.getters.getIndustries;
    },
    customizations() {
      return this.$store.getters.getCustomizations || [];
    },
    vendor() {
      return this.$store.getters.getVendor;
    }
  },
  methods: {
    showTags() {},

    selectCategory(value) {
      this.store.product_category_id = value.id;
      this.categories = value.subcategories;
    },

    showPic(e, index) {
      if (!this.validateImage(e.target.files[0], index - 1)) {
        return;
      }
      this.showPictures[index - 1].file = e.target.files[0];
      this.createImage(this.showPictures[index - 1].file, index);
      this.showPictures[index - 1].show = true;
    },
    createImage(file, index) {
      let reader = new FileReader();
      if (!this.validateImage(file, index - 1)) {
        this.showPictures[index - 1].image = null;
        return false;
      }
      reader.onload = e => {
        this.showPictures[index - 1].image = e.target.result;
      };

      reader.readAsDataURL(file);
    },
    removeImage(index) {
      this.showPictures[index].file = null;
      this.showPictures[index].show = false;
      this.showPictures[index].image = null;
    },
    createProduct() {
      this.newProduct.pictures = [];
      this.showPictures.forEach(element => {
        if (element.image) {
          this.newProduct.pictures.push(element.file);
        }
      });

      // convert to array of tag ids
      let tags = this.newProduct.tags.map(tag => {
        return tag.id;
      });

      let fData = new FormData();
      fData.append('name', this.newProduct.name);
      fData.append('price', this.newProduct.price);
      fData.append('description', this.newProduct.description);
      fData.append('product_subcategory_id', this.store.product_subcategory_id);

      if (this.store.customization_id) {
        fData.append('customization_id', this.store.customization_id);
      }

      if (this.store.delivery_days) {
        fData.append('delivery_days', this.store.delivery_days);
      }

      fData.append('tags', JSON.stringify(tags));
      this.newProduct.pictures.forEach(element => {
        fData.append('pictures[]', element);
      });

      if (
        this.newProduct.name &&
        this.newProduct.description &&
        this.newProduct.price
      ) {
        if (this.newProduct.pictures.length >= 3) {
          this.working = true;
          this.$store.dispatch(CREATE_PRODUCT, fData).then(resp => {
            this.working = false;
            if (typeof resp == 'object' && resp.type === 'error') {
              this.snackbar.show = true;
              this.snackbar.text = Object.values(resp.error)[0][0];
              this.snackbar.color = 'error';
            } else if (resp === 'success') {
              this.showDialog.show = true;
              this.showDialog.content = `${this.newProduct.name} Successfully Added!`;
              this.showDialog.success = true;
            } else {
              this.showDialog.show = true;
              this.showDialog.content = `Could not successfully add ${this.newProduct.name}`;
              this.showDialog.success = false;
            }
          });
        } else {
          this.snackbar.show = true;
          this.snackbar.text = 'Product needs at least 3 images';
          this.snackbar.color = 'error';
        }
      } else {
        this.snackbar.show = true;
        this.snackbar.text = 'Fill in all fields';
        this.snackbar.color = 'error';
      }
    },
    addNewOne() {
      this.showDialog.show = false;
      this.newProduct.name = '';
      this.newProduct.price = '';
      this.newProduct.description = '';
      this.store.product_subcategory_id = '';
      this.newProduct.tags = '';
    },
    validateImage(file, index) {
      const imageSize = file.size / 1024 / 1024 < 2;
      if (!file.name.match(/.(jpg|jpeg|png|gif)$/i)) {
        this.snackbar.show = true;
        this.snackbar.text = 'File is not an image';
        this.snackbar.color = 'error';
        return false;
      } else if (!imageSize) {
        this.snackbar.show = true;
        this.snackbar.text = 'File size should not be greater than 2mb! ';
        this.snackbar.color = 'error';
        return false;
      } else {
        return true;
      }
    },
    viewProducts() {
      this.$emit('close');
      if (this.$route.path !== '/dashboard/products')
        this.$router.push('/dashboard/products');
      this.showDialog.show = false;
    }
  },

  mounted() {
    this.industries.forEach(element => {
      if (element.id === this.vendor.product_category_id) {
        this.categories = element.subcategories;
      }
    });
    this.store.product_category_id = this.vendor.product_category_id;
    this.store.product_subcategory_id = this.vendor.product_subcategory_id;
  }
};
</script>


<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style lang="scss" scoped>
.font-14 {
  opacity: 0.4;
}

.add-pic {
  width: 50%;
  max-width: 50%;
  @media screen and (min-width: 600px) {
    width: 25%;
    max-width: 25%;
  }
  @media screen and (min-width: 968px) {
    width: 20%;
    max-width: 20%;
  }
}
.h-full {
  min-height: 1vh !important;
}
@media (max-width: 600px) {
  .card {
    padding: 5px 0px !important;
  }
}
</style>
