<template>
    <div >
        <nav>
            <sub-header/>
            <v-navigation-drawer app
                                 v-model="drawer"
                                 :mini-variant.sync="mini"
                                 hide-overlay
                                 stateless
            >
                <v-toolbar flat class="transparent">
                    <v-list class="pa-0">
                        <v-list-tile avatar>
                            <v-list-tile-avatar size="70">
                                <img src="https://res.cloudinary.com/syfon/image/upload/v1567767948/logo.png" >
                            </v-list-tile-avatar>

                            <v-list-tile-content>
                                <v-list-tile-title></v-list-tile-title>
                            </v-list-tile-content>

                            <v-list-tile-action>

                                <!-- <v-btn
                                  icon
                                  @click.stop="mini = !mini"
                                >
                                  <v-icon>chevron_left</v-icon>
                                </v-btn> -->
                            </v-list-tile-action>
                        </v-list-tile>
                    </v-list>
                </v-toolbar>

                <v-list class="pt-4" dense>
                    <v-divider></v-divider>

                    <v-list-tile
                            v-for="item in items"
                            :key="item.name"
                            @click="logam(item.link)"
                            class="pt-3"
                    >
                        <v-list-tile-action>
                            <svg-icon :icon="item.icon" width="20px"/>
                            <!-- <v-icon>{{ item.icon }}</v-icon> -->
                        </v-list-tile-action>

                        <v-list-tile-content >
                            <v-list-tile-title class="blue--text">{{ item.name }}</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list>
            </v-navigation-drawer>

            <v-container py-0>
                <v-layout>
                            <v-list-tile-action>

                    <v-btn
                            color="blue"
                            icon
                            class="nav-btn white--text navigate-nex"
                            @click.stop="mini = !mini"
                            :class="[mini && drawer? 'rotate' : 'no_rotate']"
                            fixed
                    >
                        <v-icon>navigate_next</v-icon>
                    </v-btn>
                            </v-list-tile-action>

                </v-layout>
            </v-container>
        </nav>

        <router-view></router-view>
    </div>
</template>

<script>
    import SubHeader from '@/components/SubHeader';
    import SvgIcon from '@/components/SvgIcon';
    import mixin from '@/assets/mixin';

    export default {
        mixins: [mixin],
        props: {
            user: Object,
            title: String
            // vendor: Object
        },
        components: {
            SvgIcon,
            SubHeader
        },
        data() {
            return {
                drawer: true,
                mini: true,
                right: null,
                searchInput: '',
                items: [
                    {
                        name:'Dashboard',
                        link: '/dashboard',
                        icon: 'dashboard'
                    },
                    {
                      name: 'Customization',
                      link: '/dashboard/customization',
                      icon: 'collaborate'
                    },
                    {
                        name: 'Products',
                        link: '/dashboard/products',
                        icon: 'products'
                    },
                    
                      {
                        name: 'Orders',
                        link: '/dashboard/orders',
                        icon: 'orders'
                    },
                    {
                      name: 'Wallet',
                      link: '/dashboard/wallet',
                      icon: 'catalog'
                    },
                    // {
                    //     name: 'Reviews',
                    //     link: '/dashboard/reviews',
                    //     icon: 'reviews'
                    // },
                    // {
                    //     name: 'Tracker',
                    //     link: '/dashboard/tracker',
                    //     icon: 'bids'
                    // },
                    // {
                    //     name: 'Material Catalogue',
                    //     link: '/dashboard/catalogue',
                    //     icon: 'catalog'
                    // },

                ]
            }
        },
        methods: {
            logam(route) {
                // ToDo: There needs to be a more efficient way than doing this
                setTimeout(() => {
                    this.$router.push({ path: route });
                }, 200);
            },
            search() {},
        },
        // computed: {
        //   fullname() {
        //     if (this.user.first_name)
        //       return `
        //         ${this.capitalize(this.user.first_name)} ${this.capitalize(
        //         this.user.last_name
        //       )}
        //       `;

        //     return '';
        //   },
        //   toNaira() {
        //     return 'N' + this.user.amount.toFixed(2);
        //   }
        // },
    }
</script>

<style lang="scss" scoped>
.v-btn{
  border:0!important;
}
.no_rotate {
  transform: rotate(180deg) scaleX(1);
  transition: 700ms;
  margin-left:120px;
}
.rotate {
  transform: 0;
  transition: 700ms;
  margin-left:10px;
  }
.nav-btn{
  margin-top: 40vh;
  z-index:5;
}
.v-navigation-drawer{
  max-width:200px;
  transform: translateX(0px)!important;
}
.border {
  border: 1px solid #c4c4c4;
  border-radius: 30px;
}
.border.my-auto {
  height: 40px;
  input {
    min-width: 400px;
    width: 100%;
  }
}
// .nav-btn {
//   border-radius: 50%;
// }
.material-icons{
font-family: 'Material Icons'!important;
}
@media (max-width: 767.98px) { 
    .no_rotate {
  transform: rotate(180deg) scaleX(1);
  transition: 700ms;
  margin-left:160px;
}
.rotate {
  transform: 0;
  transition: 700ms;
  margin-left:50px;
  }
 }

 @media (min-width: 1200px) { 
    .no_rotate {
  transform: rotate(180deg) scaleX(1);
  transition: 700ms;
  margin-left:100px;
}
.rotate {
  transform: 0;
  transition: 700ms;
  margin-left:0px;
  }
 }
 

</style>
