<template>
  <v-dialog v-model="show" fullscreen persistent transition="dialog-transition">
    <v-card>
      <div class="pa-4">
        <div class="text-xs-right mb-3">
          <h4 class="font-weight-regular">
            <a @click="$emit('close')" class="success--text">CLOSE</a>
          </h4>
        </div>
        <v-card class="mb-5">
          <div class="px-5 py-4">
            <h3>Product Details</h3>
          </div>
          <v-divider></v-divider>
          <v-layout row wrap py-3 px-5 align-center>
            <v-flex xs12 md5 sm12 lg5 text-xs-center text-md-left>
              <img :src="order.product.pictures[0].url" :alt="order.name" class="img-fluid order-img">
            </v-flex>
            <v-flex xs12 md7 sm12 lg7>
              <h3>{{ order.product.name }}</h3>
              <h3 class="mb-2"> &#8358;{{order.data.price.toLocaleString('en-US')}}</h3>
              <p class="mb-3">{{ order.product.description }}</p>
              <h4>Quantity: {{ order.quantity }}</h4>
              <!-- <h4>Color: Vanderlay Blue</h4> -->
            </v-flex>
          </v-layout>
        </v-card>
    
        <v-card class="mb-5">
          <div class="px-5 py-3">
            <h3>Customized details & Measurement</h3>
          </div>
          <v-divider></v-divider>
          <v-layout row wrap py-3 px-5 align-center>
            <v-flex xs12 sm6 md2 lg2 text-xs-center px-3 v-for="(customize, index ) in order.data.customization" :key="index">
              <h4 class="customize-name">{{ customize.name }}</h4>
              <img :src="customize.image" :alt="customize.name" class="customize-img img-fluid">

              <!-- <p class="" v-if="customize.value" text-xs-center>{{ customize.value.name}}</p> -->

              <p class="" text-xs-center>{{ customize.value}}</p>

            </v-flex>
            <v-flex xs12 md8>
              
            </v-flex>
          </v-layout>
        </v-card>
        <v-card class="mb-5">
          <div class="px-5 py-4">
            <h3>Shipping Details</h3>
          </div>
          <div class="pb-3 px-5">
            <!-- <h3>
              <span v-if="order.express">Express&nbsp;</span>Delivery
            </h3> -->
            <h4>Delivery Address:</h4>
            <p> {{ order.delivery_address }}</p>
            <h4 class="my-2 font-weight-regular">Please Accept Or Decline Request within the 24hrs</h4>
          </div>
        </v-card>
      </div>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: ['show', 'order',],
  data(){
     return {
       customization: [
              {
                feature: 'Shirt color',
                name: 'red',
                image: 'https://res.cloudinary.com/syfon/image/upload/v1578480070/measure3.png',           
              },
              {
                feature: 'Shirt sleeves',
                name: 'short',
                image: 'https://res.cloudinary.com/syfon/image/upload/v1578480069/measure1.png',
                
              },
              {
                feature: 'Shirt length',
                name: '16',
                image: 'https://res.cloudinary.com/syfon/image/upload/v1578480068/measure4.png',
              },
            ]

     }
  },
  computed: {
    features() {
      let  features = this.order.data.customization.features; 
      return features.filter((feature) => {
        return feature.value !== null;
      })

    }
  }
  
};
</script>

<style lang="scss" scoped>
.customize-name{
  color:#1E97E0;
}
.customize-img{
max-height:75px;
}
.order-img{
  max-height: 200px;
}
</style>