<template>
  <v-snackbar v-model="data.show" :timeout="4000" :color="data.color" right top>{{ data.text }}</v-snackbar>
</template>

<script>
export default {
  props: {
    data: Object
  }
};
</script>
<style>
  .v-text-field__details>.v-messages{
    font-size: 16px!important;
    font-weight:800;
    }
</style>

