<template>
  <section class="subheader mb-4">
    <v-layout row wrap div py-3 align-center>
      <v-flex>
        <span class="subheader__title" v-text="title"></span>
      </v-flex>
      <v-flex text-xs-right v-if="$vuetify.breakpoint.smAndUp">
        <v-btn @click="addNewProduct = true" class="ma-0 px-5" color="transparent">Add New Product</v-btn>
      </v-flex>
    </v-layout>

    <new-product :show="addNewProduct" @close="addNewProduct = false"/>
  </section>
</template>

<script>
import NewProduct from './NewProduct';
export default {
  components: {
    NewProduct
  },
  props: {
    title: String
  },
  data() {
    return {
      addNewProduct: false
    };
  }
};
</script>