<template>
    <div>
        <v-toolbar color="" app class="subheader">
            
            
            <v-toolbar-items class="hidden-sm-and-down">
                <v-toolbar-title>
                <h3><span class="white--text">{{title}}</span></h3>
            </v-toolbar-title>
            <v-spacer></v-spacer>

                <v-layout row wrap>
                    <v-flex xs12 sm12>
                        <v-text-field
                        light
                        color="white"
                        class="white--text"
                            label="search"
                            prepend-inner-icon="search"
                            loading="white"
                        ></v-text-field>
                    </v-flex>
                </v-layout>
            </v-toolbar-items>
            <v-spacer></v-spacer>
            <v-flex  v-if="$vuetify.breakpoint.smAndUp && userIsVerified">
                <v-btn  :loading="busy"
                        :disabled="busy" @click="startNewProductProcess" class="ma-0 px-3 py-0 add-btn">Add New Product</v-btn>
            </v-flex>
            <v-spacer></v-spacer>

            <v-toolbar-items class="hidden-sm-and-down">
                <v-menu offset-y bottom open-on-hover  class="mr-3">
                    <a class="d-flex align-center mx-3 white--text" slot="activator" white @click="markNotificationsRead">
                        <img src="@/assets/img/bell.svg" alt="notification" class="white--text" white>
                        <span v-if="$store.getters.hasUnreadNotification" class="fas fa-circle" style="color: red"></span>
                    </a>
                    <v-list v-if="$store.getters.unreadNotifications.length > 0">
                        <v-list-tile v-for="(notification, i) in $store.getters.unreadNotifications" :key="i">
                            <v-list-tile-title>
                                <a href="#">{{ notification.data.title }}</a>
                            </v-list-tile-title>
                        </v-list-tile>
                    </v-list>

                    <v-list v-else>
                        <v-list-tile>
                            <v-list-tile-title>
                                <a href="#">No Notifications!</a>
                            </v-list-tile-title>
                        </v-list-tile>
                    </v-list>
                </v-menu>
                <v-menu offset-y open-on-hover>
                    <a class="" slot="activator">
                        <v-layout row wrap align-center>
                            <v-avatar :size="50" color="grey lighten-4">
                                <img class="border-round"
                                        :src="this.imageURL">
                            </v-avatar>
                            <v-flex pl-2 class="white--text">
                                <h5 class="mb-0 white--text">{{ authUser.name }}</h5>
                                <h5 class="font-weight-regular white--text">{{ authVendor.name }}</h5>
                            </v-flex>
                            <div class="d-flex align-center pl-2">
                                <img src="@/assets/img/chevron-down.svg" alt="arrow-down">
                            </div>
                        </v-layout>
                    </a>
                    <v-list>
                        <v-list-tile @click.prevent="goToProfilePage">
                            <v-list-tile-action>
                                <svg-icon :icon="'profile'" width="20px"/>
                            </v-list-tile-action>

                            <v-list-tile-content >
                                <v-list-tile-title class="">{{ 'Profile' }}</v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>

                        <v-list-tile @click.prevent="logout">
                            <v-list-tile-action>
                                <svg-icon :icon="'settings_power'" width="20px"/>
                            </v-list-tile-action>

                            <v-list-tile-content >
                                <v-list-tile-title class="">{{ 'Logout' }}</v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>
                    </v-list>
                </v-menu>
                
            </v-toolbar-items>

            <!-- mobile view -->
        <v-toolbar-items class="hidden-md-and-up">
            <v-flex  v-if="userIsVerified">
                <v-btn  :loading="busy"
                        :disabled="busy" @click="startNewProductProcess" class="ma-0 px-3 py-0 add-btn">Add New Product</v-btn>
            </v-flex>
            <v-spacer></v-spacer>
        <v-menu offset-y left transition="slide-x-transition" open-on-hover>
                    <a class="d-flex align-center mx-3 white--text" slot="activator" white @click="markNotificationsRead">
                        <img src="@/assets/img/bell.svg" alt="notification" class="white--text" white>
                        <span v-if="$store.getters.hasUnreadNotification" class="fas fa-circle" style="color: red"></span>
                    </a>
                    <v-list v-if="$store.getters.unreadNotifications.length > 0">
                        <v-list-tile v-for="(notification, i) in $store.getters.unreadNotifications" :key="i">
                            <v-list-tile-title>
                                <a href="#">{{ notification.data.title }}</a>
                            </v-list-tile-title>
                        </v-list-tile>
                    </v-list>

                    <v-list v-else>
                        <v-list-tile>
                            <v-list-tile-title>
                                <a href="#">No Notifications!</a>
                            </v-list-tile-title>
                        </v-list-tile>
                    </v-list>
                </v-menu>
        <v-menu offset-y open-on-hover>
                    <a class="" slot="activator">
                        <v-layout row wrap align-center>
                            <v-avatar :size="50" color="grey lighten-4">
                                <img class="border-round"
                                        :src="this.imageURL">
                            </v-avatar>
                            <v-flex pl-2 class="white--text">
                                <h5 class="mb-0 white--text">{{ authUser.name }}</h5>
                                <h5 class="font-weight-regular white--text">{{ authVendor.name }}</h5>
                            </v-flex>
                            <div class="d-flex align-center pl-2">
                                <img src="@/assets/img/chevron-down.svg" alt="arrow-down">
                            </div>
                        </v-layout>
                    </a>
                    <v-list>
                        <v-list-tile @click.prevent="goToProfilePage">
                            <v-list-tile-action>
                                <svg-icon :icon="'profile'" width="20px"/>
                            </v-list-tile-action>

                            <v-list-tile-content >
                                <v-list-tile-title class="">{{ 'Profile' }}</v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>

                        <v-list-tile @click.prevent="logout">
                            <v-list-tile-action>
                                <svg-icon :icon="'settings_power'" width="20px"/>
                            </v-list-tile-action>

                            <v-list-tile-content >
                                <v-list-tile-title class="">{{ 'Logout' }}</v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>
                    </v-list>
                </v-menu>
                
      </v-toolbar-items>
        </v-toolbar>

        <new-product :show="addNewProduct" @close="addNewProduct = false"/>
    </div>
</template>

<script>
    import SvgIcon from '@/components/SvgIcon';
    import mixin from '@/assets/mixin';
    import {LOGOUT} from '../store/actionTypes';
    import NewProduct from './NewProduct';
    import UserService from '../services/UserService';
    import { toast } from '../helpers/alert';

    const gravatarUrl = require('gravatar-url');

    export default {
        mixins: [mixin],
        props: {
            user: Object,
            // title: String
            // vendor: Object
        },
        components: {
            SvgIcon,
            NewProduct
        },
        data() {
            return {
                busy: false,
                title: 'Dashboard',
                searchInput: '',
                addNewProduct: false,
                links: [
                    {
                        name: 'Profile',
                        link: '/dashboard/profile',
                        icon: 'profile'
                    },
                    {
                        name: 'Logout',
                        link: '/dashboard',
                        icon: 'settings_power'
                    },
                ]
            };
        },
        methods: {
            markNotificationsRead() {
                if (this.$store.getters.hasUnreadNotification) {
                    this.$store.dispatch('markAllUnreadNotifications')
                }
            },
            search() {
            },
            logout() {
                this.$store.dispatch(LOGOUT);
            },
            goToProfilePage() {
                this.$router.push({name: 'profile'});
            },
            async startNewProductProcess() {
                this.busy = true;
                if (await UserService.isApproved()) {
                    this.addNewProduct = true;
                    this.busy = false;
                } else {
                    this.busy = false;
                    toast('You cannot add Products until your account is approved!', 'error');
                }
            }
        },
        computed: {
            userIsVerified() {
                return this.$store.getters.authUserIsVerified;
            },
            authVendor() {
                return this.$store.getters.getVendor;
            },
            authUser() {
                return this.$store.getters.getUser;
            },
            imageURL() {
                return this.authUser.email ? gravatarUrl(this.authUser.email, { size: 200 }) :
                    `https://raw.githubusercontent.com/Ashwinvalento/cartoon-avatar/master/lib/images/female/5.png`;
            }
        },
    }
</script>

<style lang="scss" scoped>
    .add-btn{
        background: #FFDEB8!important;
    }
.subheader{
background-color:#38B4FF!important;
}
</style>

