<template>
  <div class="summary_cards blue-back text-xs-center">
    <div class="ma-auto">
      <div class="top_text white--text">
        <p v-text="data.value"></p>
      </div>
      <div class="white--text pb-3">
        <h3 v-text="data.midtext"></h3>
      </div>
      <div class="white--text">
        <router-link class="white--text" :to="{ path: data.link }"
          >More Details</router-link
        >
      </div>
    </div>
  </div>

  <!-- <v-card class="summary_cards d-flex align-center text-xs-center" flat color="white">
    <div>
      <div class="top_text">
        <p v-text="data.value"></p>
      </div>
      <div class="middle_text">
        <p v-text="data.midtext"></p>
      </div>
      <div class="bottom_text">
        <router-link class="primary--text" :to="{ path: data.link }">More Details</router-link>
      </div>
    </div>
  </v-card>-->
</template>

<script>
export default {
  props: {
    data: Object
  }
};
</script>

<style lang="scss" scoped>
.top_text {
  font-size: 50px;
}

.middle_text {
  font-size: 25px;
}
.blue-back{
  background: linear-gradient(180deg, #1D97E1 0%, #38B4FF 100%);
}
</style>
