<template>
  <img
    :src="require(`@/assets/img/${icon}.svg`)"
    :width="[width ? width : 'auto']"
  />
</template>

<script>
export default {
  props: {
    icon: String,
    width: String
  }
};
</script>
