<template>
  <div>

       <v-container class="pt-0">
          <div>
            <v-layout column pb-5>
              <v-flex mt-2 mb-4>
                <h4 class="text-xs-center font-weight-regular mb-2">
                  Please upload a profile Picture
                  <br>
                  <small>(Image not larger than 200kb)</small>
                    <span class="error">{{ errors.first('image_size') }}</span>
                </h4>
                <el-upload
  class="avatar-uploader"
  action="https://jsonplaceholder.typicode.com/posts/"
  :show-file-list="false"
  :on-success="handleAvatarSuccess"
  :before-upload="beforeAvatarUpload">
  <img v-if="imageUrl" :src="imageUrl" class="avatar">
  <i v-else class="el-icon-plus avatar-uploader-icon"></i>
</el-upload>

<el-upload
  action="https://jsonplaceholder.typicode.com/posts/"
  list-type="picture-card"
  :on-preview="handlePictureCardPreview"
  :on-remove="handleRemove">
  <i class="el-icon-plus"></i>
</el-upload>
<el-dialog :visible.sync="dialogVisible">
  <img width="100%" :src="dialogImageUrl" alt="">
</el-dialog>
              </v-flex>
              <v-flex text-xs-center my-3>
                <v-layout align-center h-100 justify-center relative>
                  <div v-if="showDP.show" class="text-xs-center h-100">
                    <img :src="showDP.image" @click="removeDP" height="150px" width="auto">
                    
                  </div>
                  <div v-else class="text-xs-center pointer">
                    <img
                      src="@/assets/img/upload-image-2.png"
                      alt="Add Product"
                      width="75%"
                      class="max-w-xxs"
                    >

    <input type="file" name="image_size" v-validate.reject="'image|size:100'">

                    <!-- <input
                      type="file"
                      @change="showDPImage($event)"
                      accept="image/*"
                      class="w-100 h-100 hidden absolute top left"
                      name="image_size" v-validate.reject="'image|size:100'"
                    > -->
                  </div>
                </v-layout>
              </v-flex>
              <v-flex text-xs-center>
                <v-btn
                  color="success"
                  v-if="showDP.image"
                  class="max-w-xs w-100"
                  @click="index = 5"
                >Continue</v-btn>
              </v-flex>
            </v-layout>
          </div>
          <div id="app">
  <div class="form-group">
      <label for="image_test">Allows only image files with dimensions of 500x500 (does not reject the input)</label>
      <input type="file" name="image_test" v-validate="'image|dimensions:500,500'">
      <span class="error">{{ errors.first('image_test') }}</span>
  </div>
  
  <div class="form-group">
      <label for="image_test">Allows only image files with size of 10 kilobytes (does not reject the input)</label>
      <input type="file" name="size_test" v-validate="'image|size:10'">
      <span class="error">{{ errors.first('size_test') }}</span>
  </div>
  
  <div class="form-group">
      <label for="image-size">Allows only image files with size of 10 kilobytes but rejects the user input (resets the input value if its invalid by applying the `reject` modifier)</label>
    <input type="file" name="image_size" v-validate.reject="'image|size:100'">
    <span class="error">{{ errors.first('image_size') }}</span>
  </div>
</div>
        </v-container>
  </div>
</template>

<script>
// import Snackbar from '@/components/Snackbar';
export default {
  validator: null,
  data()
{
return{
    imageUrl: '',
    dialogImageUrl: '',
        dialogVisible: false,
  index: 0,
    bank: '',
    acct_no: '',
    tnc: false,
    showCAC: {
      show: false,
      file: null,
      image: null
    },
    showID: {
      show: false,
      file: null,
      image: null
    },
    showDP: {
      show: false,
      file: null,
      image: null
    },
    banks: [],
    snackbar: {
      color: '',
      text: '',
      show: false
    },
}
},
methods: {
    showCACImage(e) {
      this.showCAC.file = e.target.files[0];
      this.createImage(this.showCAC.file, 'cac');
      this.showCAC.show = true;
    },
    removeCAC() {
      this.showCAC.file = null;
      this.showCAC.show = false;
      this.showCAC.image = null;
    },
    showIDImage(e) {
      this.showID.file = e.target.files[0];
      this.createImage(this.showID.file, 'id');
      this.showID.show = true;
    },
    removeID() {
      this.showID.file = null;
      this.showID.show = false;
      this.showID.image = null;
    },
    showDPImage(e) {
      this.showDP.file = e.target.files[0];
      this.createImage(this.showDP.file, 'dp');
      this.showDP.show = true;
    },
    removeDP() {
      this.showDP.file = null;
      this.showDP.show = false;
      this.showDP.image = null;
    },
    createImage(file, type) {
      var reader = new FileReader();

      reader.onload = e => {
        if (type == 'cac') this.showCAC.image = e.target.result;
        else if (type == 'id') this.showID.image = e.target.result;
        else this.showDP.image = e.target.result;
      };
      reader.readAsDataURL(file);
    },
    checkImage() {
      if (this.validateImage(this.showCAC.file, 'CAC')) {
        if (this.validateImage(this.showID.file, 'ID')) this.index = 4;
      }
    },
    validateImage(image, text) {
      const imageType = image.type;
      if (!imageType.endsWith('png')) {
        if (!imageType.endsWith('jpeg')) {
          if (!imageType.endsWith('jpg')) {
            this.snackbar.show = true;
            this.snackbar.text = text + ' should be in PNG, JPG or JPEG format';
            this.snackbar.color = 'error';
          }
        }
      } else {
        if (image.size / 1024 >= 200) {
          this.snackbar.show = true;
          this.snackbar.text =
            text + ' size is too large. ' + text + ' cannot be more than 200KB';
          this.snackbar.color = 'error';
        } else {
          return true;
        }
        return;
      }
    },
    handleAvatarSuccess(res, file) {
        this.imageUrl = URL.createObjectURL(file.raw);
      },
      beforeAvatarUpload(file) {
        const isJPG = file.type == 'image/jpeg';
        const isPNG = file.type == 'image/png';
        const isLt2M = file.size / 1024 / 1024 < 2;

        if (!isJPG) {
          this.$message.error('Avatar picture must be JPG format!');
        
        if (!isPNG) {
          this.$message.error('Avatar picture must be JPG format or PNG format!');
        }
        }
        if (!isLt2M) {
          this.$message.error('Avatar picture size can not exceed 2MB!');
        }
        alert(isLt2M);
        return isJPG ||  isPNG && isLt2M;
      },

      handleRemove(file) {
        // console.log(file, fileList);
      },
      handlePictureCardPreview(file) {
        this.dialogImageUrl = file.url;
        this.dialogVisible = true;
      }
    },
watch: {
    username: function(value) {
      this.$validator.validate('username', value).then(result => {
      	if (result) {
        	this.response = 'pass';
          return;
        }
        this.response = 'fail'
      });
    }
  }
}
</script>

<style>
  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
</style>
