<template>
    <v-toolbar class="py-2 header" flat color="primary">
        <v-toolbar-title>
            <a href="/">
                <img src="@/assets/logo.png" alt="Kiitec">
            </a>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items class="hidden-sm-and-down">
            <div class="border d-flex align-center py-1 px-3 mr-4 my-auto">
                <v-layout row wrap>
                    <img src="@/assets/img/search.svg" alt="search" width="18px">
                    <v-form @submit.prevent="search" class="ml-3">
                        <input name="search" v-model="searchInput" placeholder="Search">
                    </v-form>
                </v-layout>
            </div>
            <v-menu offset-y transition="slide-x-transition">
                <a class="v-btn" slot="activator">
                    <v-layout row wrap align-center>
                        <v-avatar :size="50" color="grey lighten-4">
                            <img
                                    class="border-round"
                                    src="https://raw.githubusercontent.com/Ashwinvalento/cartoon-avatar/master/lib/images/female/5.png"
                                    :alt="user.first_name"
                            >
                        </v-avatar>
                        <v-flex pl-2>
                            <h4 class="mb-0" v-text="fullname"></h4>
                            <h4 class="font-weight-regular">{{ vendor.name }}</h4>
                        </v-flex>
                        <div class="d-flex align-center pl-2">
                            <img src="@/assets/img/chevron-down.svg" alt="arrow-down">
                        </div>
                    </v-layout>
                </a>
                <v-list>
                    <v-list-tile v-for="i in 4" :key="i">
                        <v-list-tile-title>Some Detail</v-list-tile-title>
                    </v-list-tile>
                </v-list>
            </v-menu>
            <v-menu offset-y left transition="slide-x-transition">
                <a class="d-flex align-center mx-3" slot="activator" white>
                    <img src="@/assets/img/bell.svg" alt="notification">
                </a>
                <v-list>
                    <v-list-tile v-for="i in 4" :key="i">
                        <v-list-tile-title>
                            <a href="#">Some Clickable Detail</a>
                        </v-list-tile-title>
                    </v-list-tile>
                </v-list>
            </v-menu>
            <v-menu offset-y left transition="slide-x-transition">
                <a class="d-flex align-center border px-3 py-2" slot="activator">
                    <v-layout row wrap align-center>
                        <h3 @click="logout" class="font-weight-regular white--text">Logout</h3>
                        <div class="ml-4">
                            <img src="@/assets/img/arrow-down.svg" alt="notification">
                        </div>
                    </v-layout>
                </a>
                <v-list>
                    <v-list-tile>
                        <v-list-tile-title>
                            <a href="#" class="no-hover">Money matter</a>
                        </v-list-tile-title>
                    </v-list-tile>
                </v-list>
            </v-menu>
        </v-toolbar-items>
    </v-toolbar>
</template>

<script>
    import mixin from '@/assets/mixin';
    import {LOGOUT} from '../store/actionTypes';
    export default {
        mixins: [mixin],
        props: {
            user: Object,
            vendor: Object
        },
        data() {
            return {
                searchInput: ''
            };
        },
        methods: {
            search() {},
            logout() {
                this.$store.dispatch(LOGOUT);
            }
        },
        computed: {
            fullname() {
                if (this.user.first_name)
                    return `
          ${this.capitalize(this.user.first_name)} ${this.capitalize(
                        this.user.last_name
                    )}
        `;

                return '';
            },
            toNaira() {
                return 'N' + this.user.amount.toFixed(2);
            }
        }
    };
</script>

<style lang="scss" scoped>
    a.v-btn {
        border: none !important;
    }
    .border {
        border: 1px solid #c4c4c4;
        border-radius: 30px;
    }
    .border.my-auto {
        height: 40px;
        input {
            min-width: 400px;
            width: 100%;
        }
    }
</style>
