<template>
    <div>
        <SubHeader/>
        <v-stepper v-model="index" class="no-shadow">
                <v-stepper-header class="sub max-w-sm mx-auto">
                    <v-stepper-step color="success" :complete="index > 1" step="1">
                        <div class="sub-step"></div>
                    </v-stepper-step>
                </v-stepper-header>

                <v-stepper-items class="mt-3">
                    <v-layout column md6 max-w-md mx-auto py-4 class="wow fadeInUp delay-1s slow">
                <v-card md6 class="py-4 px-4 bg-verify" color=" white--text" :elevation="20">
                    <div>
                        <h1 class="text-xs-center">Email Verification</h1>
                    </div>
                    <div >
                        <p class="text-xs-center font-weight-regular py-4">
                            Hi, We have a message for you.
                        </p>

                        <h3 class="text-xs-center">Kindly check your mail to verify your account.<br>(Check your spam if you haven't received any mail)</h3>
                    </div>
                    
              </v-card>
              </v-layout>
                    <!-- <div>
                        <h1 class="text-xs-center">Verify your Email</h1>
                    </div>
                    <v-stepper-content step="1" class="pt-0">
                        <div>
                            <v-layout column pb-5>
                                <v-flex mt-2 mb-4>
                                    <p class="text-xs-center font-weight-regular">
                                        Please we have send you a mail to verify your account, kindly check your email!
                                    </p>
                                </v-flex>
                            </v-layout>
                        </div>
                    </v-stepper-content> -->
                </v-stepper-items>
            </v-stepper>
            <Snackbar :data="snackbar"/>
        </div>
</template>

<script>
    import Snackbar from '@/components/Snackbar';
    import SubHeader from './SubHeader';
    import * as action from '@/store/actionTypes';
    export default {
        components: {
            Snackbar, SubHeader
        },
        data: () => ({
            imageUrl: '',
            index: 0,
            bank: '',
            acct_no: '',
            tnc: false,
            showCAC: {
                show: false,
                file: null,
                image: null
            },
            showID: {
                show: false,
                file: null,
                image: null
            },
            showDP: {
                show: false,
                file: null,
                image: null
            },
            banks: [],
            snackbar: {
                color: '',
                text: '',
                show: false
            },
            loading: false
        }),
        computed: {
            user() {
                return this.$store.getters.getUser.id;
            },
            industries() {
                return this.$store.getters.getIndustries;
            }
        },
        methods: {
            showCACImage(e) {
                this.showCAC.file = e.target.files[0];
                this.createImage(this.showCAC.file, 'cac');
                this.showCAC.show = true;
            },
            removeCAC() {
                this.showCAC.file = null;
                this.showCAC.show = false;
                this.showCAC.image = null;
            },
            showIDImage(e) {
                this.showID.file = e.target.files[0];
                this.createImage(this.showID.file, 'id');
                this.showID.show = true;
            },
            removeID() {
                this.showID.file = null;
                this.showID.show = false;
                this.showID.image = null;
            },
            showDPImage(e) {
                this.showDP.file = e.target.files[0];
                this.createImage(this.showDP.file, 'dp');
                this.showDP.show = true;
            },
            removeDP() {
                this.showDP.file = null;
                this.showDP.show = false;
                this.showDP.image = null;
            },
            createImage(file, type) {
                const reader = new FileReader();

                reader.onload = e => {
                    if (type === 'cac') this.showCAC.image = e.target.result;
                    else if (type === 'id') this.showID.image = e.target.result;
                    else this.showDP.image = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            checkImage() {
                if (this.validateImage(this.showCAC.file, 'CAC')) {
                    if (this.validateImage(this.showID.file, 'ID')) this.index = 4;
                }
            },
            checkDP() {
                if (this.validateImage(this.showDPImage.file, 'Profile picture'))
                    this.index = 5;
            },
            onboard() {
                let details = new FormData();
                // details.append('id', this.user);
                details.append('cac', this.showCAC.file);
                details.append('id_card', this.showID.file);
                details.append('bank_name', this.bank);
                details.append('bank_account_number', this.acct_no);
                const payload = { id: this.user, data: details };
                this.loading = true;
                this.$store.dispatch(action.VENDOR_ONBOARDING, payload).then(resp => {
                    this.loading = false;
                    this.snackbar.show = true;
                    if (typeof resp == 'object' && resp.type == 'error') {
                        this.snackbar.text = Object.values(resp.error)[0][0];
                        this.snackbar.color = 'error';
                    } else {
                        this.$store
                            .dispatch(action.GET_ONBOARD_COMPLETE, this.user)
                            .then(() => {
                                setTimeout(() => {
                                    this.$router.push({ path: '/dashboard' });
                                }, 1000);
                            });
                        this.snackbar.text = 'Welcome Onboard';
                        this.snackbar.color = 'success';
                    }
                });
            },
            validateImage(file, text) {
                const imageSize = file.size / 1024 / 1024 < 0.2;
                if (!imageSize) {
                    // this.snackbar.text= ('Avatar picture size can not exceed 2MB!');
                    // console.log('image size exceeded' + imageSize);
                    // alert("image size can not exceed 200kb");
                    this.$swal({
                        type: 'error',
                        title: '',
                        text: 'image size can not exceed 200kb',
                        showCancelButton: true,
                        cancelButtonColor: '',
                        confirmButtonColor: '#FFB603',
                        confirmButtonText: 'Go Back'
                    })
                } else {
                    // this.$swal({
                    //     type: 'success',
                    //     title: 'Uploaded Successfully',
                    //     showConfirmButton: false,
                    //     timer: 1500
                    // })        }

                    if (!(['image/png', 'image/jpeg', 'image/jpg'].includes(file.type.toLowerCase()))) {
                        this.snackbar.show = true;
                        this.snackbar.text = text + ' should be in PNG, JPG or JPEG format';
                        this.snackbar.color = 'error';
                        // console.log(imageType);
                    } else {
                        if (file.size / 1024 >= 200) {
                            this.snackbar.show = true;
                            this.snackbar.text =
                                text + ' size is too large. ' + text + ' cannot be more than 200KB';
                            this.snackbar.color = 'error';
                            // console.log('size error');
                        } else {
                            return true;
                        }
                        return false;
                    }
                }
            },
            //new test
            handleAvatarSuccess(res, file) {
                this.imageUrl = URL.createObjectURL(file.raw);
            },
            beforeAvatarUpload(file) {
                const isJPG = file.type == 'image/jpeg';
                const isPNG = file.type == 'image/png';
                const isLt2M = file.size / 1024 / 1024 < 2;

                if (!isJPG) {
                    this.$message.error('Avatar picture must be JPG format!');

                    if (!isPNG) {
                        this.$message.error('Avatar picture must be JPG format or PNG format!');
                    }
                }
                if (!isLt2M) {
                    this.$message.error('Avatar picture size can not exceed 2MB!');
                }
                return isJPG ||  isPNG && isLt2M;
            },
        },
        mounted() {
            this.$store.dispatch(action.GET_USER);
            fetch('https://api.paystack.co/bank', {
                method: 'GET'
            })
                .then(resp => {
                    return resp.json();
                })
                .then(data => {
                    const tempBank = data.data;
                    tempBank.forEach(element => {
                        this.banks.push(element.name);
                    });
                });
        }
    };
</script>

<style lang="scss" scoped>
    
    .top_text {
        font-size: 50px;
    }

    .middle_text {
        font-size: 25px;
    }

    .subscribe {
        border-radius: 10px;
        text-align: center;

        &-header {
            height: 30px;
            width: 100%;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        &-dash {
            width: 50px;
            height: 5px;
            border-radius: 3px;
        }

        ul {
            padding: 0;
            list-style: none;
            li {
                margin-bottom: 0.8rem;
            }
        }
    }

    .overflow {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba($color: #333, $alpha: 0.4);
        z-index: 10;
        top: 0;
        left: 0;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
    .avatar-uploader .el-upload:hover {
        border-color: #409EFF;
    }
    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 178px;
        height: 178px;
        line-height: 178px;
        text-align: center;
    }
    .avatar {
        width: 178px;
        height: 178px;
        display: block;
    }
    .bg-verify{
    background: linear-gradient(180deg, #1D97E1 0%, #38B4FF 100%);
    }
</style>
