<template>
  <div>
    <v-navigation-drawer
      persistent
      v-model="drawer"
      enable-resize-watcher
      fixed
      app
      class="nav-drawer"
    >
      top
      <v-list class="pt-0">
        <v-list-tile class="py-2 mb-1 sticky top white">
          <img src="@/assets/logo.png" class="logo" alt="Kiitec" />
        </v-list-tile>
        <v-list-tile
          class="mb-1"
          value="true"
          v-for="(item, i) in general"
          :key="i"
          :to="item.route"
        >
          <v-list-tile-action>
            <!-- <svg-icon :icon="item.activeIcon" v-if="item.active" :alt="item.name" width="18px"/>
            <svg-icon :icon="item.icon" v-else :alt="item.name" width="18px"/>-->
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="item.title"></v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-content>
      <router-view />
      <section class="secondary absolute bottom w-100">
        <v-container py-0>Footer</v-container>
      </section>
    </v-content>
  </div>
</template>

<script>
export default {
  data() {
    return {
      drawer: true,
      general: [
        {
          title: 'Dashboard',
          icon: 'dashboard',
          active: false,
          activeIcon: 'dashboard-active',
          route: '/dashboard/home'
        },
        {
          title: 'Transactions',
          icon: 'transactions',
          active: false,
          activeIcon: 'transactions-active',
          route: '/dashboard/transactions'
        },
        {
          title: 'Conversions',
          icon: 'conversions',
          active: false,
          activeIcon: 'conversions-active',
          route: '/dashboard/conversions'
        },
        {
          title: 'Investments',
          icon: 'investments',
          active: false,
          activeIcon: 'investments-active',
          route: '/dashboard/investments'
        },
        {
          title: 'Auto Investments',
          icon: 'auto-investment',
          active: false,
          activeIcon: 'auto-active',
          route: '/dashboard/auto-investments'
        },
        {
          title: 'Referrals',
          icon: 'referrals',
          active: false,
          activeIcon: 'referrals-active',
          route: '/dashboard/referrals'
        }
      ]
    };
  }
};
</script>
