<template>
    <v-list>
        <v-list-tile
                avatar
                class="my-2">
            <v-list-tile-avatar>
                <label for="upload">
                    <img :src="imageUrl || 'https://res.cloudinary.com/syfon/image/upload/v1577369125/Cake.png'"
                         class="img-fluid subcustom-image" style="width: 40px;cursor: pointer;"
                    />
                    <input @change="previewImage" accept="image/*" type="file" id="upload" style="display:none">
                </label>
            </v-list-tile-avatar>

            <v-list-tile-content style="height: 70px;">
                <v-text-field
                        label="New Option e.g 7 (No Unit)"
                        outlined
                        v-model="newOption.name"
                ></v-text-field>
            </v-list-tile-content>

            <v-list-tile-content style="height: 70px;">
                <v-text-field
                        label="Price e.g 200"
                        outlined
                        v-model="newOption.price"
                ></v-text-field>
            </v-list-tile-content>

            <v-list-tile-content>
                <v-btn small type="submit"
                       color="primary"
                       @click="addNewOption"
                       :loading="processing"
                       :disabled="processing || !newOption.name">
                    {{'Add Option'}}
                    <template v-slot:loader>
                        <img src="@/assets/img/preloader.gif" alt="Loading" height="40px">
                    </template>
                </v-btn>
            </v-list-tile-content>

        </v-list-tile>
    </v-list>
</template>

<script>
    import {ADD_FEATURE_OPTION, GET_CUSTOMIZATION} from '../../../store/actionTypes';
    import {forEach} from 'lodash';
    import {toast} from '../../../helpers/alert';

    export default {
        name: 'AddOptionForm',
        props: {
            feature: {
                required: true,
            }
        },
        data() {
            return {
                processing: false,

                newOption: {
                    name: null,
                    image: null,
                    price: null,
                },
                imageUrl: null,
            }
        },
        computed: {
            featureOptions() {
                return this.feature.properties.options || [];
            }
        },
        methods: {
            validateInputs() {
                if (this.featureOptions.map(op => op.value).includes(this.newOption.name)) {
                    toast(`Option ${this.newOption.name} already exists!`, 'error');
                    return false;
                }

                if (!!this.newOption.image && this.newOption.image.size / 1024 / 1024 > 2) {
                    toast(`Image Size cannot be greater than 2Mb`, 'error');
                    return false;
                }

                return true;
            },
            previewImage(event) {
                this.newOption.image = event.target.files[0];
                this.imageUrl = URL.createObjectURL(event.target.files[0]);
            },
            addNewOption() {
                if (!this.validateInputs()) {
                    return;
                }

                const optionFormData = new FormData;

                if (!this.newOption.image) delete this.newOption.image;

                forEach(this.newOption, (value, key) => {
                    if (!value) {
                        delete this.newOption[key];
                    }

                    optionFormData.append(key, value)
                });
                optionFormData.append('feature_id', this.feature.id);

                this.processing = true;
                this.$store.dispatch(ADD_FEATURE_OPTION, optionFormData).then(data => {
                    this.processing = false;

                    // Might not be the Optimal way of Updating, but Reliable
                    this.$store.dispatch(GET_CUSTOMIZATION, this.$store.getters.getCurrentCustomization.id);

                    this.resetForm();
                }).catch(e => this.processing = false);
            },
            resetForm() {
                this.newOption = {
                    name: null,
                    image: null,
                    price: null,
                };
                this.imageUrl = null;
            }
        }
    }
</script>

<style scoped></style>
