<template>
    <div>
        <v-card class="px-5 py-4 text-xs-center cardd" >
            <ValidationObserver ref="newFeatureForm">
                <v-form @submit.prevent="createFeature" v-model="valid" lazy-validation>
                    <v-flex xs12 sm12 class="mt-1">
                        <img v-if="featureImage" style="width: 50%;" :src="featureImageURL" :alt="feature.name">
                    </v-flex>

                    <v-flex xs12 sm12 class="mt-1">
                        <input type="file" @change="handlePreview">
                    </v-flex>

                    <v-flex xs12 sm12 class="mt-1">
                        <el-checkbox class="w-100" v-model="feature.isRequired" label="Buyer must provide this feature" border></el-checkbox>
                    </v-flex>

                    <v-flex xs12 sm12 class="my-1">
                        <ValidationProvider name="name" rules="required">
                            <span class="mb-2 font-weight-regular">
                                Feature Name
                                <span class="input-error" v-if="errors.first('name')">&nbsp;**{{ errors.first("name") }}</span>
                            </span>
                            <v-text-field
                                    slot-scope="{errors,valid}"
                                    :error-messages="errors"
                                    :success="valid"
                                    solo
                                    name="name"
                                    v-model="feature.name"
                                    label="Feature Name"
                            ></v-text-field>
<!--                            <el-input placeholder="Enter Feature name" class="form-control" v-model="feature.name"></el-input>-->
                        </ValidationProvider>
                    </v-flex>

                    <v-flex xs12 sm12 class="my-2">
                        <ValidationProvider name="type" rules="required">
                            <h4 class="mb-2 font-weight-regular">
                                Feature Type
                                <span class="input-error" v-if="errors.first('type')">&nbsp;**{{ errors.first("type") }}</span>
                            </h4>
                            <v-select
                                    solo
                                    name="type"
                                    label="Select Feature Type"
                                    v-model="feature.type"
                                    :items="featureTypes"
                                    item-text="label"
                                    item-value="value"
                                    return-object
                                    slot-scope="{errors,valid}"
                                    :error-messages="errors"
                                    :success="valid"
                                    @change="selectFeatureType"
                            ></v-select>
                        </ValidationProvider>
                    </v-flex>

<!--                    <v-flex xs12 sm12 class="my-2" v-if="feature.type === 'select'">-->
<!--                        <ValidationProvider name="options" rules="required|required_if:type,select">-->
<!--                            <h4 class="mb-2 font-weight-regular">-->
<!--                                Available Options(Comma Separated) e.g 6,7,8-->
<!--                                <span class="input-error" v-if="errors.first('options')">&nbsp;**{{ errors.first("options") }}</span>-->
<!--                            </h4>-->
<!--                            <v-text-field-->
<!--                                    slot-scope="{errors,valid}"-->
<!--                                    :error-messages="errors"-->
<!--                                    :success="valid"-->
<!--                                    solo-->
<!--                                    name="options"-->
<!--                                    v-model="feature.options"-->
<!--                                    label="Available Options(Comma Separated) e.g 6,7,8"-->
<!--                            ></v-text-field>-->
<!--&lt;!&ndash;                            <el-input placeholder="Options(Comma Separated) e.g 6,7,8"  v-model="feature.options"></el-input>&ndash;&gt;-->
<!--                        </ValidationProvider>-->
<!--                    </v-flex>-->

                    <v-flex xs12 sm12 class="my-2" v-if="feature.type === 'select'">
                        <ValidationProvider name="unit" rules="alpha">
                            <h4 class="mb-2 font-weight-regular">
                                Unit (optional) e.g Inches
                                <span class="input-error" v-if="errors.first('unit')">&nbsp;**{{ errors.first("unit") }}</span>
                            </h4>
                            <v-text-field
                                    slot-scope="{errors,valid}"
                                    :error-messages="errors"
                                    :success="valid"
                                    solo
                                    name="unit"
                                    v-model="feature.unit"
                                    label="Unit (optional) e.g Inches"
                            ></v-text-field>
<!--                            <el-input placeholder="Unit (optional) e.g Inches" class="form-control" v-model="feature.unit"></el-input>-->
                        </ValidationProvider>
                    </v-flex>
                    <v-btn type="submit" :loading="processing" class="text-xs-center ma-0 px-5 py-0 create-btn text--white" flat>Add</v-btn>
                </v-form>
            </ValidationObserver>
        </v-card>
        <Snackbar :data="snackbar"/>
    </div>
</template>

<script>
    import { ValidationProvider, ValidationObserver } from 'vee-validate';
    import {ADD_CUSTOMIZATION_FEATURE} from '../../../store/actionTypes';
    import Snackbar from '@/components/Snackbar';
    import {toast} from '../../../helpers/alert';
    import {forEach} from 'lodash';

    export default {
        components: {
            ValidationObserver, ValidationProvider, Snackbar,
        },
        name: 'AddNewCustomizationFeatureModal',
        data: () => {
            return {
                featureImage: null,
                valid: false,
                feature: {
                    name: '',
                    type: '',
                    // options: '',
                    isRequired: false,
                    unit: '',
                    image: null,
                },
                featureTypes: [
                    {
                        value: 'text',
                        label: 'Text',
                    },
                    {
                        value: 'select',
                        label: 'Options',
                    }
                ],
                modalIsOpened: false,
                processing: false,
            };
        },
        props: {
            openModal: {
                required: true,
                type: Boolean,
            }
        },
        computed: {
            featureImageURL() {
                return URL.createObjectURL(this.featureImage);
            },
            featureImageIsValid() {
                return this.featureImage.size / 1024 / 1024 < 2;
            },
            currentCustomization() {
                return this.$store.getters.getCurrentCustomization;
            },
        },
        methods: {
            selectFeatureType(featureType) {
                this.feature.type = featureType.value;
            },
            async createFeature() {
                if (!(await this.$refs.newFeatureForm.validate())) {
                    toast('Some of your inputs are not okay!', 'info');
                    return;
                }

                const data = {...this.feature};


                if (data.type !== 'select') {
                    delete data.options;
                    delete data.unit;
                } else {
                    // data.options = [
                    //     // Using A Set because we can easily get a unique list from a set
                    //     ...new Set(
                    //         data.options.split(',')
                    //             .map(o => o.toString().trim())
                    //             .filter(o => o !== '')
                    //             .sort()
                    //     )
                    // ].map(option => `${option}`);
                }

                data.customization_id = this.currentCustomization.id;

                if (this.featureImage) {
                    data.image = this.featureImage;
                }

                const featureFormData = new FormData;

                forEach(data, (value, key) => {
                    if (value) {
                        if (typeof value === 'object' && key !== 'image') {
                            featureFormData.append(key, JSON.stringify(value));
                        } else {
                            featureFormData.append(key, value);
                        }
                    }
                });

                this.processing = true;
                this.$store.dispatch(ADD_CUSTOMIZATION_FEATURE, featureFormData).then(done => {
                    if (done) {
                        this.snackbar.show = true;
                        this.snackbar.text = 'Feature added successfully';
                        this.snackbar.color = 'primary';

                        this.$emit('featureAdded');
                        this.resetForm();
                    }

                    this.processing = false;
                })
                .catch(e => {
                    toast('An error occurred, please refresh and try again!', 'error');
                    this.processing = false;
                });
            },
            handlePreview(featureImageEvent) {
                this.featureImage = featureImageEvent.target.files[0];
                if (!this.featureImageIsValid) {
                    this.featureImage = null;
                    toast('File Size cannot be greater than 2MB!', 'error');
                }
            },
            handleRemove(featureImage) {
                this.featureImage = null;
            },
            resetForm() {
                this.feature = {
                    name: '',
                    type: '',
                    options: '',
                    isRequired: false,
                    unit: '',
                    image: null,
                };
                this.featureImage = null;
            }
        }
    }
</script>

<style scoped>
.create-btn{
        background: #00CFF6;
        color: white;
    }
    .create-btn:hover{
        background: #1E97E0;
        color: white;
    }
</style>
