<template>
    <div>
        <v-card class="px-5 py-5 text-xs-center cardd" >
<!--            <v-flex xs12 sm12 class="mt-1">-->
<!--                <img v-if="featureImage" style="width: 50%;" :src="featureImageURL">-->
<!--            </v-flex>-->

<!--            <v-flex xs12 sm12 class="mt-1">-->
<!--                <input type="file" @change="handlePreview">-->
<!--            </v-flex>-->

            <v-flex xs12 sm12 class="my-3">
                <ValidationObserver ref="editCustomizationForm">
                    <v-form @submit.prevent="updateCustomization" v-model="valid" lazy-validation>
                        <ValidationProvider name="name" rules="required|uniqueVendorCustomizationName">
                            <h4 class="mb-2 font-weight-regular">
                                Customization Name
                                <span class="input-error" v-if="errors.first('name')">&nbsp;**{{ errors.first("name") }}</span>
                            </h4>
                            <v-text-field
                                    slot-scope="{errors,valid}"
                                    :error-messages="errors"
                                    :success="valid"
                                    solo
                                    name="name"
                                    v-model="customizationName"
                                    label="Customization Name"
                            ></v-text-field>
                        </ValidationProvider>

                        <v-btn
                                type="submit"
                                :loading="updating"
                                :disabled="updating"
                                color=""
                                class="text-xs-center ma-0 px-5 py-0 create-btn text&#45;&#45;white"
                        >
                            Update
                            <template v-slot:loader>
                                <img src="@/assets/img/preloader.gif" alt="Loading" height="40px">
                            </template>
                        </v-btn>
                    </v-form>
                </ValidationObserver>
<!--                <el-input placeholder="Enter Customization name"  v-model="customizationName"></el-input>-->
            </v-flex>
<!--            <v-btn  class="text-xs-center ma-0 px-5 py-0 create-btn text&#45;&#45;white" flat @click="addNewCustom=false">Create</v-btn>-->
        </v-card>
        <Snackbar :data="snackbar"/>
    </div>
</template>

<script>
    import { ValidationProvider, ValidationObserver } from 'vee-validate';
    import {ADD_CUSTOMIZATION, GET_ALL_CUSTOMIZATIONS, UPDATE_CUSTOMIZATION} from '../../../store/actionTypes';
    import Snackbar from '@/components/Snackbar';

    export default {
        components: {
            ValidationProvider, ValidationObserver, Snackbar
        },
        name: 'EditCustomizationModal',
        data() {
            return {
                featureImage: null,
                customizationName: '',
                valid: false,
                updating: false,
            }
        },
        props: ['isModalOpened', 'customization'],
        computed: {
            featureImageURL() {
                return URL.createObjectURL(this.featureImage);
            },
            featureImageIsValid() {
                return this.featureImage.size / 1024 / 1024 < 2;
            },
        },
        watch: {
            customization(newValue, oldValue) {
                  this.customizationName = newValue.name;
            },
        },
        methods: {
            handlePreview(featureImageEvent) {
                this.featureImage = featureImageEvent.target.files[0];
                if (!this.featureImageIsValid) {
                    this.featureImage = null;
                    toast('File Size cannot be greater than 2MB!', 'error');
                }
            },
            handleRemove(featureImage) {
                this.featureImage = null;
            },
            async updateCustomization() {
                if (!(await this.$refs.editCustomizationForm.validate())) {
                    return;
                }

                this.updating = true;
                this.$store.dispatch(UPDATE_CUSTOMIZATION, {id: this.customization.id, newData: {name: this.customizationName}}).then(resp => {
                    if (typeof resp === 'object' && resp.type === 'error') {
                        this.snackbar.show = true;
                        this.snackbar.text = Object.values(resp.error)[0][0];
                        this.snackbar.color = 'error';
                    } else if (resp) {
                        this.snackbar.show = true;
                        this.snackbar.text = 'Customization updated successfully';
                        this.snackbar.color = 'primary';
                        this.updating = false;
                        this.$store.dispatch(GET_ALL_CUSTOMIZATIONS);
                        this.$emit('customizationUpdated');
                    }
                }).catch(e => {
                    toast('An error occurred, please refresh and try again!', 'error');
                    this.updating = false;
                });
            }
        }
    }
</script>

<style scoped>
.create-btn{
        background: #00CFF6;
        color: white;
    }
    .create-btn:hover{
        background: #1E97E0;
        color: white;
    }
</style>
