<template>
    <div>
        <v-card class="px-5 py-5 text-xs-center cardd" >
<!--            <v-flex xs12 sm12 class="mt-1">-->
<!--                <img v-if="featureImage" style="width: 50%;" :src="featureImageURL">-->
<!--            </v-flex>-->

<!--            <v-flex xs12 sm12 class="mt-1">-->
<!--                <input type="file" @change="handlePreview">-->
<!--            </v-flex>-->

            <v-flex xs12 sm12 class="my-3">
                <ValidationObserver ref="newCustomizationForm">
                    <v-form @submit.prevent="createCustomization" v-model="valid" lazy-validation>
                        <ValidationProvider name="name" rules="required|uniqueVendorCustomizationName">
                            <h4 class="mb-2 font-weight-regular">
                                Customization Name
                                <span class="input-error" v-if="errors.first('name')">&nbsp;**{{ errors.first("name") }}</span>
                            </h4>
                            <v-text-field
                                    slot-scope="{errors,valid}"
                                    :error-messages="errors"
                                    :success="valid"
                                    solo
                                    name="name"
                                    v-model="customizationName"
                                    label="Customization Name"
                            ></v-text-field>
                        </ValidationProvider>

                        <v-btn
                                type="submit"
                                :loading="loading"
                                :disabled="loading"
                
                                class="text-xs-center ma-0 px-5 py-0 create-btn text--white" flat
                        >
                            Create
                            <template v-slot:loader>
                                <img src="@/assets/img/preloader.gif" alt="Loading" height="40px">
                            </template>
                        </v-btn>
                    </v-form>
                </ValidationObserver>
<!--                <el-input placeholder="Enter Customization name"  v-model="customizationName"></el-input>-->
            </v-flex>
<!--            <v-btn  class="text-xs-center ma-0 px-5 py-0 create-btn text&#45;&#45;white" flat @click="addNewCustom=false">Create</v-btn>-->
        </v-card>
        <Snackbar :data="snackbar"/>
    </div>
</template>

<script>
    import { ValidationProvider, ValidationObserver } from 'vee-validate';
    import {ADD_CUSTOMIZATION, GET_ALL_CUSTOMIZATIONS} from '../../../store/actionTypes';
    import Snackbar from '@/components/Snackbar';

    export default {
        components: {
            ValidationProvider, ValidationObserver, Snackbar
        },
        name: 'NewCustomizationModal',
        data() {
            return {
                featureImage: null,
                customizationName: '',
                valid: false,
                loading: false,
            }
        },
        props: ['isModalOpened'],
        computed: {
            featureImageURL() {
                return URL.createObjectURL(this.featureImage);
            },
            featureImageIsValid() {
                return this.featureImage.size / 1024 / 1024 < 2;
            },
        },
        methods: {
            handlePreview(featureImageEvent) {
                this.featureImage = featureImageEvent.target.files[0];
                if (!this.featureImageIsValid) {
                    this.featureImage = null;
                    toast('File Size cannot be greater than 2MB!', 'error');
                }
            },
            handleRemove(featureImage) {
                this.featureImage = null;
            },
            async createCustomization() {
                if (!(await this.$refs.newCustomizationForm.validate())) {
                    return;
                }

                this.loading = true;
                this.$store.dispatch(ADD_CUSTOMIZATION, {name: this.customizationName}).then(resp => {
                    if (typeof resp === 'object' && resp.type === 'error') {
                        if (resp.message === 'Unauthenticated.') {
                            this.snackbar.show = true;
                            this.snackbar.text = `You're unauthenticated, please Login again!`;
                            this.snackbar.color = 'error';
                            setTimeout(() => {
                                this.$router.push('/login');
                            }, 1000);
                        } else {
                            this.snackbar.show = true;
                            this.snackbar.text = Object.values(resp.error)[0][0];
                            this.snackbar.color = 'error';
                        }
                    } else if (resp) {
                        this.snackbar.show = true;
                        this.snackbar.text = 'Customization created successfully';
                        this.snackbar.color = 'primary';
                        this.$store.dispatch(GET_ALL_CUSTOMIZATIONS);
                        this.$emit('customizationCreated');
                        this.$router.push({ path: `/dashboard/customization/${resp.id}` });
                    }
                    this.loading = false;
                }).catch(e => {
                    toast('An error occurred, please refresh and try again!', 'error');
                    this.loading = false;
                });
            }
        }
    }
</script>

<style scoped>
.create-btn{
        background: #00CFF6;
        color: white;
    }
    .create-btn:hover{
        background: #1E97E0;
        color: white;
    }
</style>
