<template>
  <div>
    <v-card class="py-4 px-3">
      <v-flex xs12 sm12 md12 class="py-0">
        <h4 class="py-1">Withdraw from Escrow Account</h4>
        <v-text-field label="10000" solo name="amount" v-model="amount"></v-text-field>
      </v-flex>

      <v-card-actions class="py-0 my-0">
        <v-spacer></v-spacer>
        <v-btn
          color="warning"
          @click="withdraw"
          class="ma-0 px-3 py-0 add-btn float-xs-right text-xs-right"
        >Withdraw</v-btn>
      </v-card-actions>
    </v-card>
    <Snackbar :data="snackbar" />
  </div>
</template>

<script>
import Snackbar from '@/components/Snackbar';

import APIService from '../../../services/APIService';

export default {
  components: {
    Snackbar
  },
  data() {
    return {
      amount: '',
      loading: false
    };
  },
  methods: {
    async withdraw() {
      const postData = {
        amount: this.amount
      };
      if (this.loading) {
        return;
      }
      this.loading = true;


       if(this.amount < 1000){
          this.loading = false;
          this.snackbar.show = true;
          this.snackbar.text = 'Minimum amount should be 1000';
          this.snackbar.color = 'error';

          return
      }


      try {
        const { data } = await APIService.post('/vendor/escrow-withdraw', postData);

        this.snackbar.show = true;
        this.snackbar.text = 'Withdraw Request Sent Successfully';
        this.snackbar.color = 'success';
        setTimeout(() => {
          this.loading = false;
          this.amount = '';
          this.$emit('closeDialog');
        }, 3000);
      } catch (err) {
        this.loading = false;
        if (err.response.data.message) {
          this.snackbar.show = true;
          this.snackbar.text = err.response.data.message;
          this.snackbar.color = 'error';
        } else {
          this.snackbar.show = true;
          this.snackbar.text = 'Invalid Amount, Enter Numbers Only';
          this.snackbar.color = 'error';
        }
      }

    }
  }
};
</script>