<template>
    <div>
        <v-app>
            <router-view></router-view>
        </v-app>
    </div>
</template>

<script>
    import {GET_ALL_CUSTOMIZATIONS, GET_INDUSTRIES, GET_PRODUCT_TAGS, GET_USER, GET_VENDOR} from './store/actionTypes';
    import TokenService from './services/TokenService';

    export default {
        name: 'App',
        components: {},
        data() {
            return {};
        },
        mounted() {
            if (!!TokenService.getToken())
                this.$store.dispatch(GET_USER)
                && this.$store.dispatch(GET_VENDOR)
                && this.$store.dispatch(GET_INDUSTRIES)
                && this.$store.dispatch(GET_PRODUCT_TAGS)
                && this.$store.dispatch(GET_ALL_CUSTOMIZATIONS);
        },
    };
</script>

<style lang="scss">
    h1 {
    }
</style>
