* {
  margin: 0;
  box-sizing: border-box
}

#app {
  max-width: 1680px;
  margin-left: auto;
  margin-right: auto;
}

.theme--light.application {
  background: none;
}

label {
  margin-bottom: 0.5rem;
}

.container {
  margin-left: auto;
  margin-right: auto
}