.header {
  position: sticky;
  top: 0;
  z-index: 100;
}

.subheader {
  .div {
    border-bottom: 1px solid lightgrey;
  }

  &__text {
    font-size: 20px;
  }

  &__title {
    font-size: 2rem;

    @media screen and (min-width: 600px) {
      font-size: 3rem;
    }
  }
}