.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 30px;
}

@media (min-width: $break-sm) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: $break-md) {
  .grid {
    grid-template-columns: repeat(3, 1fr);

    &.five {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}

@media (min-width: 1560px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.max-w-xs {
  max-width: 20rem !important;
}

.max-w-sm {
  max-width: 30rem !important;
}

.max-w-md {
  max-width: 40rem !important;
}

.max-w-lg {
  max-width: 50rem !important;
}

.max-w-xl {
  max-width: 60rem !important;
}

.max-w-2xl {
  max-width: 80rem !important;
}

.max-w-unset {
  max-width: unset !important;
}

.min-h-xs {
  min-height: 20rem !important;
}

.min-h-sm {
  min-height: 30rem !important;
}

.min-h-md {
  min-height: 40rem !important;
}

.min-h-lg {
  min-height: 50rem !important;
}

.min-h-xl {
  min-height: 60rem !important;
}

.min-h-2xl {
  min-height: 80rem !important;
}

.min-h-unset {
  min-height: unset !important;
}

.relative {
  position: relative
}

.absolute {
  position: absolute
}

input.hidden {
  opacity: 0;
  z-index: 2;
}

.w-100 {
  width: 100%;
}

.w-85 {
  width: 85%
}

.w-75 {
  width: 75%;
}

.h-full {
  min-height: 100vh;
  height: 100%;
}

.h-100 {
  height: 100%;
}

.fixed {
  position: fixed !important;
}

.p-unset {
  position: unset !important
}

.sticky {
  position: sticky !important;
  z-index: 2;
}

.top {
  top: 0 !important;
}

.left {
  left: 0 !important
}

.right {
  right: 0 !important;
}

.float-left {
  float: left
}

.z-2 {
  z-index: 2;
}

.w-auto {
  width: auto;
}

.chat {
  min-height: 50vh;

  &__form {
    &--layout {
      border: 1px solid #333;
      padding: 0.375rem;
      border-radius: 5px;
    }

    &--input {
      width: 100%;
      border: 1px solid transparent;
      background: none;
    }
  }

  &__no-message {
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center
  }

  &__area {
    height: 400px;
    max-height: 400px;
    margin-top: 2rem;
    overflow-y: auto;
    padding-right: 0.5rem;

    &--div {
      display: -webkit-box;
      flex-direction: column;
      justify-content: flex-end;
      height: 100%
    }
  }

  &__box {
    background: $primary;
    padding: 1.5rem 2rem;
    color: white;
    margin-bottom: 1.5rem;
    border-radius: 20px;
    width: 80%;

    &--vendor {
      margin-left: auto;

      &:first-child {
        margin-top: 2rem
      }
    }
  }
}

.tracker {
  .aside {
    &__store {
      text-align: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      padding-top: 2rem;
      padding-bottom: 2rem;

      @media screen and (min-width: $break-md) {
        border-left: 1px solid rgba(0, 0, 0, 0.12);
      }
    }

    &__client {
      padding: 2rem 1rem;

      @media screen and (min-width: $break-md) {
        border-left: 1px solid rgba(0, 0, 0, 0.12);
      }

      &--h4 {
        text-align: center;
        margin-top: 1.5rem;
      }

      &--list {
        max-height: 40vh;
        height: 100%;
        overflow-y: auto;
      }
    }
  }
}