.border-round {
  border-radius: 50%;
}
.h-full {
  min-height: 1vh !important;
}
.no-shadow {
  box-shadow: none !important;
}
.overflow-x-scroll {
    overflow-x: hidden!important;
}
.z-100 {
  z-index: 100 !important;
}
  .v-menu__content .theme--light .menuable__content__active{
background:#fff!important;
  }

:focus {
  box-shadow: none;
  outline: none;
}

.pointer {
  cursor: pointer;
}

.input-error {
  font-size: 10px;
  color: $error;
}
.el-upload-dragger {
border:none;
}
.summary_cards {
  display: flex;
  height: 20rem;
  border-radius: 10px;
}

.product-flick {
  width: 100%;
  height: 200px;

  .carousel-cell {
    width: 100%;
    height: 200px
  }
}

.product-slick {
  width: 100%;

  .slick-track {
    display: flex;
    align-items: center
  }
}

.d-product-img {
  max-height: 150px
}

.work-over {
  background: rgba(33, 33, 33, 0.3)
}

/* ---------------------------------------------------
SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  align-items: stretch;
}


#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}
