@import 'variables';

.v-stepper__step {
  padding: 4px;
}

.v-stepper__header .v-divider {
  margin: 0;
  border: 1px solid;
}

.on-boarding {
  .v-stepper__header {
    box-shadow: none;
    width: 70%;
  }

  .sub .v-stepper__step.v-stepper__step--active .sub-step,
  .sub .v-stepper__step.v-stepper__step--complete .sub-step {
    background: $success;
  }
}

.tracker {
  .v-stepper__header {
    box-shadow: none;
  }

  .sub .v-stepper__step.v-stepper__step--active .sub-step,
  .sub .v-stepper__step.v-stepper__step--complete .sub-step {
    background: $primary;
  }

  .stepper__content {
    padding-left: 0;
    padding-right: 0;
    max-width: 600px;
    width: 100%;

    &--grid {
      margin-top: 1.5rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;

      @media screen and (min-width: 600px) {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}

@media only screen and (max-width: 959px) {
  .v-stepper:not(.v-stepper--vertical) .v-stepper__label {
    display: block;
  }
}

.v-stepper__step__step {
  display: none !important;
  opacity: 0 !important;
}

.sub .v-stepper__step.v-stepper__step--inactive .sub-step {
  background: transparent;
  border: 1px solid #bababa
}

.sub-step {
  width: 20px;
  height: 20px;
  border-radius: 50%;

}