// breakpoints

$break-sm: 600px;
$break-md: 960px;
$break-lg: 1264px;
$break-xl: 1904px;

$primary: #38b4ff;
// $secondary: #6dbd56;
$accent: #8c9eff;
$success: #6DBD56;
$error: #f97a5d;
$white: #fff;
$nude: #bababa;

$text-color: #000;
