.v-input--checkbox {
  label {
    margin-bottom: 0
  }
}

.v-text-field__details {
  display: none;
}

.v-input:not(.v-input--checkbox) {
  &:not(.v-select, .no-border) {
    .v-input__control {
      min-height: unset !important;

      .v-input__slot {
        box-shadow: none !important;
        border: 1px solid #bababa;
        margin-bottom: 0;
        border-radius: 10px !important;
      }
    }
  }

  &.no-border {

    .v-input__slot {
      background: transparent;
      box-shadow: none !important;
      border: 1px solid transparent !important;
      margin-bottom: 0;
      border-radius: 10px !important;
    }
  }
}

@media (min-width: $break-sm) {
  .v-input__control {
    .v-input__slot {
      margin-bottom: 1.5rem;
    }
  }
}

.v-input--is-disabled,
.v-input--is-readonly {
  .v-input__slot {
    background: #e9e9e9 !important;
    color: #000 !important;
    border: 1px solid #e9e9e9 !important;
  }
}

// v-btn
.v-btn {
  text-transform: unset;
  box-shadow: none !important;
  border: 1px solid #bababa !important;
  border-radius: 10px;
  height: unset !important;

  .v-btn__content {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &.nav-btn {
    width: auto;

    .v-btn__content {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }

  &.no-border {
    border: none !important;
  }
}

.v-btn--active:before,
.v-btn:hover:before,
.v-btn:focus:before {
  background-color: transparent;
}

.v-btn,
a {
  color: unset;
  text-decoration: none;
  text-transform: initial;

  &:hover {
    opacity: 0.85;
    background: none;
  }

  &.hover:hover {
    opacity: 0.7;
    background: rgba(33, 33, 33, 0.02);
  }
}

// v-toolbar
.border-bottom {
  .v-toolbar__content {
    border-bottom: 3px solid #dbdbdb;
  }
}

// v-stepper

.v-stepper__step--inactive {
  span {
    background: transparent !important;
    border: 1px solid #bababa !important;
  }
}

.v-stepper__step--active,
.v-stepper__step--complete {
  span {
    background: $primary;
    color: $primary !important;
  }

  i {
    display: none;
  }
}

// v-data table

.v-datatable {
  tr {
    &:hover {
      background: #fcfcfc !important;
    }

    &:nth-child(2n) {
      background: #e2f4ff;

      &:hover {
        background: #dcedf8 !important;
      }
    }
  }
}

// v-pagination

.theme--light.v-pagination {
  .v-pagination__item {
    background: transparent;
    color: $text-color;
    box-shadow: none;
  }

  .v-pagination__item--active {
    color: $primary !important;
    background: transparent !important;
    box-shadow: none !important;
  }

  .v-pagination__navigation {
    background: transparent;
    box-shadow: none;
  }
}

.v-list.faq {

  .v-list__tile--link:hover,
  .theme--light.v-list .v-list__tile--highlighted .theme--light.v-list .v-list__group__header:hover {
    background: unset !important;
    font-weight: bold;
  }
}

.nudelight.v-expansion-panel__container--active {
  &>div:first-child {
    font-weight: bold;
  }
}